#### <span class='entity-name'>Office</span> <span class='action-name'>Index</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Office.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Office.html#method_search'>PHP Search Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Office</span> <span class='action-name'>Index</span> Example</span>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_office_service.html#a419c26b18ea70a208d17de79b6009901'>.Net <span class='action-name'>OfficeService.GetCompanyOfficesAsync</span> Docs</a></span></blockquote></div>


> First page of all <span class='entity-name'>Office</span> objects for specified <span class='entity-name'>Company</span>

```http
GET /api/offices?moxi_works_company_id=abc123 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "moxi_works_company_id":"the_company"
}

```


```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var moxiWorksCompanyId = "abc123";

var service = new OfficeService(new MoxiWorksClient());
var results = service.GetCompanyOfficesAsync(moxiWorksCompanyId: moxiWorksCompanyId).Result;

```


```ruby

##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

company_offices = MoxiworksPlatform::Office.search(moxi_works_company_id: "abc123")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$company_offices = MoxiworksPlatform\Office::search(['moxi_works_company_id' => 'abc123']);
?>
```

> Second page of All <span class='entity-name'>Office</span> objects for a specified <span class='entity-name'>Company</span>

```http
GET /api/offices?moxi_works_company_id=abc123&page_number=2 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "moxi_works_company_id":"the_company",
  "page_number":2
}

```

```ruby
company_offices = MoxiworksPlatform::Office.search(moxi_works_company_id: "abc123",  page_number: 2)

```

```php
<?php
$company_offices = MoxiworksPlatform\Office::search(['moxi_works_company_id' => 'abc123',  'page_number' => 2]);
?>
```

##### <span class='entity-name'>Office</span> <span class='action-name'>Index</span> Request Attributes

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/offices</aside>

When searching for <span class='entity-name'>Office</span> entities using the Moxi Works platform API, format your data using the following parameters.


Attribute | Type  | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_company_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255<span> |
|<span class="optional-data">page_number</span>|<span class="data-type">Integer</span>| 255 |


<span class="required-data">**Required Parameters Are In Red**</span>


<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid Moxi Works <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<aside class="note">Use <a href='#company'>Company Endpoint</a> to determine the moxi_works_company_id to send.</aside>

<span class="request-data-head">page_number</span>
<span class="request-data-remarks">For queries with multi-page responses, use the <span class='attribute-name'>page_number</span> parameter to return data for specific pages. Data for page 1 is returned if this parameter is not included. Use this parameter if **total_pages** indicates that there is more than one page of data available.</span>



<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label">Office Index: Success Response</span>
</div></blockquote>

```json

{
  "page_number":9,
  "total_pages":9,
  "offices":[
    {
    "moxi_works_office_id":"feedface-dead-beef-aadf-baddeedc645",
    "id":"1234",
    "image_url":"http://the.office.image/image.png",
    "name":"Bob's Better Brokerage",
    "address":"101 South Southerly Street",
    "address2":null,
    "city":"Townseville",
    "county":"Ye Olde Countrie",
    "state":"UM",
    "zip_code":"12123",
    "alt_phone":"8185551212",
    "email":"office@bobsbetterbrokers.erp",
    "facebook":null,
    "google_plus":null,
    "phone":"8185551213",
    "timezone":"Pacific Time (US & Canada)",
    "twitter":null,
    "office_website":"http://the.office.website"
    }
  ]
}
```

<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label">Office Index: Failure Response</span>
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json
{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

<span class='entity-name'>Office</span>  <span class='action-name'>Index</span> responses are divided into pages of  <span class='entity-name'>Office</span> objects. Use response payload attributes <span class='attribute-name'>total_pages</span> and <span class='attribute-name'>page_number</span> to determine how many pages of  <span class='entity-name'>Office</span> objects there are and whether additional pages need to be requested.


Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">page_number</span>|<span class="data-type">Integer</span>|
|<span class="response-data">total_pages</span>|<span class="data-type">Integer</span>|
|<span class="response-data">offices</span>|<span class="data-type">Array</span>|

###### <span class='attribute-name'>offices</span> Object

The <span class='attribute-name'>offices</span> array contains Dictionary objects representing <span class='entity-name'>Office</span> entries. The structure of each <span class='entity-name'>Office</span> entry is shown below.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">moxi_works_office_id</span>|<span class="data-type">String</span>|
|<span class="response-data">id</span>|<span class="data-type">String</span>|
|<span class="response-data">image_url</span>|<span class="data-type">String or null</span>|
|<span class="response-data">name</span>|<span class="data-type">String or null</span>|
|<span class="response-data">address</span>|<span class="data-type">String or null</span>|
|<span class="response-data">address2</span>|<span class="data-type">String or null</span>|
|<span class="response-data">city</span>|<span class="data-type">String or null</span>|
|<span class="response-data">county</span>|<span class="data-type">String or null</span>|
|<span class="response-data">state</span>|<span class="data-type">String or null</span>|
|<span class="response-data">zip_code</span>|<span class="data-type">String or null</span>|
|<span class="response-data">alt_phone</span>|<span class="data-type">String or null</span>|
|<span class="response-data">email</span>|<span class="data-type">String or null</span>|
|<span class="response-data">facebook</span>|<span class="data-type">String or null</span>|
|<span class="response-data">google_plus</span>|<span class="data-type">String or null</span>|
|<span class="response-data">phone</span>|<span class="data-type">String or null</span>|
|<span class="response-data">timezone</span>|<span class="data-type">String or null</span>|
|<span class="response-data">twitter</span>|<span class="data-type">String or null</span>|
|<span class="response-data">office_website</span>|<span class="data-type">String or null</span>|

<span class="response-data-head">moxi_works_office_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the office for this <span class='entity-name'>Office</span>. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>


<span class="response-data-head">id</span>
<span class="response-data-remarks">An alternate integer ID of the office. If you are integrating with Moxi Works Authentication services, you should use this ID.</span>


<span class="response-data-head">image_url</span>
<span class="response-data-remarks">URL to an image of the office. This can be null if there is no data for this attribute.</span>


<span class="response-data-head">name</span>
<span class="response-data-remarks">The name of the office. This can be null if there is no data for this attribute.</span>


<span class="response-data-head">address</span>
<span class="response-data-remarks">The street address of the office. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">address2</span>
<span class="response-data-remarks">The suite or office number of the office. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">city</span>
<span class="response-data-remarks">The city the office is in. This can be null if there is no data for this attribute.</span>


<span class="response-data-head">county</span>
<span class="response-data-remarks">The county the office is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">state</span>
<span class="response-data-remarks">The state or provice the office is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">zip_code</span>
<span class="response-data-remarks">The postal code the office is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">alt_phone</span>
<span class="response-data-remarks">Alternate phone number for the office. This should be considered second in priority to <span class='attribute-name'>phone_number</span>.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">email</span>
<span class="response-data-remarks">This is the office's main email address. This email address should be considered the email address the office would prefer to be contacted by.  This can be null if there is no data for this attribute.</span>


<span class="response-data-head">facebook</span>
<span class="response-data-remarks">Office's Facebook page url.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">google_plus</span>
<span class="response-data-remarks">Office's Google Plus account name.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">phone_number</span>
<span class="response-data-remarks">This is the office's main phone number.  This number should be considered the number the office would prefer to be contacted by. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">timezone</span>
<span class="response-data-remarks">Timezone the office is in.</span>


<span class="response-data-head">twitter</span>
<span class="response-data-remarks">Office's Twitter account name. This can be null if there is no data available for this attribute.</span>

<span class="response-data-head">office_website</span>
<span class="response-data-remarks">Office's website URL. This can be null if there is no data available for this attribute.</span>
