#### <span class='entity-name'>Office</span> <span class='action-name'>Show</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Office.html#find-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Office.html#method_find'>PHP Search Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_office_service.html#a775ee3f4fc5a0aaeadf64accc5af6e9c'>.Net <span class='action-name'>OfficeService.GetOfficeAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Office</span> <span class='action-name'>Show</span> Example</span>


> Requested <span class='entity-name'>Office</span> object

```http
GET /api/offices/deadbeef-deadbeef-feed-facedeadbeef HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "moxi_works_office_id":"deadbeef-sdeadbeef-feed-facedeadbeef"
}

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var moxiWorksOfficeId = "deadbeef-deadbeef-feed-facedeadbeef";

var service = new OfficeService(new MoxiWorksClient());
var results = service.GetOfficeAsync(moxiWorksOfficeId).Result;

```


```ruby

##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

company_offices = MoxiworksPlatform::Office.find(moxi_works_office_id: "deadbeef-deadbeef-feed-facedeadbeef")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$company_offices = MoxiworksPlatform\Office::find(['moxi_works_office_id' => 'deadbeef-deadbeef-feed-facedeadbeef']);
?>
```

##### <span class='entity-name'>Office</span> <span class='action-name'>Show</span> Request Attributes

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/offices/[moxi_works_office_id]</aside>

When showing <span class='entity-name'>Office</span> entities using the Moxi Works platform API, format your data using the following parameters.


Attribute | Type  | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_office_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255<span> |
|<span class="required-data">moxi_works_company_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255<span> |


<span class="required-data">**Required Parameters Are In Red**</span>


<span class="request-data-head">moxi_works_office_id</span>
<span class="request-data-remarks">A valid Moxi Works <span class='entity-name'>Office</span> ID. Use [Office Index Endpoint](#office-index) for a list of all <span class='entity-name'>Office</span> objects associated with  a <span class='entity-name'>Company</span> or use the <span class='attribute-name'>moxi_works_office_id</span> attribute returned in an <span class='entity-name'>Agent</span> response.</span>


<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid Moxi Works <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<aside class="note">Use <a href='#company'>Company Endpoint</a> to determine the moxi_works_company_id to send.</aside>


<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label">Office Show: Success Response</span>
</div></blockquote>

```json

  {
    "moxi_works_office_id":"feedface-dead-beef-aadf-baddeedc645",
    "id":"1234",
    "client_office_id":"abc123",
    "image_url":"http://the.office.image/image.png",
    "name":"Bob's Better Brokerage",
    "common_name":"Bob's Salsburry Hill Branch",
    "address":"101 South Southerly Street",
    "address2":null,
    "city":"Townseville",
    "county":"Ye Olde Countrie",
    "state":"UM",
    "zip_code":"12123",
    "alt_phone":"8185551212",
    "email":"office@bobsbetterbrokers.erp",
    "facebook":null,
    "google_plus":null,
    "phone":"8185551213",
    "timezone":"Pacific Time (US & Canada)",
    "twitter":null,
    "office_website":"http://the.office.website",
    "region":"WESTERN WASHINGTON"
  }

```

<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label">Office Show: Failure Response</span>
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json
{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```


Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">moxi_works_office_id</span>|<span class="data-type">String</span>|
|<span class="response-data">id</span>|<span class="data-type">String</span>|
|<span class="response-data">client_office_id</span>|<span class="data-type">String</span>|
|<span class="response-data">name</span>|<span class="data-type">String or null</span>|
|<span class="response-data">common_name</span>|<span class="data-type">String or null</span>|
|<span class="response-data">image_url</span>|<span class="data-type">String or null</span>|
|<span class="response-data">address</span>|<span class="data-type">String or null</span>|
|<span class="response-data">address2</span>|<span class="data-type">String or null</span>|
|<span class="response-data">city</span>|<span class="data-type">String or null</span>|
|<span class="response-data">county</span>|<span class="data-type">String or null</span>|
|<span class="response-data">state</span>|<span class="data-type">String or null</span>|
|<span class="response-data">zip_code</span>|<span class="data-type">String or null</span>|
|<span class="response-data">alt_phone</span>|<span class="data-type">String or null</span>|
|<span class="response-data">email</span>|<span class="data-type">String or null</span>|
|<span class="response-data">facebook</span>|<span class="data-type">String or null</span>|
|<span class="response-data">google_plus</span>|<span class="data-type">String or null</span>|
|<span class="response-data">phone</span>|<span class="data-type">String or null</span>|
|<span class="response-data">timezone</span>|<span class="data-type">String or null</span>|
|<span class="response-data">twitter</span>|<span class="data-type">String or null</span>|
|<span class="response-data">office_website</span>|<span class="data-type">String or null</span>|
|<span class="response-data">region</span>|<span class="data-type">String or null</span>|
|<span class="response-data">created_timestamp</span>|<span class="data-type">Integer</span>|
|<span class="response-data">deactivated_timestamp</span>|<span class="data-type">Integer or null</span>|

<span class="response-data-head">moxi_works_office_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the office for this <span class='entity-name'>Office</span>. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">id</span>
<span class="response-data-remarks">An alternate integer ID of the office. If you are integrating with Moxi Works Authentication services, you should use this ID.</span>

<span class="response-data-head">client_office_id</span>
<span class="response-data-remarks">This is the  ID of the office utilized by the company.</span>

<span class="response-data-head">image_url</span>
<span class="response-data-remarks">URL to an image of the office. This can be null if there is no data for this attribute.</span>


<span class="response-data-head">name</span>
<span class="response-data-remarks">The legal name of the office. This can be null if there is no data for this attribute.</span>


<span class="response-data-head">common_name</span>
<span class="response-data-remarks">The commonly known name of the office. This can be null if there is no data for this attribute.</span>


<span class="response-data-head">address</span>
<span class="response-data-remarks">The street address of the office. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">address2</span>
<span class="response-data-remarks">The suite or office number of the office. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">city</span>
<span class="response-data-remarks">The city the office is in. This can be null if there is no data for this attribute.</span>


<span class="response-data-head">county</span>
<span class="response-data-remarks">The county the office is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">state</span>
<span class="response-data-remarks">The state or provice the office is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">zip_code</span>
<span class="response-data-remarks">The postal code the office is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">alt_phone</span>
<span class="response-data-remarks">Alternate phone number for the office. This should be considered second in priority to <span class='attribute-name'>phone_number</span>.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">email</span>
<span class="response-data-remarks">This is the office's main email address. This email address should be considered the email address the office would prefer to be contacted by.  This can be null if there is no data for this attribute.</span>


<span class="response-data-head">facebook</span>
<span class="response-data-remarks">Office's Facebook page url.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">google_plus</span>
<span class="response-data-remarks">Office's Google Plus account name.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">phone_number</span>
<span class="response-data-remarks">This is the office's main phone number.  This number should be considered the number the office would prefer to be contacted by. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">timezone</span>
<span class="response-data-remarks">Timezone the office is in.</span>


<span class="response-data-head">twitter</span>
<span class="response-data-remarks">Office's Twitter account name. This can be null if there is no data available for this attribute.</span>

<span class="response-data-head">office_website</span>
<span class="response-data-remarks">Office's website URL. This can be null if there is no data available for this attribute.</span>

<span class="response-data-head">region</span>
<span class="response-data-remarks">The region the agent's office is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">created_timestamp</span>
<span class="response-data-remarks">This is the Unix timestamp representing the date that this <span class='entity-name'>Office</span> was created in the MoxiWorks system.</span>

<span class="response-data-head">deactivated_timestamp</span>
<span class="response-data-remarks">This is the Unix timestamp representing the date that this <span class='entity-name'>Office</span> was deactivated in the MoxiWorks system. This will be returned null if the office is still active.</span>
