<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>API Documentation</title>

    <link href="../stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../stylesheets/print.css" rel="stylesheet" type="text/css" media="print" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="../javascripts/all_nosearch.js" type="text/javascript"></script>

  </head>

  <body class="partials partials_getting_started">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src="../images/navbar.png" alt="Navbar" />
      </span>
    </a>
    <div class="tocify-wrapper">
      <img src="../images/logo.png" alt="Logo" />
      <div id="toc">
      </div>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <h1 id="welcome">Welcome</h1>

<p>Welcome to the MoxiWorks Platform documentation. Here you&rsquo;ll find documentation about integrating with the MoxiWorks Authentication service and MoxiWorks API.  </p>

<h2 id="getting-started">Getting Started</h2>

<p>If you have not received your platform credentials, please contact your MoxiWorks Platform Partner Services Representative. Once you have received your MoxiWorks Platform Credentials, you can begin your integration. For details on the integration process for MoxiWorks Authentication service, please see <a href="#moxi-works-authentication">MoxiWorks Authentication section</a>. For details about integration with MoxiWorks API, see <a href="#moxi-works-v1-api">MoxiWorks API section</a>.</p>

<h3 id="credentials">Credentials</h3>

<p>When starting your integration process with MoxiWorks Authentication or MoxiWorks API your MoxiWorks Platform representative will issue you a dedicated set of credentials for either MoxiWorks Authentication, MoxiWorks API or both. For MoxiWorks Authentication, you&rsquo;ll be provided a Client ID and a Client Secret that you can use along with this documentation to integrate with MoxiWorks Platform Authentication service. For MoxiWorks API, you&rsquo;ll be provided a Platform Identifier and Platform Secret to send in your requests. For more information about MoxiWorks Authentication credentials, see <a href="#oauth-credentials">OAuth Credentials</a>. For more information about MoxiWorks API Credentials, see <a href="#authorization">API Authorization</a>.</p>

<h4 id="qa-credentials">QA Credentials</h4>

<p>When integrating with MoxiWorks API, you will be issued QA credentials and standard MoxiWorks Platform credentials. Your MoxiWorks QA credentials will be different than your MoxiWorks Platform credentials and will not work on the MoxiWorks Platform.</p>

      </div>
      <div class="dark-box">
      </div>
    </div>
  </body>
</html>
