<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>API Documentation</title>

    <link href="../stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../stylesheets/print.css" rel="stylesheet" type="text/css" media="print" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="../javascripts/all_nosearch.js" type="text/javascript"></script>

  </head>

  <body class="partials partials_oauth_authentication">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src="../images/navbar.png" />
      </span>
    </a>
    <div class="tocify-wrapper">
      <img src="../images/logo.png" />
      <div id="toc">
      </div>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <h1 id="moxi-works-authentication">Moxi Works Authentication</h1>

<h3 id="oauth-authentication">OAuth Authentication</h3>

<p>Moxi Works provides an authentication service to allow clients to use Moxi Works user accounts on their own properties.
This can be useful to avoid managing end-user accounts and to provide a more seamless integration between Moxi Works sites and client sites.</p>

<p>Authentication is provided with the industry-standard <a href="http://oauth.net/2/">OAuth 2 protocol</a>.
OAuth 2 is used to get an access token for an individual user.
That access token can then be used to look up information about the user, including a user&rsquo;s unique identifier.</p>

<h3 id="oauth-credentials">OAuth Credentials</h3>

<p>OAuth 2 requires that clients have a <code class="prettyprint">client_id</code> and a <code class="prettyprint">client_secret</code>.</p>

<p>The <code class="prettyprint">client_id</code> is an identifier for an individual client.
It doesn&rsquo;t need to be kept secret.</p>

<p>The <code class="prettyprint">client_secret</code> is a secret for proving to Moxi Works that requests are coming from the client they claim to be.
It must not be shared with any party other than Moxi Works.
That includes sending it to the end user&rsquo;s browser and sharing with other third-party services.</p>

<p>Contact your account manager to get a <code class="prettyprint">client_id</code> and <code class="prettyprint">client_secret</code> for your application.
If there are third-party services that need access to Moxi Works&rsquo; authentication service, contact your account manager to get a <code class="prettyprint">client_id</code> and <code class="prettyprint">client_secret</code> for them as well.</p>

<p>When you get your <code class="prettyprint">client_id</code> and <code class="prettyprint">client_secret</code>, you will also need to provide a list of valid <code class="prettyprint">redirect_uri</code>s.
These are the allowed locations to communicate information about the user&rsquo;s authentication state back to clients.
Checking this list against a whitelist is a requirement of the OAuth 2 protocol.
The requirement exists to make sure that no information about end users is leaked to unauthorized parties.
A single <code class="prettyprint">redirect_uri</code> is common, but more can be added if desired.
This list can be updated at any time.
Contact your account manager for assistance.</p>

<h3 id="oauth-2-protocol">OAuth 2 Protocol</h3>

<p>Moxi Works authentication uses the <a href="https://tools.ietf.org/html/rfc6749#section-4.1">Authorization Code Grant</a> Oauth 2 flow.</p>

<p>This section describes the flow in detail, as used by Moxi Works authentication.
Most of this can be automated by using an appropriate OAuth 2 client library.</p>

<h4 id="client-initiation">Client Initiation</h4>

<p>The authorization code grant begins with the client deciding to authorize the end user.</p>

<aside class="note">Direct the user&rsquo;s web browser to load https://sso.moxiworks.com/oauth/authorize</aside>

<table><thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Remark</th>
<th>Required</th>
</tr>
</thead><tbody>
<tr>
<td><span class="required-data">client_id</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The <code class="prettyprint">client_id</code> assigned to this client</span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
<tr>
<td><span class="required-data">redirect_uri</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The location to redirect the end user&rsquo;s user agent to after authenticating the end user</span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
<tr>
<td><span class="required-data">response_type</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">This field must always be set to <code class="prettyprint">code</code></span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
<tr>
<td><span class="required-data">state</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">If provided, this value will be in the response to the <code class="prettyprint">redirect_uri</code>. Its purpose is to allow sending per-request data without changing the <code class="prettyprint">redirect_uri</code>.</span></td>
<td><span class="required-data">optional</span></td>
</tr>
<tr>
<td><span class="required-data">company_uuid</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">If provided, this value gives a hint for the authorization system about what brokerate agents logging in will be from. This is used to ensure agents have the correct sign-in experience, if required. If it&rsquo;s not provided, it will be inferred from the <code class="prettyprint">client_id</code>.</span></td>
<td><span class="required-data">optional</span></td>
</tr>
<tr>
<td><span class="required-data">moxi_works_company_id</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">Another method to specify agent sign-in experience. Serves the same purpose as <code class="prettyprint">company_uuid</code>, but takes the same format company id as the rest of the API uses. Will be ignored if <code class="prettyprint">company_uuid</code> is also provided.</span></td>
<td><span class="required-data">optional</span></td>
</tr>
</tbody></table>

<p>Moxi Works will authenticate the user and redirect their user agent to the <code class="prettyprint">redirect_uri</code> specified.
When the user agent requests the <code class="prettyprint">redirect_uri</code>, it will have one or two additional query arguments provided.
It will have a parameter named <code class="prettyprint">code</code> which contains the authorization code.
If the original request contained a <code class="prettyprint">state</code> parameter, the redirect will also contain a <code class="prettyprint">state</code> parameter with the same value.</p>

<h4 id="access-token-request">Access Token Request</h4>

<p>Once the client has an authorization code, they can exchange it for an access token and a refresh token.</p>

<aside class="note">Send a <b>POST</b> request to https://sso.moxiworks.com/oauth/token</aside>

<table><thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Remark</th>
<th>Required</th>
</tr>
</thead><tbody>
<tr>
<td><span class="required-data">client_id</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The <code class="prettyprint">client_id</code> assigned to this client</span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
<tr>
<td><span class="required-data">client_secret</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The <code class="prettyprint">client_secret</code> assigned to this client</span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
<tr>
<td><span class="required-data">code</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The authorization code obtained in the previous step</span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
<tr>
<td><span class="required-data">grant_type</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">This field must always be set to <code class="prettyprint">authorization_code</code></span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
<tr>
<td><span class="required-data">redirect_uri</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">This must exactly match the <code class="prettyprint">redirect_uri</code> as provided in the request to get the authorization code</span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
</tbody></table>

<p>This call responds with a JSON object containing the following values:</p>

<table><thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Remark</th>
</tr>
</thead><tbody>
<tr>
<td><span class="required-data">access_token</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The access token.</span></td>
</tr>
<tr>
<td><span class="required-data">token_type</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The type of the access token. This will always be <code class="prettyprint">bearer</code>.</span></td>
</tr>
<tr>
<td><span class="required-data">expires_in</span></td>
<td><span class="data-type">Number</span></td>
<td><span class="data-remarks">The length of time the access token is valid for, in seconds.</span></td>
</tr>
<tr>
<td><span class="required-data">refresh_token</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The refresh token for getting a new access token.</span></td>
</tr>
<tr>
<td><span class="required-data">created_at</span></td>
<td><span class="data-type">Number</span></td>
<td><span class="data-remarks">The POSIX timestamp at which this access token was issued.</span></td>
</tr>
</tbody></table>

<h4 id="refresh-token-request">Refresh Token Request</h4>

<p>Access tokens are short-lived.
For most uses of authentication, this is sufficient - getting a unique identifier for the user at the time they authenticate is all that is needed.
In some cases, the client will wish to perform subsequent lookups of end user information, beyond the lifetime of the access token.
When a client wishes to do this they can use the refresh token to get a new access token.</p>

<aside class="note">Send a <b>POST</b> request to https://sso.moxiworks.com/oauth/token</aside>

<table><thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Remark</th>
<th>Required</th>
</tr>
</thead><tbody>
<tr>
<td><span class="required-data">client_id</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The <code class="prettyprint">client_id</code> assigned to this client</span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
<tr>
<td><span class="required-data">client_secret</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The <code class="prettyprint">client_secret</code> assigned to this client</span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
<tr>
<td><span class="required-data">refresh_token</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The refresh token previously obtained for this end user</span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
<tr>
<td><span class="required-data">grant_type</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">This field must always be set to <code class="prettyprint">refresh_token</code></span></td>
<td><span class="required-data"><strong>required</strong></span></td>
</tr>
</tbody></table>

<p>This call responds with a JSON object of a form identical to the previous means of getting an access token.</p>

<h3 id="obtaining-end-user-profiles">Obtaining End User Profiles</h3>

<p>An access token can be used to get information about an end user.</p>

<aside class="note">Send a <b>GET</b> request to https://sso.moxiworks.com/agent/profile</aside>

<p>The request is gated by the presence of an OAuth 2 access token.</p>

<p>To send the access token in the request, add an <code class="prettyprint">Authorization</code> HTTP header with a value of <code class="prettyprint">Bearer &lt;access_token&gt;</code>.</p>

<p>If the access token has expired or is otherwise invalid, the server responds with a <code class="prettyprint">401 Unauthorized</code> status and the <code class="prettyprint">WWW-Authenticate</code> header specifying <code class="prettyprint">error=&quot;invalid_token&quot;</code>.</p>

<p>If the access token is valid, but the user isn&rsquo;t authorized to authenticate with the client, the server responds with a <code class="prettyprint">401 Unauthorized</code> status and the <code class="prettyprint">WWW-Authenticate</code> header specifying <code class="prettyprint">error=&quot;user_not_authorized&quot;</code>.</p>

<p>If the access token was valid, a JSON object is returned:</p>

<table><thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Remark</th>
</tr>
</thead><tbody>
<tr>
<td><span class="required-data">display_name</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The end user&rsquo;s display name</span></td>
</tr>
<tr>
<td><span class="required-data">username</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">A unique (mutable) identifier for the end user</span></td>
</tr>
<tr>
<td><span class="required-data">user_id</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">A unique (immutable) identifier for the end user</span></td>
</tr>
<tr>
<td><span class="required-data">email</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The end user&rsquo;s email address</span></td>
</tr>
<tr>
<td><span class="required-data">company_name</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">The name of the company the end user works at</span></td>
</tr>
<tr>
<td><span class="required-data">external_id</span></td>
<td><span class="data-type">String</span></td>
<td><span class="data-remarks">A unique identifier for the end user provided by the user&rsquo;s company</span></td>
</tr>
</tbody></table>

<p>More fields may be added to this in the future.
Consumers of this data should not fail if more fields are present in the result.</p>

      </div>
      <div class="dark-box">
      </div>
    </div>
  </body>
</html>
