#### <span class='entity-name'>Company</span> <span class='action-name'>Index</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Company.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Company.html#method_search'>PHP Search Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_company_service.html'>.Net <span class='action-name'>CompanyService.GetCompaniesAsync</span> Docs</a></span></blockquote></div>

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/companies</aside>

The <span class='entity-name'>Company</span> <span class='action-name'>Index</span> endpoint will return all <span class='entity-name'>Company</span> entities your organization is associated with. When searching for <span class='entity-name'>Company</span> entities using the MoxiWorks platform API, format your request using the following parameters.


> <span class="data-example-label"><span class='entity-name'>Company </span><span class='action-name'>Index </span>Request Example</span>

```http
GET /api/companies HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{}

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";


var service = new CompanyService(new MoxiWorksClient());
var results = service.GetCompaniesAsync().Result;

```

```ruby
companies = MoxiworksPlatform::Company.search

```

```php
<?php
$companies = MoxiworksPlatform\Company::search();
?>
```

##### <span class='entity-name'>Company</span> <span class='action-name'>Index</span> Request Attributes

Attribute | Type | Length Limit |
-----|-----|-----|-----|



##### <span class='entity-name'>Company</span> <span class='action-name'>Index</span> Response Payload

<span class='entity-name'>Company</span> <span class='action-name'>Index</span> returns an array of objects representing  companies that your organization has access to.
The following attributes make up the payload of each <span class='entity-name'>Company</span> object returned in an <span class='action-name'>Index</span> request.

<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Company</span> <span class='action-name'>Index</span> Response Payload Example
</span></div></blockquote>


```json

[
{
  "moxi_works_company_id":"bobs_brokerage",
  "name":"Bob's Brokerage",
  "client_company_id":"some_external_identifier"
},
{
  "moxi_works_company_id":"real_estate_two_bajillion",
  "name":"Real Estate Two-Bajillion",
  "client_company_id":"someOtherExternalIdentifier"
}
]
```


<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label"><span class='entity-name'>Company</span> <span class='action-name'>Index</span> Failure Response</span>
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```


###### <span class='action-name'>Index</span> Response Attributes

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">moxi_works_company_id</span>|<span class="data-type">String</span>|
|<span class="response-data">name</span>|<span class="data-type">String</span>|
|<span class="response-data">client_company_id</span>|<span class="data-type">String</span>|

<span class="response-data-head">moxi_works_company_id</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Company</span>. This will be an alphanumeric identification string which will be similar to the company name.</span>

<span class="response-data-head">name</span>
<span class="response-data-remarks">This is a human readable name of the company which this <span class='entity-name'>Company</span> object represents.</span>

<span class="response-data-head">client_company_id</span>
<span class="response-data-remarks">This is a client-specified identifier of the company which this <span class='entity-name'>Company</span> object represents, or null if absent.</span>
