#### <span class='entity-name'>Company</span> <span class='action-name'>Show</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Company.html#find-class_method'>Ruby Find Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Company.html#method_find'>PHP Find Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_company_service.html#a3f7e55f8deaf8bd1a8f07c08ef832669'>.Net <span class='action-name'>CompanyService.GetCompanyAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Company</span> <span class='action-name'>Show</span> Example</span>

```http
GET /api/companies/[moxi_works_company_id] HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "moxi_works_company_id":"abc123"
}

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";


var companyId = "company_id";

var service = new CompanyService(new MoxiWorksClient());
var results = service.GetCompanyAsync(companyId).Result;

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_company = MoxiworksPlatform::Company.find(moxi_works_company_id: "1234abcd")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_company = MoxiworksPlatform\Company::find([
        'moxi_works_company_id' => '1234abcd']);
?>
```

##### <span class='entity-name'>Company</span> <span class='action-name'>Show</span> Request Attributes


<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/companies/[moxi_works_company_id]</aside>

When finding an <span class='entity-name'>Company</span> using the MoxiWorks platform API, format your request using the following parameters.


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_company_id</span>|<span class="required-data"><span class="data-type">String</span></span> | <span class="required-data">255</span>

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid MoxiWorks <span class='entity-name'>Company</span> ID. You can pass either the alphanumeric key (similar to the company name in most cases) or the numeric identifier (numeric_id in the company response).</span>

<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Company</span> <span class='action-name'>Show</span> Response Payload Example
</span></div></blockquote>

```json

{
    "moxi_works_company_id":"bobs_brokerage",
    "name":"Bob's Brokerage",
    "numeric_id": "1234567",
    "client_company_id":"some_external_identifier"
}
```

<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>Company</span> <span class='action-name'>Show</span> Failure Response
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

##### <span class='entity-name'>Company</span> <span class='action-name'>Show</span> Response Payload

The following attributes make up the payload of the <span class='entity-name'>Company</span> response for a <span class='action-name'>Show</span> request.


###### <span class='action-name'>Show</span> Response Attributes

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">moxi_works_company_id</span>|<span class="data-type">String</span>|
|<span class="response-data">name</span>|<span class="data-type">String</span>|
|<span class="response-data">numeric_id</span>|<span class="data-type">String</span>|
|<span class="response-data">client_company_id</span>|<span class="data-type">String</span>|
|<span class="response-data">partners</span>|<span class="data-type">Array</span>|

<span class="response-data-head">moxi_works_company_id</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Company</span>. This will be an alphanumeric identification string which will be similar to the company name.</span>

<span class="response-data-head">name</span>
<span class="response-data-remarks">This is a human readable name of the company which this <span class='entity-name'>Company</span> object represents.</span>

<span class="response-data-head">numeric_id</span>
<span class="response-data-remarks">This is the numeric company id that is interchangeable with the <span class='attribute-name'>moxi_works_agent_id</span> in all request scenarios</span>

<span class="response-data-head">client_company_id</span>
<span class="response-data-remarks">This is a client-specified identifier of the company which this <span class='entity-name'>Company</span> object represents, or null if absent.</span>

<span class="response-data-head">partners</span>
<span class="response-data-remarks">Partner data associated with this company</span>



###### <span class='attribute-name'>partners</span> Objects

Exstence of objects in the `partners` data structure is dependent upon external relationships existing between the company represented by this <span class='entity-name'>Company</span> and the affiliate.

<aside class="note">Documented entities in the `partners` data structure may or may not be returned based on company relationship. Your logic should be engineered to handle cases where the entity you are interested in is returned and where an empty data structure is returned.</aside>


###### <span class='attribute-name'>leading_re</span> partner Objects

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">salesforce_id</span>|<span class="response-data"><span class="data-type">String or null</span>

<span class="response-data-head">id</span>
<span class="response-data-remarks">This is the unique ID of this company in the LeadingRE system. </span>

<span class="response-data-head">salesforce_id</span>
<span class="response-data-remarks">This is the unique salesforce ID of the company in the LeadingRE system.</span>
