#### <span class='entity-name'>Company</span> <span class='action-name'>Show</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Company.html#find-class_method'>Ruby Find Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Company.html#method_find'>PHP Find Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Company</span> <span class='action-name'>Show</span> Example</span>

```http
GET /api/companies/[moxi_works_company_id] HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "moxi_works_company_id":"abc123"
}

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_company = MoxiworksPlatform::Company.find(moxi_works_company_id: "1234abcd")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_company = MoxiworksPlatform\Company::find([
        'moxi_works_company_id' => '1234abcd']);
?>
```

##### <span class='entity-name'>Company</span> <span class='action-name'>Show</span> Request Attributes


<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/companies/[moxi_works_company_id]</aside>

When finding an <span class='entity-name'>Company</span> using the Moxi Works platform API, format your request using the following parameters.


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_company_id</span>|<span class="required-data"><span class="data-type">String</span></span> | <span class="required-data">255</span>

<span class="required-data">**Required Parameters Are In Red**</span>


<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid Moxi Works <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>


<aside class="note">Use <a href='#company'>Company Endpoint</a> to determine the moxi_works_company_id to send.</aside>

<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Company</span> <span class='action-name'>Show</span> Response Payload Example
</span></div></blockquote>

```json

{
    "moxi_works_company_id":"bobs_brokerage",
    "name":"Bob's Brokerage"
}
```

<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>Company</span> <span class='action-name'>Show</span> Failure Response
</div></blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

##### <span class='entity-name'>Company</span> <span class='action-name'>Show</span> Response Payload

The following attributes make up the payload of the <span class='entity-name'>Company</span> response for a <span class='action-name'>Show</span> request.


###### <span class='action-name'>Show</span> Response Attributes

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">moxi_works_company_id</span>|<span class="data-type">String</span>|
|<span class="response-data">name</span>|<span class="data-type">String</span>|

<span class="response-data-head">moxi_works_company_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Company</span>. This will be an alphanumeric identifcation string which will be similar to the company name.</span>

<span class="response-data-head">name</span>
<span class="response-data-remarks">This is a human readable name of the company which this <span class='entity-name'>Company</span> object represents.</span>
