#### <span class='entity-name'>Task</span> <span class='action-name'>Create</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Task.html#create-class_method'>Ruby Create Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Task.html#method_create'>PHP Create Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_seller_transaction_service.html#ad1adf03e7c1d210938cc8553e584a2b5'>.Net <span class='action-name'>SellerTransactionService.CreateSellerTransactionAsync</span> Docs</a></span></blockquote></div>


> <span class="data-example-label"><span class='entity-name'>Task</span> <span class='action-name'>Create</span> (using <span class='attribute-name'>agent_uuid</span>) Example</span>

```json
{
  "agent_uuid":"12345678-1234-1234-1234-1234567890ab",
  "description":"talk to private kane, e-one-thousand about stuff",
  "due_at":1466208866,
  "duration":10,
  "name":"Do This Please",
  "partner_contact_id":"mySystemsContactID",
  "partner_task_id":"mySystemsTaskID"
}

```

```http
POST /api/tasks HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

agent_uuid=12345678-1234-1234-1234-1234567890ab&description=talk+to+private+kane,%2C+e-one-thousand%2C+about+stuff&due_at=1466208866&duration=10&name=Do+This+Please&partner_contact_id=mySystemContactId&partner_task_id=mySystemTaskId

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";


var task = new Task();
task.AgentUuid = "12345678-1234-1234-1234-1234567890ab";
task.description = "talk to private kane, e-one-thousand about stuff";
task.dueAt = 1466208866;
task.duration = 10;
task.name = "Do This Please";
task.partnerContactId = "mySystemsContactID";
task.partnerTaskId = mySystemsTaskID";


var service = new TaskService(new MoxiWorksClient());
var result = service.CreateTaskAsync(task).Result;

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_task = MoxiworksPlatform::Task.create(
        agent_uuid: "12345678-1234-1234-1234-1234567890ab",
        partner_task_id: "mySystemTaskId",
        partner_contact_id: 'mySystemContactId',
        name: "Meet And Greet",
        description: "Set up a meeting to talk to this contact about their new home",
        due_at: 1466208866,
        duration: 10
        )

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_task = MoxiworksPlatform\Task::create([
        'agent_uuid' => '12345678-1234-1234-1234-1234567890ab',
        'partner_task_id' => 'mySystemTaskId',
        'partner_contact_id' => 'mySystemContactId',
        'name' => 'Meet And Greet',
        'description' => 'Set up a meeting to talk to this contact about their new home',
        'due_at' => 1466208866,
        'duration' => 10
       ]);
?>
```



> <span class="data-example-label"><span class='entity-name'>Task</span> <span class='action-name'>Create</span> (using <span class='attribute-name'>moxi_works_agent_id</span>) Example</span>

```json
{
  "moxi_works_agent_id":"abc123",
  "description":"talk to private kane, e-one-thousand about stuff",
  "due_at":1466208866,
  "duration":10,
  "name":"Do This Please",
  "partner_contact_id":"mySystemsContactID",
  "partner_task_id":"mySystemsTaskID"
}

```

```http
POST /api/tasks HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

moxi_works_agent_id=abc123&description=talk+to+private+kane,%2C+e-one-thousand%2C+about+stuff&due_at=1466208866&duration=10&name=Do+This+Please&partner_contact_id=mySystemContactId&partner_task_id=mySystemTaskId

```


```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";


var task = new Task();
task.moxiWorksAgentId = "abc123";
task.description = "talk to private kane, e-one-thousand about stuff";
task.dueAt = 1466208866;
task.duration = 10;
task.name = "Do This Please";
task.partnerContactId = "mySystemsContactID";
task.partnerTaskId = mySystemsTaskID";


var service = new TaskService(new MoxiWorksClient());
var result = service.CreateTaskAsync(task).Result;

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_task = MoxiworksPlatform::Task.create(
        moxi_works_agent_id: "1234abcd",
        partner_task_id: "mySystemTaskId",
        partner_contact_id: 'mySystemContactId',
        name: "Meet And Greet",
        description: "Set up a meeting to talk to this contact about their new home",
        due_at: 1466208866,
        duration: 10
        )

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_task = MoxiworksPlatform\Task::create([
        'moxi_works_agent_id' => '1234abcd',
        'partner_task_id' => 'mySystemTaskId',
        'partner_contact_id' => 'mySystemContactId',
        'name' => 'Meet And Greet',
        'description' => 'Set up a meeting to talk to this contact about their new home',
        'due_at' => 1466208866,
        'duration' => 10
       ]);
?>
```



<aside class="note">Send a <b>POST</b> request to https://api.moxiworks.com/api/tasks</aside>

When creating an task using the MoxiWorks platform API, format your data using the following parameters.

##### <span class='entity-name'>Task</span> <span class='action-name'>Create</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="multi-option-required-data">agent_uuid*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">moxi_works_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="required-data">partner_task_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span>
|<span class="required-data">partner_contact_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span> |
|<span class="required-data">name</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span> |
|<span class="required-data">due_at</span>|<span class="required-data"><span class="data-type">Integer</span></span>|<span class="required-data">255</span> |
|<span class="optional-data">duration</span>|<span class="optional-data"><span class="data-type">Integer</span></span>| <span class="optional-data">255</span> |
|<span class="optional-data">description</span>|<span class="data-type">String</span>| 255 |


<span class="multi-option-required-data">* **Either <span class='attribute-name'>moxi_works_agent_id</span> or <span class='attribute-name'>agent_uuid</span> must be supplied. For guidance on which Agent identifier better fits your use-case, see [Agent Identifiers](#agent-identifiers)**</span>


<span class="required-data">**Required Parameters Are In Red**</span>


<span class="request-data-head">agent_uuid</span>
<span class="request-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Agent</span> which an  <span class='entity-name'>Task</span> entry is associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID. <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> is required and must reference a valid MoxiWorks Agent ID for your <span class='entity-name'>Task</span> <span class='action-name'>Create</span> request to be accepted.</span>



<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Agent</span> which this <span class='entity-name'>Task</span> object is to be associated with. This will be a string that may take the form of an email address, or a unique identification string. This data is required and must reference a valid MoxiWorks Agent ID for your <span class='entity-name'>Task</span> <span class='action-name'>Create</span>  request to be accepted.</span>

<aside class="note">A company's internal agent id may be used to construct the agent's unique identification string. To do so, the value passed via the moxi_works_agent_id should be a single concatenated string, of the form:</br>[moxi_works_company_id]:[internal_agent_id]</br>Use <a href='#company'>Company Endpoint</a> to determine which moxi_works_company_id to use.</aside>

<span class="request-data-head">partner_task_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that will be associated with the <span class='entity-name'>Task</span> that you are creating. This data is required and must be a unique ID for your <span class='entity-name'>Task</span> <span class='action-name'>Create</span>  request to be accepted.</span>


<span class="request-data-head">partner_contact_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that this <span class='entity-name'>Task</span> regards.</span>


<span class="request-data-head">name</span>
<span class="request-data-remarks">A brief, human readable title that will be shown to the agent as the subject of the <span class='entity-name'>Task</span> that you are creating.</span>


<span class="request-data-head">description</span>
<span class="request-data-remarks">Brief, human readable content that will be shown to the agent as the body of the <span class='entity-name'>Task</span> that you are creating.</span>

<span class="request-data-head">due_at</span>
<span class="request-data-remarks">A Unix timestamp representing the point in time when the task associated with this <span class='entity-name'>Task</span> object should be completed by.</span>

<span class="request-data-head">duration</span>
<span class="request-data-remarks">The timespan (in minutes) that the task for this <span class='entity-name'>Task</span> object is expected to take.</span>




<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Task</span> <span class='action-name'>Create</span> (using <span class='attribute-name'>agent_uuid</span>) Response Payload Example
</span></div></blockquote>

```json
{
  "agent_uuid":"12345678-1234-1234-1234-1234567890ab",
  "partner_contact_id":"mySystemContactId",
  "name":"Meet And Greet",
  "description":"Set up a meeting to talk to this contact about their new home",
  "due_at":1466208866,
  "duration":10,
  "status":"active",
  "created_at":1466196521,
  "completed_at":null
}
```


<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Task</span> <span class='action-name'>Create</span> (using <span class='attribute-name'>moxi_works_agent_id</span>) Response Payload Example
</span></div></blockquote>

```json
{
  "moxi_works_agent_id":"1234abcd",
  "partner_contact_id":"mySystemContactId",
  "name":"Meet And Greet",
  "description":"Set up a meeting to talk to this contact about their new home",
  "due_at":1466208866,
  "duration":10,
  "status":"active",
  "created_at":1466196521,
  "completed_at":null
}
```

<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>Task</span> <span class='action-name'>Create</span> Failure Response Example
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json
{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```



##### <span class='entity-name'>Task</span> <span class='action-name'>Create</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>Task</span> response for a <span class='action-name'>Create</span> request.



Attribute | Type |
-----|-----|-----|-----|
|<span class="multi-option-response-data">agent_uuid*</span>|<span class="data-type">String</span>| |
|<span class="multi-option-response-data">moxi_works_agent_id*</span>|<span class="data-type">String</span>| |
|<span class="response-data">partner_contact_id</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">name</span>|<span class="data-type">String or null</span>|
|<span class="response-data">description</span>|<span class="data-type">String or null</span>|
|<span class="response-data">due_at</span>|<span class="data-type">Integer</span>|
|<span class="response-data">duration</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">status</span>|<span class="data-type">String or null</span>|
|<span class="response-data">created_at</span>|<span class="data-type">Integer</span>|
|<span class="response-data">completed_at</span>|<span class="data-type">Integer or null</span>|


<span class='multi-option-response-data'>* Either <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> will be returned depending on whether it is used in the request. The response payload object's agent identifier key will match the passed parameter.</span>

<span class="response-data-head">agent_uuid</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Agent</span> which this <span class='entity-name'>BuyerTransaction</span>  is associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">moxi_works_agent_id</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Agent</span>. This will be a string that may take the form of an email address, or a unique alphanumeric identification string.</span>

<span class="response-data-head">partner_contact_id</span>
<span class="response-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that you are creating this <span class='entity-name'>Task</span> for.</span>

<span class="response-data-head">name</span>
<span class="response-data-remarks">A brief, human readable title that will be shown to the agent as the subject of the <span class='entity-name'>Task</span>.</span>


<span class="response-data-head">description</span>
<span class="response-data-remarks">Brief, human readable content that will be shown to the agent as the body of the <span class='entity-name'>Task</span>.</span>


<span class="response-data-head">due_at</span>
<span class="response-data-remarks">A Unix timestamp representing the point in time when the task for this <span class='entity-name'>Task</span> object should be completed by.</span>


<span class="response-data-head">duration</span>
<span class="response-data-remarks">The timespan (in minutes) that the task for this <span class='entity-name'>Task</span> object is expected to take.</span>


<span class="response-data-head">created_at</span>
<span class="response-data-remarks">A Unix timestamp representing the point in time when the  <span class='entity-name'>Task</span> object was created.</span>


<span class="response-data-head">completed_at</span>
<span class="response-data-remarks">A Unix timestamp representing the point in time when the task for this <span class='entity-name'>Task</span> object was completed. This should be `null` if the task has not yet been completed.</span>
