#### <span class='entity-name'>Task</span> <span class='action-name'>Show</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Task.html#find-class_method'>Ruby Find Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Task.html#method_find'>PHP Find Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Task</span> <span class='action-name'>Show</span> Example</span>

```json

{
  "partner_task_id":"mySystemsTaskID",
  "moxi_works_agent_id":"abc123"
}

```

```http
GET /api/tasks/my_task_id?moxi_works_agent_id=abc123 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_task = MoxiworksPlatform::Task.find(
        moxi_works_agent_id: "1234abcd",
        partner_task_id: "booyuh")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_task = MoxiworksPlatform\Task::find([
        'moxi_works_agent_id' => '1234abcd',
        'partner_task_id' => 'booyuh']);
?>
```


<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/tasks/[partner_task_id]</aside>

When finding a <span class='entity-name'>Task</span> object using the Moxi Works platform API, format your data using the following parameters.

##### <span class='entity-name'>Task</span> <span class='action-name'>Show</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_agent_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span>
|<span class="required-data">partner_task_id</span>|<span class="required-data"><span class="data-type">String</span></span>| <span class="required-data">255</span>
|<span class="required-data">partner_contact_id</span>|<span class="required-data"><span class="data-type">String</span></span>| <span class="required-data">255</span>

<span class="required-data">**Required Parameters Are In Red**</span>



<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which the <span class='entity-name'>Task</span> objects are associated with. This will be a string that may take the form of an email address, or a unique identification string. This data is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>Task</span> <span class='action-name'>Show</span>  request to be accepted.</span>


<span class="request-data-head">partner_task_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Task</span>.</span>


<span class="request-data-head">partner_contact_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that this <span class='entity-name'>Task</span> is for.</span>


<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Task</span> <span class='action-name'>Show</span> Response Payload Example
</span></div></blockquote>

```json
{
  "moxi_works_agent_id": "1234abcd",
  "partner_contact_id": "abc123",
  "partner_task_id": "booyuh",
  "name": "pick up keys for home",
  "description": "pick up keys for 1234 Wherever Ave. from 1181 Brokerage Place",
  "due_at": 1462241468,
  "duration": 30,
  "status": "active",
  "created_at": 1462234227,
  "completed_at": null
}
```

<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>Task</span> <span class='action-name'>Show</span> Failure Response Example
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

##### <span class='entity-name'>Task</span> <span class='action-name'>Show</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>Task</span> response for a <span class='action-name'>Show</span> request.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">moxi_works_agent_id</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">partner_contact_id</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">partner_task_id</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">name</span>|<span class="data-type">String or null</span>|
|<span class="response-data">description</span>|<span class="data-type">String or null</span>|
|<span class="response-data">due_at</span>|<span class="data-type">Integer</span>|
|<span class="response-data">duration</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">status</span>|<span class="data-type">String or null</span>|
|<span class="response-data">created_at</span>|<span class="data-type">Integer</span>|
|<span class="response-data">completed_at</span>|<span class="data-type">Integer or null</span>|

<span class="response-data-head">moxi_works_agent_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span>. This will be a string that may take the form of an email address, or a unique alphanumeric identification string.</span>

<span class="response-data-head">partner_contact_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that this <span class='entity-name'>Task</span> is for.</span>


<span class="response-data-head">partner_task_id</span>
<span class="response-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Task</span>.</span>


<span class="response-data-head">name</span>
<span class="response-data-remarks">A brief, human readable title that will be shown to the agent as the subject of the <span class='entity-name'>Task</span>.</span>


<span class="response-data-head">description</span>
<span class="response-data-remarks">Brief, human readable content that will be shown to the agent as the body of the <span class='entity-name'>Task</span>.</span>


<span class="response-data-head">due_at</span>
<span class="response-data-remarks">A Unix timestamp representing the point in time when the task for this <span class='entity-name'>Task</span> object should be completed by.</span>


<span class="response-data-head">duration</span>
<span class="response-data-remarks">The timespan (in minutes) that the task for this <span class='entity-name'>Task</span> object is expected to take.</span>


<span class="response-data-head">created_at</span>
<span class="response-data-remarks">A Unix timestamp representing the point in time when the  <span class='entity-name'>Task</span> object was created.</span>


<span class="response-data-head">completed_at</span>
<span class="response-data-remarks">A Unix timestamp representing the point in time when the task for this <span class='entity-name'>Task</span> object was completed. This should be `null` if the task has not yet been completed.</span>
