#### <span class='entity-name'>Task</span> <span class='action-name'>Update</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Task.html#update-class_method'>Ruby Update Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Task.html#method_update'>PHP Update Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_task_service.html#acfae602855383216c7fd8b4b5544c9a0'>.Net <span class='action-name'>TaskService.UpdateTaskAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Task</span> <span class='action-name'>Update</span> (using <span class='attribute-name'>agent_uuid</span>) Example</span>

```json

{
  "agent_uuid":"12345678-1234-1234-1234-1234567890ab",
  "description":"talk to private kane, e-one-thousand about stuff",
  "due_at":1466208866,
  "duration":10,
  "name":"Do This Please",
  "moxi_works_contact_id":"myMoxiPlatformContactID",
  "partner_task_id":"mySystemsTaskID"
}


```


```http
PUT /api/tasks/[partner_task_id] HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

agent_uuid=12345678-1234-1234-1234-1234567890ab&description=talk+to+private+kane,%2C+e-one-thousand%2C+about+stuff&due_at=1466208866&duration=10&name=Do+This+Please&moxi_works_contact_id=mySystemContactId&partner_task_id=mySystemTaskId&status=completed

```


```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var agentUuid = "12345678-1234-1234-1234-1234567890ab";
var partnerTaskId = "babebead-feed-face-dead-beefbad4babe";
var partnerContactId = "booyuh";
var moxiWorksContactId = "booyuh";

var service = new TaskService(new MoxiWorksClient());
var task = service.GetTaskAsync( agentUuid,  AgentIdType.AgentUuid, partnerContactId,  moxiWorksContactId,  partnerTaskId: partnerTaskId).Result;
task.description = "talk to private kane, e-one-thousand about stuff";
task.dueAt = 1466208866;
task.duration = 10;
task.name = "Do This Please";
var result = service.UpdateTaskAsync( task).Result;

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_task = MoxiworksPlatform::Task.update(
        agent_uuid: "12345678-1234-1234-1234-1234567890ab",
        partner_task_id: "mySystemTaskId",
        moxi_works_contact_id: 'myMoxiPlatformContactId',
        name: "Meet And Greet",
        description: "Set up a meeting to talk to this contact about their new home",
        due_at: 1466208866,
        duration: 10,
        status: 'completed'
        )

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_task = MoxiworksPlatform\Task::update([
        'agent_uuid' => '12345678-1234-1234-1234-1234567890ab',
        'partner_task_id' => 'mySystemTaskId',
        'moxi_works_contact_id' => 'myMoxiPlatformContactId',
        'name' => 'Meet And Greet',
        'description' => 'Set up a meeting to talk to this contact about their new home',
        'due_at' => 1466208866,
        'duration' => 10,
        'status' => 'completed'
       ]);
?>
```


> <span class="data-example-label"><span class='entity-name'>Task</span> <span class='action-name'>Update</span> (using <span class='attribute-name'>moxi_works_agent_id</span>) Example</span>

```json

{
  "moxi_works_agent_id":"abc123",
  "description":"talk to private kane, e-one-thousand about stuff",
  "due_at":1466208866,
  "duration":10,
  "name":"Do This Please",
  "moxi_works_contact_id":"myMoxiPlatformContactID",
  "partner_task_id":"mySystemsTaskID"
}


```


```http
PUT /api/tasks/[partner_task_id] HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

moxi_works_agent_id=abc123&description=talk+to+private+kane,%2C+e-one-thousand%2C+about+stuff&due_at=1466208866&duration=10&name=Do+This+Please&moxi_works_contact_id=myMoxiPlatformContactId&partner_task_id=mySystemTaskId&status=completed

```



```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var moxiWorksAgentId = "abc123";
var partnerTaskId = "babebead-feed-face-dead-beefbad4babe";
var partnerContactId = "booyuh";
var moxiWorksContactId = "booyuh";

var service = new TaskService(new MoxiWorksClient());
var task = service.GetTaskAsync( moxiWorksAgentId,  AgentIdType.MoxiWorksAgentId,  partnerContactId, moxiWorksContactId,  partnerTaskId: partnerTaskId).Result;
task.description = "talk to private kane, e-one-thousand about stuff";
task.dueAt = 1466208866;
task.duration = 10;
task.name = "Do This Please";
var result = service.UpdateTaskAsync( task).Result;

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_task = MoxiworksPlatform::Task.update(
        moxi_works_agent_id: "1234abcd",
        partner_task_id: "mySystemTaskId",
        moxi_works_contact_id: 'myMoxiPlatformContactId',
        name: "Meet And Greet",
        description: "Set up a meeting to talk to this contact about their new home",
        due_at: 1466208866,
        duration: 10,
        status: 'completed'
        )

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_task = MoxiworksPlatform\Task::update([
        'moxi_works_agent_id' => '1234abcd',
        'partner_task_id' => 'mySystemTaskId',
        'moxi_works_contact_id' => 'myMoxiPlatformContactId',
        'name' => 'Meet And Greet',
        'description' => 'Set up a meeting to talk to this contact about their new home',
        'due_at' => 1466208866,
        'duration' => 10,
        'status' => 'completed'
       ]);
?>
```


<aside class="note">Send a <b>PUT</b> request to https://api.moxiworks.com/api/tasks/[partner_task_id]</aside>


<aside class="warning">MoxiWorks API will remove data for any attribute not defined within the parameters you send. For instance, if the <span class='entity-name'>name</span> attribute is not passed, the current <span class='attribute-name'>name</span> value for the <span class='entity-name'>Task</span> will be removed from the <span class='entity-name'>Task</span> stored in MoxiWorks.</aside>




When updating an task using the MoxiWorks platform API, format your data using the following parameters.

##### <span class='entity-name'>Task</span> <span class='action-name'>Update</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="multi-option-required-data">agent_uuid*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">moxi_works_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">source_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="required-data">partner_task_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span>
|<span class="required-data">moxi_works_contact_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span> |
|<span class="required-data">name</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span> |
|<span class="required-data">due_at</span>|<span class="required-data"><span class="data-type">Integer</span></span>|<span class="required-data">255</span> |
|<span class="optional-data">moxi_works_company_id</span>|<span class="data-type">String</span>|  |
|<span class="optional-data">partner_contact_id</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">parent_company_id</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">duration</span>|<span class="optional-data"><span class="data-type">Integer</span></span>| <span class="optional-data">255</span> |
|<span class="optional-data">description</span>|<span class="data-type">String</span>| 255 |

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="request-data-head multi-option-required-data"><span class='attribute-name'>moxi_works_agent_id</span> or <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>source_agent_id</span></span>
<span class="request-data-remarks">**One of these parameters must be supplied** Please reference [Agent Identifiers](#agent-identifiers) for information about how to construct your agent identifier request params.</span>

<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid MoxiWorks <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<span class="request-data-head">parent_company_id</span>
<span class="request-data-remarks">This is the <span class='attribute-name'>numeric_id</span> or <span class='attribute-name'>moxi_works_company_id</span> of a company that is considered to be a parent company in the MoxiWorks Platform. This request attribute has two functions:<br><br>	**1.** It provides for a broad scope by which partners may be afforded permissions to perform MoxiWorks Platform actions, in scenarios where a partner does business with a parent company in the MoxiWorks System.<br>	**2.** It provides broad scope under which agents may be looked up using the <span class='attribute-name'>source_agent_id</span> request attribute in many scenarios across different MoxiWorks Platform endpoints and actions.<br><br>	**Please note** that this attribute cannot be used as a replacement for the <span class='attribute-name'>moxi_works_company_id</span> request attribute in scenarios where the <span class='attribute-name'>moxi_works_company_id</span> request attribute is required by the action.<br><br>	**Please note** that this attribute cannot be used to broaden scope of any request where the scope of the request is defined by the <span class='attribute-name'>moxi_works_company_id</span> request attribute.<br><br>	**Please note** that when passed in conjunction with the <span class='attribute-name'>moxi_works_company_id</span> request attribute, the value of <span class='attribute-name'>moxi_works_company_id</span> request attribute must be the numeric id form.<br><br>	Any use of this request attribute must be coordinated with MoxiWorks Platform Partner services. Please reach out to partner services for more information.</span>

<span class="request-data-head">partner_task_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that is associated with the <span class='entity-name'>Task</span> that you are updating. This data is required and must be a unique ID for your <span class='entity-name'>Task</span> <span class='action-name'>Create</span>  request to be accepted.</span>

<span class="request-data-head">moxi_works_contact_id</span>
<span class="request-data-remarks">This is the unique moxi platform's contact identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that this <span class='entity-name'>Task</span> regards.</span>

<span class="request-data-head">partner_contact_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that this <span class='entity-name'>Task</span> regards.</span>


<span class="request-data-head">name</span>
<span class="request-data-remarks">A brief, human readable title that will be shown to the agent as the subject of the <span class='entity-name'>Task</span>.</span>


<span class="request-data-head">description</span>
<span class="request-data-remarks">Brief, human readable content that will be shown to the agent as the body of the <span class='entity-name'>Task</span>.</span>

<span class="request-data-head">due_at</span>
<span class="request-data-remarks">A Unix timestamp representing the point in time when the task associated with this <span class='entity-name'>Task</span> object should be completed by.</span>

<span class="request-data-head">duration</span>
<span class="request-data-remarks">The timespan (in minutes) that the task for this <span class='entity-name'>Task</span> object is expected to take.</span>






<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Task</span> <span class='action-name'>Update</span> (using <span class='attribute-name'>agent_uuid</span>) Response Payload Example
</span></div></blockquote>

```json

{
  "agent_uuid":"12345678-1234-1234-1234-1234567890ab",
  "partner_contact_id":"mySystemContactId",
  "moxi_works_contact_id":"myMoxiPlatformContactId",
  "name":"Meet And Greet",
  "description":"Set up a meeting to talk to this contact about their new home",
  "due_at":1466208866,
  "duration":10,
  "status":"completed",
  "created_at":1466196521,
  "completed_at":1466454540
}
```




<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Task</span> <span class='action-name'>Update</span> (using <span class='attribute-name'>moxi_works_agent_id</span>) Response Payload Example
</span></div></blockquote>

```json

{
  "moxi_works_agent_id":"1234abcd",
  "partner_contact_id":"mySystemContactId",
  "moxi_works_contact_id":"myMoxiPlatformContactId",
  "name":"Meet And Greet",
  "description":"Set up a meeting to talk to this contact about their new home",
  "due_at":1466208866,
  "duration":10,
  "status":"completed",
  "created_at":1466196521,
  "completed_at":1466454540
}
```


<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>Task</span> <span class='action-name'>Create</span> Failure Response Example
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```


##### <span class='entity-name'>Task</span> <span class='action-name'>Create</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>Task</span> response for a <span class='action-name'>Create</span> request.



Attribute | Type |
-----|-----|-----|-----|
|<span class="multi-option-response-data">agent_uuid*</span>|<span class="data-type">String</span>| |
|<span class="multi-option-response-data">moxi_works_agent_id*</span>|<span class="data-type">String</span>| |
|<span class="response-data">moxi_works_contact_id</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">partner_contact_id</span>|<span class="data-type">String or null</span>|
|<span class="response-data">name</span>|<span class="data-type">String or null</span>|
|<span class="response-data">description</span>|<span class="data-type">String or null</span>|
|<span class="response-data">due_at</span>|<span class="data-type">Integer</span>|
|<span class="response-data">duration</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">status</span>|<span class="data-type">String or null</span>|
|<span class="response-data">created_at</span>|<span class="data-type">Integer</span>|
|<span class="response-data">completed_at</span>|<span class="data-type">Integer or null</span>|


<span class='multi-option-response-data'>* Either <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> will be returned depending on whether it is used in the request. The response payload object's agent identifier key will match the passed parameter.</span>

<span class="response-data-head">agent_uuid</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Agent</span> which this <span class='entity-name'>Task</span>  is associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>


<span class="response-data-head">moxi_works_agent_id</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Agent</span>. This will be a string that may take the form of an email address, or a unique alphanumeric identification string.</span>

<span class="response-data-head">moxi_works_contact_id</span>
<span class="response-data-remarks">This is the unique moxi platform's contact identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that you are updating this <span class='entity-name'>Task</span> for.</span>

<span class="response-data-head">partner_contact_id</span>
<span class="response-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that you are updating this <span class='entity-name'>Task</span> for.</span>

<span class="response-data-head">name</span>
<span class="response-data-remarks">A brief, human readable title that will be shown to the agent as the subject of the <span class='entity-name'>Task</span>.</span>


<span class="response-data-head">description</span>
<span class="response-data-remarks">Brief, human readable content that will be shown to the agent as the body of the <span class='entity-name'>Task</span>.</span>


<span class="response-data-head">due_at</span>
<span class="response-data-remarks">A Unix timestamp representing the point in time when the task for this <span class='entity-name'>Task</span> object should be completed by.</span>


<span class="response-data-head">duration</span>
<span class="response-data-remarks">The timespan (in minutes) that the task for this <span class='entity-name'>Task</span> object is expected to take.</span>


<span class="response-data-head">created_at</span>
<span class="response-data-remarks">A Unix timestamp representing the point in time when the  <span class='entity-name'>Task</span> object was created.</span>


<span class="response-data-head">completed_at</span>
<span class="response-data-remarks">A Unix timestamp representing the point in time when the task for this <span class='entity-name'>Task</span> object was completed. This should be `null` if the task has not yet been completed.</span>
