#### Index

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Contact.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Contact.html#method_search'>PHP Search Docs</a></span></blockquote></div>

> <span class="data-example-label">Contact Index Example</span>

```http
GET /api/contacts?moxi_works_agent_id=abc123&contact_name=buckminster%20fuller HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_contact = MoxiworksPlatform::Contact.search(
        moxi_works_agent_id: "1234abcd",
        contact_name: "buckminster fuller")

```

```php
<?php
$platform_identifier = 'abc123'
$platform_secret = 'secret'

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret)

$moxi_works_contact = MoxiworksPlatform\Contact::search([
        $moxi_works_agent_id => "1234abcd",
        $contact_name => "buckminster fuller"])
?>
```


<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">Contact Index: Success Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http
HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

"page_number": 6
"total_pages": 6
"contacts": [{
  "moxi_works_agent_id": "1234abcd",
  "partner_contact_id": "booyuh",
  "contact_name": "buckminster fuller",
  "gender": "m",
  "primary_email_address": "me@justabout.right.here",
  "secondary_email_address": "me.too@justabout.right.here",
  "primary_phone_number": "9995551212",
  "secondary_phone_number": "(333) 555-1185",
  "home_street_address": "1234 Sesame St.",
  "home_city": "Cityville",
  "home_state": "Stateland",
  "home_zip": "12345-6789",
  "home_country": "Ottoman Empire",
  "job_title": "Junior Bacon Burner",
  "occupation": "chef",
  "property_url": "http://my.property.website.is/here",
  "property_mls_id": "abc123",
  "property_street_address": "2345 67th place",
  "property_city": "Townland",
  "property_state": "Statesville",
  "property_zip": "98765-4321",
  "property_beds": "18",
  "property_baths": "12.5",
  "property_list_price": "123456789",
  "property_listing_status": "Active",
  "property_photo_url": "http://property.photo.is/here.jpg",
  "search_city": "Searchland",
  "search_state": "Searchsylvania",
  "search_zip": "12345-6789",
  "search_min_beds": "2",
  "search_min_baths": "3.25",
  "search_min_price": "1234567",
  "search_max_price": "1234569",
  "search_min_sq_ft": "1234",
  "search_max_sq_ft": "1235",
  "search_min_lot_size": "3234",
  "search_max_lot_size": "3235",
  "search_min_year_built": "1388",
  "search_max_year_built": "2044",
  "search_property_types": "Condo, Single Family, Townhouse"
},
{
  "moxi_works_agent_id": "1234abcd",
  "partner_contact_id": "fooyuh",
  "contact_name": "buckminster fuller",
  "gender": "m",
  "primary_email_address": "whatever@whatevers.right.here",
  "secondary_email_address": "me.2009@2009.whatevers.here",
  "primary_phone_number": "202 123-4567",
  "secondary_phone_number": "(444) 555-6666",
  "home_street_address": "1234 Pecan Dr.",
  "home_city": "Cityville",
  "home_state": "Stateland",
  "home_zip": "12345-6789",
  "home_country": "Brovilee",
  "job_title": "Junior Cheese Head",
  "occupation": "football fan",
  "property_url": "http://my.property.website.is/here",
  "property_mls_id": "abc123",
  "property_street_address": "2345 67th place",
  "property_city": "Townland",
  "property_state": "Statesville",
  "property_zip": "98765-4321",
  "property_beds": "18",
  "property_baths": "12.5",
  "property_list_price": "123456789",
  "property_listing_status": "Active",
  "property_photo_url": "http://property.photo.is/here.jpg",
  "search_city": "Searchland",
  "search_state": "Searchsylvania",
  "search_zip": "12345-6789",
  "search_min_beds": "2",
  "search_min_baths": "3.25",
  "search_min_price": "1234567",
  "search_max_price": "1234569",
  "search_min_sq_ft": "1234",
  "search_max_sq_ft": "1235",
  "search_min_lot_size": "3234",
  "search_max_lot_size": "3235",
  "search_min_year_built": "1388",
  "search_max_year_built": "2044",
  "search_property_types": "Condo, Single Family, Townhouse"
}]
```

<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">Contact Index: Not Found Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http

HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

[]
```

<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">Contact Index: Failure Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http

HTTP/1.1 400 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/contacts</aside>


When searching for Contact entities using the Moxi Works platform API, format your data using the following parameters.


Attribute | Type| Remark | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_agent_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data"><span class="data-remarks">The agent's Moxi Works Platform ID</span></span>| <span class="required-data">255</span>
|<span class="optional-data">contact_name</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's full name.</span>| 255 |
|<span class="optional-data">email_address</span>|<span class="data-type">String</span>|<span class="data-remarks">An email address used by the contact -- may be primary or secondary.</span>| 255 |
|<span class="optional-data">phone_number</span>|<span class="data-type">String</span>|<span class="data-remarks">A phone numberused by the contact -- may be primary or secondary.</span>| 255 |
|<span class="optional-data">page_number</span>|<span class="data-type">Integer</span>|<span class="data-remarks">Page of responses. Use if **total_pages** indicates that there is more than one page of data available.</span>| 255 |

<span class="required-data">**Required Parameters Are In Red**</span>
