#### <span class='entity-name'>Contact</span> <span class='action-name'>Index</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Contact.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Contact.html#method_search'>PHP Search Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_contact_service.html#a1c7c6ceb5215958175c72a8894938f18'>.Net <span class='action-name'>ContactService.GetContactsAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Contact</span> <span class='action-name'>Index</span> (using <span class='attribute-name'>agent_uuid</span>) Example</span>


```json
{
  "agent_uuid":"12345678-1234-1234-1234-1234567890ab",
  "contact_name":"buckminster fuller"
}

```

```http
GET /api/contacts?agent_uuid=12345678-1234-1234-1234-1234567890ab&contact_name=buckminster%20fuller HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var agentUuid = "12345678-1234-1234-1234-1234567890ab";

var service = new ContactService(new MoxiWorksClient());
var results = service.GetContactsAsync(agentUuid, AgentIdType.AgentUuid, "buckminster fuller").Result;

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_contact = MoxiworksPlatform::Contact.search(
        agent_uuid: "12345678-1234-1234-1234-1234567890ab",
        contact_name: "buckminster fuller")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_contact = MoxiworksPlatform\Contact::search([
        'agent_uuid' => '12345678-1234-1234-1234-1234567890ab',
        'contact_name' => 'buckminster fuller']);
?>
```


> <span class="data-example-label"><span class='entity-name'>Contact</span> <span class='action-name'>Index</span> (using <span class='attribute-name'>moxi_works_agent_id</span>) Example</span>


```json
{
  "moxi_works_agent_id":"abc123",
  "contact_name":"buckminster fuller"
}

```

```http
GET /api/contacts?moxi_works_agent_id=abc123&contact_name=buckminster%20fuller HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var moxi = "abc123";

var service = new ContactService(new MoxiWorksClient());
var results = service.GetContactsAsync( agentUuid,  AgentIdType.MoxiWorksAgentId,  "buckminster fuller").Result;

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_contact = MoxiworksPlatform::Contact.search(
        moxi_works_agent_id: "1234abcd",
        contact_name: "buckminster fuller")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_contact = MoxiworksPlatform\Contact::search([
        'moxi_works_agent_id' => '1234abcd',
        'contact_name' => 'buckminster fuller']);
?>
```


<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/contacts</aside>


When searching for Contact entities using the MoxiWorks platform API, format your data using the following parameters.

##### <span class='entity-name'>Contact</span> <span class='action-name'>Index</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="multi-option-required-data">agent_uuid*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">moxi_works_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">source_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="optional-data">moxi_works_company_id</span>|<span class="data-type">String</span>|  |
|<span class="optional-data">parent_company_id</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">contact_name</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">email_address</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">phone_number</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">updated_since</span>|<span class="data-type">Integer</span>| 255 |
|<span class="optional-data">page_number</span>|<span class="data-type">Integer</span>| 255 |
|<span class="optional-data">only_business_contacts</span>|<span class="data-type">Boolean</span>|  |
|<span class="optional-data">timestamps_only</span>|<span class="data-type">Boolean</span>| 255 |

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="request-data-head multi-option-required-data"><span class='attribute-name'>moxi_works_agent_id</span> or <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>source_agent_id</span></span>
<span class="request-data-remarks">**One of these parameters must be supplied** Please reference [Agent Identifiers](#agent-identifiers) for information about how to construct your agent identifier request params.</span>

<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid MoxiWorks <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<span class="request-data-head">parent_company_id</span>
<span class="request-data-remarks">This is the <span class='attribute-name'>numeric_id</span> or <span class='attribute-name'>moxi_works_company_id</span> of a company that is considered to be a parent company in the MoxiWorks Platform. This request attribute has two functions:<br><br>	**1.** It provides for a broad scope by which partners may be afforded permissions to perform MoxiWorks Platform actions, in scenarios where a partner does business with a parent company in the MoxiWorks System.<br>	**2.** It provides broad scope under which agents may be looked up using the <span class='attribute-name'>source_agent_id</span> request attribute in many scenarios across different MoxiWorks Platform endpoints and actions.<br><br>	**Please note** that this attribute cannot be used as a replacement for the <span class='attribute-name'>moxi_works_company_id</span> request attribute in scenarios where the <span class='attribute-name'>moxi_works_company_id</span> request attribute is required by the action.<br><br>	**Please note** that this attribute cannot be used to broaden scope of any request where the scope of the request is defined by the <span class='attribute-name'>moxi_works_company_id</span> request attribute.<br><br>	**Please note** that when passed in conjunction with the <span class='attribute-name'>moxi_works_company_id</span> request attribute, the value of <span class='attribute-name'>moxi_works_company_id</span> request attribute must be the numeric id form.<br><br>	Any use of this request attribute must be coordinated with MoxiWorks Platform Partner services. Please reach out to partner services for more information.</span>

<span class="request-data-head">contact_name</span>
<span class="request-data-remarks">The full name of the contact which you are trying to find the <span class='entity-name'>Contact</span> record for.</span>


<span class="request-data-head">email_address</span>
<span class="request-data-remarks">An email address associated with the  <span class='entity-name'>Contact</span> record.</span>


<span class="request-data-head">phone_number</span>
<span class="request-data-remarks">A phone number associated with the <span class='entity-name'>Contact</span> record.</span>


<span class="request-data-head">updated_since</span>
<span class="request-data-remarks">Paged responses of all <span class='entity-name'>Contact</span> objects updated after this Unix timestamp will be returned in the response.</span>


<span class="request-data-head">page_number</span>
<span class="request-data-remarks">Page of <span class='entity-name'>Contact</span> records to return. Use if `total_pages` indicates that there is more than one page of data available.</span>


<span class="request-data-head">only_business_contacts</span>
<span class="request-data-remarks">Whether to only include <span class='entity-name'>Contact</span> records for contacts that are neither considered personal contacts nor work collaborators in the payload response.</span>
<aside class="note">By default all <span class='entity-name'>Contact</span> records will be returned. Use the `personal_contact` and `collaborator` response attributes to determine the status of any given contact.</aside>

<span class="request-data-head">timestamps_only</span>
<span class="request-data-remarks">If supplied then the results will exclude all data except primary identifiers and a unix timestamp (last_updated) & iso8601 timestamp (modification_timestamp) of the last time this record was updated.</span>


<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Contact</span> <span class='action-name'>Index</span>  Response Payload Example
</span></div></blockquote>

```json
{
  "totalCount": 1234,
  "totalCountWithPhoneNumbers": 567,
  "results": [
    {
      "id": 1234,
      "givenName": "John",
      "surname": "Doe",
      "companyName": "Mock Corp",
      "personalContact": false,
      "displayName": "John Doe",
      "middleName": null,
      "generation": null,
      "collaborator": false,
      "visibilityPlus": false,
      "thumbnail": "https://example.com/avatar.png",
      "isNew": true,
      "source": "MockSource",
      "sourceName": "MockSourceName",
      "calculatedName": "John Doe",
      "isOnFire": false,
      "nameSeed": "1234",
      "hidden": null,
      "createdAt": "2023-01-01T00:00:00.000-00:00",
      "lastViewedAt": null,
      "updatedAt": "2023-01-01T00:00:00.000-00:00",
      "systemCategories": [
        "MockCategory"
      ],
      "pastBuyer": false,
      "pastSeller": false,
      "excludeFromStayInFlow": false,
      "lastTouchedAt": null,
      "categoryType": null,
      "transactions": [],
      "marketingRecords": [],
      "contactCategories": [
        {
          "id": 1234,
          "name": "Mock Contacts"
        },
        {
          "id": 1234,
          "name": "Core Group"
        },
        {
          "id": 1234,
          "name": "Sphere"
        }
      ],
      "emailAddresses": [
        {
          "id": 1234,
          "key": null,
          "name": null,
          "routingType": null,
          "mailboxType": null,
          "text": "john.doe@example.com",
          "label": null,
          "remoteKey": null,
          "priority": 3,
          "renamable": true,
          "title": "custom"
        }
      ],
      "phoneNumbers": [],
      "physicalAddresses": []
    }
  ]
}
```


<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>Contact</span> <span class='action-name'>Index</span> Failure Response Example
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>


```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

##### <span class='entity-name'>Contact</span> <span class='action-name'>Index</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>Contact</span> response for a <span class='action-name'>Index</span> request.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">totalCount</span>|<span class="response-data"><span class="data-type">Integer</span></span>|
|<span class="response-data">totalCountWithPhoneNumbers</span>|<span class="response-data"><span class="data-type">Integer</span></span>|
|<span class="response-data">results</span>|<span class="response-data"><span class="data-type">Array</span></span>|

<span class="request-data-head">totalCount</span>
<span class="request-data-remarks">The total number of <span class='entity-name'>Contact</span> objects available for the current query.</span>

<span class="request-data-head">totalCountWithPhoneNumbers</span>
<span class="request-data-remarks">The total number of <span class='entity-name'>Contact</span> objects that have associated phone numbers.</span>

<span class="request-data-head">results</span>
<span class="request-data-remarks">This array contains the payload from the request query. Any found <span class='entity-name'>Contact</span> objects matching the query will be returned as <span class='entity-name'>Contact</span> objects in the response.</span>

###### <span class='attribute-name'>Contact</span> Object
Each object in the <span class='attribute-name'>results</span> array will have the following structure:

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span></span>|
|<span class="response-data">givenName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">surname</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">companyName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">personalContact</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">displayName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">middleName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">generation</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">collaborator</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">visibilityPlus</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">thumbnail</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">isNew</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">source</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">sourceName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">calculatedName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">isOnFire</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">nameSeed</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">hidden</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">createdAt</span>|<span class="response-data"><span class="data-type">DateTime</span></span>|
|<span class="response-data">lastViewedAt</span>|<span class="response-data"><span class="data-type">DateTime</span></span>|
|<span class="response-data">updatedAt</span>|<span class="response-data"><span class="data-type">DateTime</span></span>|
|<span class="response-data">systemCategories</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">pastBuyer</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">pastSeller</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">excludeFromStayInFlow</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">lastTouchedAt</span>|<span class="response-data"><span class="data-type">DateTime</span></span>|
|<span class="response-data">categoryType</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">transactions</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">marketingRecords</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">contactCategories</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">emailAddresses</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">phoneNumbers</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">physicalAddresses</span>|<span class="response-data"><span class="data-type">Array</span></span>|

###### <span class='attribute-name'>emailAddresses</span> Objects

These email addresses correspond to agent created <span class='entity-name'>Contact</span> entities. Only email fields present in this <span class='entity-name'>Contact</span> record will be returned.
Each object in the <span class='attribute-name'>emailAddresses</span> array will have the following structure:

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">key</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">name</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">routingType</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">mailBoxType</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">text</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">label</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">remoteKey</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">priority</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">renamable</span>|<span class="response-data"><span class="data-type">Boolean</span>|
|<span class="response-data">title</span>|<span class="response-data"><span class="data-type">String</span>|

Example:
```json
  [
    {
      "id": 391378528,
      "key": "home",
      "name": null,
      "routingType": null,
      "mailboxType": null,
      "text": "kimpoynor@ebby.com",
      "label": null,
      "remoteKey": "home",
      "priority": 1,
      "renamable": false,
      "title": "home"
    },
  ]
```

###### <span class='attribute-name'>phoneNumbers</span> Objects

These phone numbers correspond to agent created <span class='entity-name'>Contact</span> entities. Only phone fields present in this <span class='entity-name'>Contact</span> record will be returned.

Each object in the <span class='attribute-name'>phoneNumbers</span> array will have the following structure:

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">key</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">text</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">label</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">remoteKey</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">priority</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">renamable</span>|<span class="response-data"><span class="data-type">Boolean</span>|
|<span class="response-data">title</span>|<span class="response-data"><span class="data-type">String</span>|

Example:
```json
[
  {
    "id": 458987576,
    "key": "work",
    "text": "972-893-3130",
    "label": null,
    "remoteKey": "work",
    "priority": 4,
    "renamable": false,
    "title": "work"
  },
],
```

###### <span class='attribute-name'>physicalAddresses</span> Objects
Each object in the <span class='attribute-name'>physicalAddresses</span> array will have the following structure:

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">key</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">street</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">city</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">state</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">countryOrRegion</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">postalCode</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">neighborhood</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">priority</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">title</span>|<span class="response-data"><span class="data-type">String</span>|

Example:
```json
  "physicalAddresses": [
    {
      "id": 1234,
      "key": "home",
      "street": "123 Main St",
      "city": "Anytown",
      "state": "NY",
      "countryOrRegion": "USA",
      "postalCode": "12345",
      "label": null,
      "remoteKey": "home",
      "poBox": null,
      "neighborhood": "Downtown",
      "priority": 1,
      "renamable": false,
      "title": "home"
    }
  ],
```

###### <span class='attribute-name'>contactCategories</span> Objects

<span class="response-data-head">contactCategories</span>
<span class="response-data-remarks">Array of categories assigned to this contact. Each category object contains the following structure:</span>

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">name</span>|<span class="response-data"><span class="data-type">String</span>|

Example:
```json
"contactCategories": [
    {
        "id": 643221709,
        "name": "Prosper Mentors"
    },
    {
        "id": 643221715,
        "name": "AAA PROSPER"
    },
    {
        "id": 643221716,
        "name": "My Contacts"
    }
]
```

#### <span class='attribute-name'>contact</span> Object
<span class="response-data-head">collaborator</span>
<span class="response-data-remarks">Boolean indicating if this contact is a collaborator.</span>

<span class="response-data-head">visibilityPlus</span>
<span class="response-data-remarks">Boolean indicating enhanced visibility settings for this contact.</span>

<span class="response-data-head">source</span>
<span class="response-data-remarks">The source of the contact record. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">sourceName</span>
<span class="response-data-remarks">The name of the source from which the contact record was imported. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">calculatedName</span>
<span class="response-data-remarks">The computed full name of the contact.</span>

<span class="response-data-head">isOnFire</span>
<span class="response-data-remarks">Boolean indicating if this contact is marked as high priority.</span>

<span class="response-data-head">categoryType</span>
<span class="response-data-remarks">The type of category assigned to this contact. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">nameSeed</span>
<span class="response-data-remarks">A unique identifier generated from the contact&apos;s name.</span>

<span class="response-data-head">hidden</span>
<span class="response-data-remarks">Indicates if the contact is hidden. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">pastBuyer</span>
<span class="response-data-remarks">Boolean indicating if this contact is a past buyer.</span>

<span class="response-data-head">pastSeller</span>
<span class="response-data-remarks">Boolean indicating if this contact is a past seller.</span>

<span class="response-data-head">excludeFromStayInFlow</span>
<span class="response-data-remarks">Boolean indicating if this contact should be excluded from stay-in-flow communications.</span>

<span class="response-data-head">lastTouchedAt</span>
<span class="response-data-remarks">Timestamp of the last interaction with this contact. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">systemCategories</span>
<span class="response-data-remarks">Array of system-defined categories assigned to this contact.</span>

<span class="response-data-head">transactions</span>
<span class="response-data-remarks">Array of transactions associated with this contact.</span>

<span class="response-data-head">marketingRecords</span>
<span class="response-data-remarks">Array of marketing records associated with this contact.</span>
