#### <span class='entity-name'>Contact</span> <span class='action-name'>Show  </span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Contact.html#find-class_method'>Ruby Find Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Contact.html#method_find'>PHP Find Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_contact_service.html#acdf4f44cc877c34e4d55c0f8576729e5'>.Net <span class='action-name'>ContactService.GetContactAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Contact</span> <span class='action-name'>Show</span> (using <span class='attribute-name'>agent_uuid</span>) Example</span>

```http
GET /api/contacts/my_contact_id?agent_uuid=12345678-1234-1234-1234-1234567890ab HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "agent_uuid":"12345678-1234-1234-1234-1234567890ab"
}
```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var agentUuid = "12345678-1234-1234-1234-1234567890ab";

var service = new ContactService(new MoxiWorksClient());
var results = service.GetContactAsync(agentUuid, AgentIdType.AgentUuid, "booyuh").Result;

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_contact = MoxiworksPlatform::Contact.find(
        agent_uuid: "12345678-1234-1234-1234-1234567890ab",
        partner_contact_id: "booyuh")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_contact = MoxiworksPlatform\Contact::find([
        'agent_uuid' => '12345678-1234-1234-1234-1234567890ab',
        'partner_contact_id' => 'booyuh']);
?>
```


> <span class="data-example-label"><span class='entity-name'>Contact</span> <span class='action-name'>Show</span> Example</span>

```http
GET /api/contacts/my_contact_id?moxi_works_agent_id=abc123 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "id": 1234,
  "givenName": "John",
  "middleName": null,
  "displayName": "John Doe, Agent",
  "generation": null,
  "surname": "Doe",
  "companyName": "Mock Realty",
  "jobTitle": "Agent",
  "body": "<a href=\"https://example.com\">https://example.com</a>\n<a href=\"https://example.com\">https://example.com</a>",
  "thumbnail": "https://example.com/thumbnail.jpg",
  "labelName": "Primary",
  "gender": "m",
  "language": "en-US",
  "collaborator": false,
  "personalContact": true,
  "isNew": true,
  "businessHomePage": "https://mockrealty.com",
  "profession": "Real Estate Agent",
  "visibilityPlus": false,
  "userUuid": "1234",
  "source": "mock",
  "calculatedName": "John Doe, Agent",
  "extendedId": "1234",
  "isOnFire": false,
  "categoryType": "test",
  "nameSeed": "1234",
  "hidden": null,
  "updatedAt": "2025-01-21T20:32:00.000-06:00",
  "createdAt": "2024-08-07T15:53:17.000-05:00",
  "favorites": [],
  "savedSearches": [],
  "associatedAgent": null,
  "associatedAgentUuid": null,
  "pastBuyer": false,
  "pastSeller": false,
  "duplicateIds": null,
  "excludeFromStayInFlow": false,
  "lastTouchedAt": null,
  "systemCategories": [],
  "salesFlowCategories": [],
  "webUser": null,
  "agentNotifications": [],
  "jobIds": {},
  "agentuuid": "1234",
  "transactions": [],
  "phoneNumbers": [
    {
      "id": 1234,
      "key": "home",
      "text": "555-1234",
      "label": "Home Phone",
      "priority": 1,
      "title": "home"
    },
    {
      "id": 1234,
      "key": "work",
      "text": "555-1234",
      "label": "Work Phone",
      "priority": 1,
      "title": "work"
    },
    {
      "id": 1234,
      "key": "workMobile",
      "text": "555-1234",
      "label": "Work Mobile",
      "priority": 2,
      "title": "work mobile"
    }
  ],
  "emailAddresses": [
    {
      "id": 1234,
      "key": "home",
      "text": "john.doe@example.com",
      "priority": 1,
      "title": "home"
    },
    {
      "id": 1234,
      "key": "work",
      "text": "john.doe@realty.com",
      "priority": 2,
      "title": "work"
    },
    {
      "id": 1234,
      "key": "other",
      "text": "john.alt@example.com",
      "priority": 3,
      "title": "other"
    }
  ],
  "physicalAddresses": [
    {
      "id": 1234,
      "key": "home",
      "street": "123 Main St",
      "city": "Anytown",
      "state": "NY",
      "countryOrRegion": "USA",
      "postalCode": "12345",
      "neighborhood": "Downtown",
      "priority": 1,
      "title": "home"
    }
  ],
  "contactWebsites": [
    {
      "id": 1234,
      "key": "profile",
      "text": "https://linkedin.com/in/johndoe",
      "priority": 1,
      "title": "profile"
    }
  ],
  "contactEvents": [
    {
      "id": 1234,
      "key": "birthday",
      "priority": 1,
      "title": "birthday",
      "text": "1980-01-01"
    }
  ],
  "emailSubscriptions": [],
  "deletedEmailSubscriptions": [],
  "socialMediaProfiles": {
      "twitter": {
          "id": 520304570,
          "url": null,
          "image_uid": null,
          "image_name": null,
          "image_url": null
      },
      "linkedin": {
          "id": 520304568,
          "url": null,
          "image_uid": null,
          "image_name": null,
          "image_url": null
      },
      "facebook": {
          "id": 520304567,
          "url": null,
          "image_uid": null,
          "image_name": null,
          "image_url": null
      }
    },
  "contactMetaData": [
    {
      "id": 1234,
      "key": "some_key",
      "value": "some_value"
    }
  ]
}
```

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/contacts/[partner_contact_id|moxi_works_contact_id]</aside>


When showing a contact using the MoxiWorks platform API, format your data using the following parameters.

##### <span class='entity-name'>Contact</span> <span class='action-name'>Show</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|
|<span class="multi-option-required-data">agent_uuid*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">36</span>
|<span class="multi-option-required-data">partner_contact_id †</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">moxi_works_contact_id †</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">36</span>
|<span class="optional-data">moxi_works_company_id</span>|<span class="data-type">String</span>|  |
|<span class="optional-data">parent_company_id</span>|<span class="data-type">String</span>| 255 |

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="multi-option-required-data">† Either <span class='attribute-name'>moxi_works_contact_id</span> or <span class='attribute-name'>partner_contact_id</span> must be supplied.</span>

<span class="request-data-head">agent_uuid</span>
<span class="request-data-remarks">This is the MoxiWorks Platform ID of the agent. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="request-data-head">partner_contact_id</span>
<span class="request-data-remarks">This is the unique identifier you use in your system that has been associated with the <span class='entity-name'>Contact</span> that you are finding.</span>

<span class="request-data-head">moxi_works_contact_id</span>
<span class="request-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Contact</span>. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid MoxiWorks <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<span class="request-data-head">parent_company_id</span>
<span class="request-data-remarks">This is the <span class='attribute-name'>numeric_id</span> or <span class='attribute-name'>moxi_works_company_id</span> of a company that is considered to be a parent company in the MoxiWorks Platform. This request attribute has two functions:<br><br>	**1.** It provides for a broad scope by which partners may be afforded permissions to perform MoxiWorks Platform actions, in scenarios where a partner does business with a parent company in the MoxiWorks System.<br>	**2.** It provides broad scope under which agents may be looked up using the <span class='attribute-name'>source_agent_id</span> request attribute in many scenarios across different MoxiWorks Platform endpoints and actions.<br><br>	**Please note** that this attribute cannot be used as a replacement for the <span class='attribute-name'>moxi_works_company_id</span> request attribute in scenarios where the <span class='attribute-name'>moxi_works_company_id</span> request attribute is required by the action.<br><br>	**Please note** that this attribute cannot be used to broaden scope of any request where the scope of the request is defined by the <span class='attribute-name'>moxi_works_company_id</span> request attribute.<br><br>	**Please note** that when passed in conjunction with the <span class='attribute-name'>moxi_works_company_id</span> request attribute, the value of <span class='attribute-name'>moxi_works_company_id</span> request attribute must be the numeric id form.<br><br>	Any use of this request attribute must be coordinated with MoxiWorks Platform Partner services. Please reach out to partner services for more information.</span>

<span class="request-data-head">moxi_works_lead_source_id</span>
<span class="response-data-remarks">This is the unique MoxiWorks Platform ID of the <span class='entity-name'>LeadSource</span> that generated this <span class='entity-name'>Contact</span>.</span>

<span class="request-data-head">moxi_works_origin_lead_source_id</span>
<span class="request-data-remarks">This is used to keep track of the original lead source for this <span class='entity-name'>Contact</span> record. This field will not be displayed in MoxiEngage, and is for the parter&apos;s own tracking purposes. This key will be associated with valid <span class='attribute-name'>moxi_works_lead_source_id</span>. Send a <span class='entity-name'>LeadSource</span> <span class='action-name'>index</span> request for a full list of applicable lead sources and their ids.</span>

##### <span class='entity-name'>Contact</span> <span class='action-name'>Show</span> Response Attributes

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span></span>|
|<span class="response-data">givenName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">middleName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">displayName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">generation</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">surname</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">companyName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">jobTitle</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">body</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">thumbnail</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">labelName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">gender</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">language</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">collaborator</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">personalContact</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">isNew</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">businessHomePage</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">profession</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">visibilityPlus</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">userUuid</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">source</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">calculatedName</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">extendedId</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">isOnFire</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">categoryType</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">nameSeed</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">hidden</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">updatedAt</span>|<span class="response-data"><span class="data-type">DateTime</span></span>|
|<span class="response-data">createdAt</span>|<span class="response-data"><span class="data-type">DateTime</span></span>|
|<span class="response-data">favorites</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">savedSearches</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">associatedAgent</span>|<span class="response-data"><span class="data-type">Object</span></span>|
|<span class="response-data">associatedAgentUuid</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">pastBuyer</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">pastSeller</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">duplicateIds</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">excludeFromStayInFlow</span>|<span class="response-data"><span class="data-type">Boolean</span></span>|
|<span class="response-data">lastTouchedAt</span>|<span class="response-data"><span class="data-type">DateTime</span></span>|
|<span class="response-data">systemCategories</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">salesFlowCategories</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">webUser</span>|<span class="response-data"><span class="data-type">Object</span></span>|
|<span class="response-data">agentNotifications</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">jobIds</span>|<span class="response-data"><span class="data-type">Object</span></span>|
|<span class="response-data">agentuuid</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">transactions</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">phoneNumbers</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">imAddresses</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">contactCategories</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">emailAddresses</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">relations</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">contactWebsites</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">contactEvents</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">marketingRecords</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">emailSubscriptions</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">deletedEmailSubscriptions</span>|<span class="response-data"><span class="data-type">Array</span></span>|
|<span class="response-data">socialMediaProfiles</span>|<span class="response-data"><span class="data-type">Object</span></span>|
|<span class="response-data">contactMetadata</span>|<span class="response-data"><span class="data-type">Array</span></span>|

###### <span class='attribute-name'>phoneNumbers</span> Objects

These phone numbers correspond to agent created <span class='entity-name'>Contact</span> entities. Only phone fields present in this <span class='entity-name'>Contact</span> record will be returned.

Each object in the <span class='attribute-name'>phoneNumbers</span> array will have the following structure:

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">key</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">text</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">label</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">remoteKey</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">priority</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">renamable</span>|<span class="response-data"><span class="data-type">Boolean</span>|
|<span class="response-data">title</span>|<span class="response-data"><span class="data-type">String</span>|

Example:
```json
[
  {
    "id": 458987576,
    "key": "work",
    "text": "972-893-3130",
    "label": null,
    "remoteKey": "work",
    "priority": 4,
    "renamable": false,
    "title": "work"
  },
],
```

###### <span class='attribute-name'>contactCategories</span> Objects

<span class="response-data-head">contactCategories</span>
<span class="response-data-remarks">Array of categories assigned to this contact. Each category object contains the following structure:</span>

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">name</span>|<span class="response-data"><span class="data-type">String</span>|

Example:
```json
"contactCategories": [
    {
        "id": 643221709,
        "name": "Prosper Mentors"
    },
    {
        "id": 643221715,
        "name": "AAA PROSPER"
    },
    {
        "id": 643221716,
        "name": "My Contacts"
    }
]
```

###### <span class='attribute-name'>emailAddresses</span> Objects

These email addresses correspond to agent created <span class='entity-name'>Contact</span> entities. Only email fields present in this <span class='entity-name'>Contact</span> record will be returned.
Each object in the <span class='attribute-name'>emailAddresses</span> array will have the following structure:

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">key</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">name</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">routingType</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">mailBoxType</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">text</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">label</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">remoteKey</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">priority</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">renamable</span>|<span class="response-data"><span class="data-type">Boolean</span>|
|<span class="response-data">title</span>|<span class="response-data"><span class="data-type">String</span>|

Example:
```json
  [
    {
      "id": 391378528,
      "key": "home",
      "name": null,
      "routingType": null,
      "mailboxType": null,
      "text": "kimpoynor@ebby.com",
      "label": null,
      "remoteKey": "home",
      "priority": 1,
      "renamable": false,
      "title": "home"
    },
  ]
```

###### <span class='attribute-name'>physicalAddresses</span> Objects
Each object in the <span class='attribute-name'>physicalAddresses</span> array will have the following structure:

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">key</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">street</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">city</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">state</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">countryOrRegion</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">postalCode</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">neighborhood</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">priority</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">title</span>|<span class="response-data"><span class="data-type">String</span>|

Example:
```json
  "physicalAddresses": [
    {
      "id": 1234,
      "key": "home",
      "street": "123 Main St",
      "city": "Anytown",
      "state": "NY",
      "countryOrRegion": "USA",
      "postalCode": "12345",
      "label": null,
      "remoteKey": "home",
      "poBox": null,
      "neighborhood": "Downtown",
      "priority": 1,
      "renamable": false,
      "title": "home"
    }
  ],
```

###### <span class='attribute-name'>contactWebsites</span> Objects

Each object in the <span class='attribute-name'>contactWebsites</span> array will have the following structure:

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">key</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">text</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">label</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">remoteKey</span>|<span class="response-data"><span class="data-type"String</span>|
|<span class="response-data">priority</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">renamable</span>|<span class="response-data"><span class="data-type">Boolean</span>|
|<span class="response-data">title</span>|<span class="response-data"><span class="data-type">String</span>|

Example:
```json
    "contactWebsites": [
        {
            "id": 16425339,
            "key": "profile",
            "text": "https://plus.google.com/1234",
            "label": null,
            "remoteKey": "profile",
            "priority": 1,
            "renamable": false,
            "title": "profile"
        },
        {
            "id": 16425338,
            "key": "profile",
            "text": "https://plus.google.com/12345",
            "label": null,
            "remoteKey": "profile",
            "priority": 1,
            "renamable": false,
            "title": "profile"
        }
    ],
```

###### <span class='attribute-name'>contactEvents</span> Objects

Each object in the <span class='attribute-name'>contactEvents</span> array will have the following structure:

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">key</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">label</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">remoteKey</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">spEventRemoteId</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">priority</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">renamable</span>|<span class="response-data"><span class="data-type">Boolean</span>|
|<span class="response-data">title</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">text</span>|<span class="response-data"><span class="data-type">String</span>|

Example:
```json
    "contactEvents": [
        {
            "id": 16271910,
            "key": "birthday",
            "label": null,
            "remoteKey": "birthday",
            "spEventRemoteId": null,
            "priority": 1,
            "renamable": false,
            "title": "birthday",
            "text": "0000-06-04"
        }
    ],
```

###### <span class='attribute-name'>socialMediaProfiles</span> Objects
Each object in the <span class='attribute-name'>socialMediaProfiles</span> object contains social media platform keys (`twitter`, `linkedin`, `facebook`) with the following structure:

Attribute | Type |
-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>|
|<span class="response-data">url</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">image_uid</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">image_name</span>|<span class="response-data"><span class="data-type">String</span>|
|<span class="response-data">image_url</span>|<span class="response-data"><span class="data-type">String</span>|

Example:
```json
{
    "twitter": {
        "id": 520304570,
        "url": "twitter_url",
        "image_uid": "image_uid",
        "image_name": null,
        "image_url": null
    },
    "linkedin": {
        "id": 520304568,
        "url": "linked_url",
        "image_uid": null,
        "image_name": null,
        "image_url": null
    },
    "facebook": {
        "id": 520304567,
        "url": "facebook_url",
        "image_uid": null,
        "image_name": null,
        "image_url": null
    }
}
```

###### <span class='attribute-name'>contactMetaData</span> Objects

Each object in the <span class='attribute-name'>contactMetaData</span> array will have the following structure:

Attribute | Type
-----|-----|-----|-----|
|<span class="response-data">id</span>|<span class="response-data"><span class="data-type">Integer</span>
|<span class="response-data">key</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">value</span>|<span class="response-data"><span class="data-type">String</span>

Example:
```json
  "contactMetaData": [
      {
        "id": 16308856,
        "key": "email",
        "value": "john.doe@example.com"
      },
    ]
```

#### <span class='attribute-name'>contact</span> Object
<span class="response-data-head">collaborator</span>
<span class="response-data-remarks">Boolean indicating if this contact is a collaborator.</span>

<span class="response-data-head">visibilityPlus</span>
<span class="response-data-remarks">Boolean indicating enhanced visibility settings for this contact.</span>

<span class="response-data-head">userUuid</span>
<span class="response-data-remarks">The UUID of the user associated with this contact. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">source</span>
<span class="response-data-remarks">The source of the contact record. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">calculatedName</span>
<span class="response-data-remarks">The computed full name of the contact.</span>

<span class="response-data-head">extendedId</span>
<span class="response-data-remarks">The extended identifier for this contact.</span>

<span class="response-data-head">isOnFire</span>
<span class="response-data-remarks">Boolean indicating if this contact is marked as high priority.</span>

<span class="response-data-head">categoryType</span>
<span class="response-data-remarks">The type of category assigned to this contact. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">nameSeed</span>
<span class="response-data-remarks">A unique identifier generated from the contact&apos;s name.</span>

<span class="response-data-head">hidden</span>
<span class="response-data-remarks">Indicates if the contact is hidden. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">favorites</span>
<span class="response-data-remarks">Array of favorite items associated with this contact.</span>

<span class="response-data-head">savedSearches</span>
<span class="response-data-remarks">Array of saved searches associated with this contact.</span>

<span class="response-data-head">associatedAgent</span>
<span class="response-data-remarks">The agent associated with this contact. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">associatedAgentUuid</span>
<span class="response-data-remarks">The UUID of the associated agent. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">pastBuyer</span>
<span class="response-data-remarks">Boolean indicating if this contact is a past buyer.</span>

<span class="response-data-head">pastSeller</span>
<span class="response-data-remarks">Boolean indicating if this contact is a past seller.</span>

<span class="response-data-head">duplicateIds</span>
<span class="response-data-remarks">IDs of any duplicate contact records. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">excludeFromStayInFlow</span>
<span class="response-data-remarks">Boolean indicating if this contact should be excluded from stay-in-flow communications.</span>

<span class="response-data-head">lastTouchedAt</span>
<span class="response-data-remarks">Timestamp of the last interaction with this contact. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">systemCategories</span>
<span class="response-data-remarks">Array of system-defined categories assigned to this contact.</span>

<span class="response-data-head">salesFlowCategories</span>
<span class="response-data-remarks">Array of sales flow categories assigned to this contact.</span>

<span class="response-data-head">webUser</span>
<span class="response-data-remarks">Web user information associated with this contact. This value will be null if no data is available for this attribute.</span>

<span class="response-data-head">agentNotifications</span>
<span class="response-data-remarks">Array of notifications configured for the agent regarding this contact.</span>

<span class="response-data-head">jobIds</span>
<span class="response-data-remarks">Object containing job identifiers associated with this contact.</span>

<span class="response-data-head">agentuuid</span>
<span class="response-data-remarks">The UUID of the agent who owns this contact.</span>

<span class="response-data-head">transactions</span>
<span class="response-data-remarks">Array of transactions associated with this contact.</span>

<span class="response-data-head">imAddresses</span>
<span class="response-data-remarks">Array of instant messaging addresses associated with this contact.</span>

<span class="response-data-head">relations</span>
<span class="response-data-remarks">Array of related contacts or relationships.</span>

<span class="response-data-head">marketingRecords</span>
<span class="response-data-remarks">Array of marketing records associated with this contact.</span>

<span class="response-data-head">emailSubscriptions</span>
<span class="response-data-remarks">Array of email subscriptions associated with this contact.</span>

<span class="response-data-head">deletedEmailSubscriptions</span>
<span class="response-data-remarks">Array of deleted email subscriptions previously associated with this contact.</span>
