#### <span class='entity-name'>Contact</span> <span class='action-name'>Show  </span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Contact.html#find-class_method'>Ruby Find Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Contact.html#method_find'>PHP Find Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Contact</span> <span class='action-name'>Show</span> Example</span>

```http
GET /api/contacts/my_contact_id?moxi_works_agent_id=abc123 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "moxi_works_agent_id":"abc123"
}
```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_contact = MoxiworksPlatform::Contact.find(
        moxi_works_agent_id: "1234abcd",
        partner_contact_id: "booyuh")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_contact = MoxiworksPlatform\Contact::find([
        'moxi_works_agent_id' => '1234abcd',
        'partner_contact_id' => 'booyuh']);
?>
```

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/contacts/[partner_contact_id]</aside>


When showing a contact using the Moxi Works platform API, format your data using the following parameters.

##### <span class='entity-name'>Contact</span> <span class='action-name'>Show</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_agent_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span>
|<span class="required-data">partner_contact_id</span>|<span class="required-data"><span class="data-type">String</span></span>| <span class="required-data">255</span>

<span class="required-data">**Required Parameters Are In Red**</span>


<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which this <span class='entity-name'>Contact</span> entry is associated with. This will be a string that may take the form of an email address, or a unique identification string. This data is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>Contact</span> <span class='action-name'>Show</span>  request to be accepted.</span>


<span class="request-data-head">partner_contact_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that you are finding.</span>


##### <span class='entity-name'>Contact</span> <span class='action-name'>Show</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>Contact</span> response for a <span class='action-name'>Show</span> request.



<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Contact</span> <span class='action-name'>Show</span> Response Payload Example
</span></div></blockquote>


```json
{
  "moxi_works_agent_id": "1234abcd",
  "partner_contact_id": "booyuh",
  "moxi_works_contact_id":"deadbeef-feed-face-bad4dad22dead",
  "contact_name": "Firstname Middlenyme Larstnam",
  "gender": "m",
  "primary_email_address": "me@justabout.right.here",
  "secondary_email_address": "me.too@justabout.right.here",
  "primary_phone_number": "9995551212",
  "secondary_phone_number": "(333) 555-1185",
  "home_street_address": "1234 Sesame St.",
  "home_city": "Cityville",
  "home_state": "Stateland",
  "home_zip": "12345-6789",
  "home_country": "Ottoman Empire",
  "job_title": "Junior Bacon Burner",
  "occupation": "chef",
  "property_url": "http://my.property.website.is/here",
  "property_mls_id": "abc123",
  "property_street_address": "2345 67th place",
  "property_city": "Townland",
  "property_state": "Statesville",
  "property_zip": "98765-4321",
  "property_beds": "18",
  "property_baths": "12.5",
  "property_list_price": "123456789",
  "property_listing_status": "Active",
  "property_photo_url": "http://property.photo.is/here.jpg",
  "search_city": "Searchland",
  "search_state": "Searchsylvania",
  "search_zip": "12345-6789",
  "search_min_beds": "2",
  "search_min_baths": "3.25",
  "search_min_price": "1234567",
  "search_max_price": "1234569",
  "search_min_sq_ft": "1234",
  "search_max_sq_ft": "1235",
  "search_min_lot_size": "3234",
  "search_max_lot_size": "3235",
  "search_min_year_built": "1388",
  "search_max_year_built": "2044",
  "search_property_types": "Condo, Single Family, Townhouse"
}
```

<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>Contact</span> <span class='action-name'>Show</span> Failure Response Example
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json
{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```
###### <span class='action-name'>Show</span> Response Attributes

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">moxi_works_agent_id</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">partner_contact_id</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">moxi_works_contact_id</span>|<span class="data-type">String</span>|
|<span class="response-data">contact_name</span>|<span class="data-type">String or null</span>|
|<span class="response-data">gender</span>|<span class="data-type">String or null</span>|
|<span class="response-data">primary_email_address</span>|<span class="data-type">String or null</span>|
|<span class="response-data">secondary_email_address</span>|<span class="data-type">String or null</span>|
|<span class="response-data">primary_phone_number</span>|<span class="data-type">String or null</span>|
|<span class="response-data">secondary_phone_number</span>|<span class="data-type">String or null</span>|
|<span class="response-data">home_street_address</span>|<span class="data-type">String or null</span>|
|<span class="response-data">home_city</span>|<span class="data-type">String or null</span>|
|<span class="response-data">home_state</span>|<span class="data-type">String or null</span>|
|<span class="response-data">home_zip</span>|<span class="data-type">String or null</span>|
|<span class="response-data">home_country</span>|<span class="data-type">String or null</span>|
|<span class="response-data">job_title</span>|<span class="data-type">String or null</span>|
|<span class="response-data">occupation</span>|<span class="data-type">String or null</span>|
|<span class="response-data">property_url</span>|<span class="data-type">String or null</span>|
|<span class="response-data">property_mls_id</span>|<span class="data-type">String or null</span>|
|<span class="response-data">property_street_address</span>|<span class="data-type">String or null</span>|
|<span class="response-data">property_city</span>|<span class="data-type">String or null</span>|
|<span class="response-data">property_state</span>|<span class="data-type">String or null</span>|
|<span class="response-data">property_zip</span>|<span class="data-type">String or null</span>|
|<span class="response-data">property_beds</span>|<span class="data-type">String or null</span>|
|<span class="response-data">property_baths</span>|<span class="data-type">String or null</span>|
|<span class="response-data">property_list_price</span>|<span class="data-type">String or null</span>|
|<span class="response-data">property_listing_status</span>|<span class="data-type">String or null</span>|
|<span class="response-data">property_photo_url</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_city</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_state</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_zip</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_min_baths</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_min_beds</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_min_price</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_max_price</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_min_sq_ft</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_max_sq_ft</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_min_lot_size</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_max_lot_size</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_min_year_built</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_max_year_built</span>|<span class="data-type">String or null</span>|
|<span class="response-data">search_property_types</span>|<span class="data-type">String or null</span>|
|<span class="response-data">note</span>|<span class="data-type">String or null</span>|  |

<span class="response-data-head">moxi_works_agent_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span>. This will be a string that may take the form of an email address, or a unique alphanumeric identification string.</span>

<span class="response-data-head">partner_contact_id</span>
<span class="response-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that you are finding.</span>

<span class="response-data-head">moxi_works_contact_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of this <span class='entity-name'>Contact</span>. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">contact_name</span>
<span class="response-data-remarks">This is the full name of the contact you are finding a <span class='entity-name'>Contact</span> record for. You should format this information as <i>first middle last</i>. This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">gender</span>
<span class="response-data-remarks">The gender of the contact. This can be `male`, `female`, `m` or `f`. No matter what is provided in the request, the response payload will return `m` or `f`.  This value will be null if no data is available for this attribute. </span>


<span class="response-data-head">primary_email_address</span>
<span class="response-data-remarks">This is the email address that should be used first. If provided, the address must conform to [RFC 3696](https://tools.ietf.org/html/rfc3696#section-3). This value will be null if no data is available for this attribute. </span>


<span class="response-data-head">secondary_email_address</span>
<span class="response-data-remarks">This is the email address that should be used as an alternate. If provided, the address must conform to [RFC 3696](https://tools.ietf.org/html/rfc3696#section-3). This value will be null if no data is available for this attribute. </span>


<span class="response-data-head">home_street_address</span>
<span class="response-data-remarks">The contact's home address street, including number and any suite / apartment number information.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">home_city</span>
<span class="response-data-remarks">The city of the contact's home address. This value will be null if no data is available for this attribute.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">home_state</span>
<span class="response-data-remarks">The state of the contact's home address.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">home_zip</span>
<span class="response-data-remarks">The zip code of the contact’s home address.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">home_country</span>
<span class="response-data-remarks">The country of the contact's home address.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">job_title</span>
<span class="response-data-remarks">The contact's professional job title.  This value will be null if no data is available for this attribute. </span>


<span class="response-data-head">occupation</span>
<span class="response-data-remarks">The contact's profession.  This value will be null if no data is available for this attribute. </span>


<span class="response-data-head">property_url</span>
<span class="response-data-remarks">This will be a valid URL for a property of interest in your system that can be viewed by the agent. This value will be null if no data is available for this attribute. </span>


<span class="response-data-head">property_mls_id</span>
<span class="response-data-remarks">This will be the MLS ID of the property of interest. This value will be null if no data is available for this attribute.  </span>

<span class="response-data-head">property_street_address</span>
<span class="response-data-remarks">This will be the street address of the property of interest, including number and suite/apartment number information.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">property_city</span>
<span class="response-data-remarks">This will be the city in which the property of interest exists.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">property_state</span>
<span class="response-data-remarks">This will be the state or province in which the property of interest exists.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">property_zip</span>
<span class="response-data-remarks">This will be the postal code in which the property of interest exists.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">property_beds</span>
<span class="response-data-remarks">This will be the number of bedrooms in the property of interest.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">property_baths</span>
<span class="response-data-remarks">This will be the number of bathrooms in the property of interest.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">property_list_price</span>
<span class="response-data-remarks">This will be the list price of the property of interest. This value will be null if no data is available for this attribute.  </span>

<span class="response-data-head">property_listing_status</span>
<span class="response-data-remarks">This will be the listing status of the property of interest. This can be any arbitrary string, but for best results, this should be a state like `Active`, `Pending`, `Sold`, `Cancelled` or any other human readable state that would be useful when presented to the agent. This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">property_photo_url</span>
<span class="response-data-remarks">This will be a valid URL to an image of the property of interest.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_city</span>
<span class="response-data-remarks">This will be the city / locale used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_state</span>
<span class="response-data-remarks">This will be the state / region used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_zip</span>
<span class="response-data-remarks">This will be the zip / postal code used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_min_baths</span>
<span class="response-data-remarks">This will be the minimum bathrooms used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_min beds</span>
<span class="response-data-remarks">This will be the minimum bedrooms used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_min_price</span>
<span class="response-data-remarks">This will be the minimum price used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_max_price</span>
<span class="response-data-remarks">This will be the maximum price used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_min_sq_ft</span>
<span class="response-data-remarks">This will be the minimum square feet of the total living area used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_max_sq_ft</span>
<span class="response-data-remarks">This will be the maximum square feet of the total living area used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_min_lot_size</span>
<span class="response-data-remarks">This will be the minimum lot size used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_max_lot_size</span>
<span class="response-data-remarks">This will be the maximum lot size used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_min_year_built</span>
<span class="response-data-remarks">This will be the minimum allowable year built used in the listing search criteria.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">search_property_types</span>
<span class="response-data-remarks">This will be the property types used in the listing search criteria. This can be any arbitrary human readable string, but using recognized property types such as `Condo`, `Single-Family`, `Townhouse`, `Land`, `Multifamily` will provide more value to the agent.  This value will be null if no data is available for this attribute. </span>

<span class="response-data-head">note</span>
<span class="response-data-remarks">This is an arbitrary string giving the agent more details about the contact which would not otherwise fit into the <span class='entity-name'>Contact</span> record. Any HTML formatting included will be stripped from the <span class='attribute-name'>note</span> attribute's data.  This value will be null if no data is available for this attribute. </span>
