<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>API Documentation</title>

    <link href="../../stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../stylesheets/print.css" rel="stylesheet" type="text/css" media="print" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="../../javascripts/all_nosearch.js" type="text/javascript"></script>

  </head>

  <body class="partials partials_pubsub partials_pubsub_handling_incoming_updatesV2">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src="../../images/navbar.png" alt="Navbar" />
      </span>
    </a>
    <div class="tocify-wrapper">
      <img src="../../images/logo.png" alt="Logo" />
      <div id="toc">
      </div>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <h2 id="update-handling">Update Handling</h2>

<p><span>The MoxiWorks Platform Realtime Stream is designed to allow you to use the same parsing logic for both Realtime Stream Updates as well as MoxiCloud API calls. 
Except where noted below, data pushed via Realtime Updates should have have almost exactly shape as objects pulled via MoxiCloud API. Exceptions are noted in the <code class="prettyprint">Data Shape</code> 
sections below.</span></p>

<h4 id="payload-metadata">Payload Metadata</h4>

<p>Each message sent to your system by the MoxiWorks Platform Realtime Stream will have metadata associated with the object payload in the root level of the payload. In this section
we&rsquo;ll take a look at the metadata provided in the root level of the response.</p>

<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Realtime Stream Update</span> Payload Metadata Example
</span></div></blockquote>
<pre class="highlight json"><code><span class="p">{</span><span class="w"> 
    </span><span class="nt">"type"</span><span class="p">:</span><span class="s2">"/[agent|contact|listing|office|etc...]/"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"action"</span><span class="p">:</span><span class="s2">"/[create|update|upsert|delete]/"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"data"</span><span class="p">:{</span><span class="w">
        </span><span class="err">...</span><span class="w">
    </span><span class="p">},</span><span class="w">
  </span><span class="nt">"last_updated"</span><span class="p">:</span><span class="w"> </span><span class="mi">1650050768</span><span class="p">,</span><span class="w">
  </span><span class="nt">"modification_timestamp"</span><span class="p">:</span><span class="s2">"2022-04-15T19:26:08.000+00:00"</span><span class="p">,</span><span class="w">
  </span><span class="nt">"company_uuid"</span><span class="p">:</span><span class="w"> </span><span class="mi">1234567</span><span class="p">,</span><span class="w">
  </span><span class="nt">"agent_uuid"</span><span class="p">:</span><span class="w"> </span><span class="s2">"140a7944-bf51-4380-b61d-7ddd51b645f5"</span><span class="p">,</span><span class="w">
  </span><span class="nt">"primary_id"</span><span class="p">:</span><span class="w"> </span><span class="s2">"bfa7d824-f1da-475c-aeac-14270f471d45"</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<h5 id="realtime-stream-update-payload-metadata"><span class='entity-name'>Realtime Stream Update</span> Payload Metadata</h5>

<p><span>As previously noted, the payload of the data sent will (as close as possible) match the MoxiCloud API object shape. For example,  each Agent object will match the shape of the 
Agent that is provided via the MoxiCloud; however, the payload itself is wrapped in an outer scope that provides metadata about the update that would normally be implicitly scoped in a 
request to the MoxiCloud API. In orderto ensure that incoming updates are routed to the correct parsing logic, you&rsquo;ll need to inspect the metadata in the payload to determine the kind of 
update being sent and then route it to the correct logic for parsing and processing. </span></p>

<table><thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Notes</th>
</tr>
</thead><tbody>
<tr>
<td><span class="required-data">last_updated</span></td>
<td><span class="required-data"><span class="data-type">Integer</span></span></td>
<td>Unix timestamp in full seconds of when data was updated, check that this payload is more recent than your copy before consuming</td>
</tr>
<tr>
<td><span class="required-data">modification_timestamp</span></td>
<td><span class="required-data"><span class="data-type">Integer</span></span></td>
<td>ISO8601 formatted timestamp of when data was updated, check that this payload is more recent than your copy before consuming</td>
</tr>
<tr>
<td><span class="required-data">type</span></td>
<td><span class="required-data"><span class="data-type">String</span></span></td>
<td>Enumerated set includes agent, contact, listing, office</td>
</tr>
<tr>
<td><span class="required-data">action</span></td>
<td><span class="required-data"><span class="data-type">String</span></span></td>
<td>Enumerated set includes create, update, upsert, delete</td>
</tr>
<tr>
<td><span class="required-data">data</span></td>
<td><span class="required-data"><span class="data-type">Object</span></span></td>
<td>Update Payload</td>
</tr>
<tr>
<td><span class="required-data">primary_id</span></td>
<td><span class="required-data"><span class="data-type">String</span></span></td>
<td>Primary identifier for object</td>
</tr>
<tr>
<td><span class="optional-data">agent_uuid</span></td>
<td><span class="optional-data"><span class="data-type">String</span></span></td>
<td>Optional</td>
</tr>
<tr>
<td><span class="optional-data">company_uuid</span></td>
<td><span class="optional-data"><span class="data-type">Integer</span></span></td>
<td>Optional</td>
</tr>
</tbody></table>

<p><span class="request-data-head">last_updated</span>
<span class="response-data-remarks">This is the Unix timestamp representing the date/time that this <span class='entity-name'>Realtime Stream Update</span> was updated. You should utilize the timestamp to ensure that no out-of-order updates occur.</span></p>

<p><span class="request-data-head">modification_timestamp</span>
<span class="response-data-remarks">This is the ISO8601 timestamp representing the date/time that this <span class='entity-name'>Realtime Stream Update</span> was updated. You can utilize the timestamp to ensure that no out-of-order updates occur.</span></p>

<aside class="note">Please note that although we will transmit every update in the order in which they occur on our systems, they may not arrive at your systems in the same order due to the architectural design of Amazon SNS. Please store either the last_updated or modification_timestamp along with your payload to ensure that only the latest data is received.  These timestamps can be used in requests against the MoxiCloud API to ensure all data is in sync.</aside>

<p><span class="request-data-head">type</span>
<span class="request-data-remarks">The type of entity update is in the payload of the message. this will be one of <span class='entity-name'>agent</span>, <span class='entity-name'>contact</span>, <span class='entity-name'>listing</span>  or <span class='entity-name'>office</span>.   </span></p>

<p><span class="request-data-head">action</span>
<span class="request-data-remarks">The action associated with the update. this will be one of <span class='entity-name'>create</span>, <span class='entity-name'>update</span>, <span class='entity-name'>upsert</span>  or <span class='entity-name'>delete</span>.   </span></p>

<p><span class="request-data-head">data</span>
<span class="request-data-remarks">A JSON object representing the entity in the MoxiCloud.</span></p>

<p><span class="request-data-head">primary_id</span>
<span class="request-data-remarks">The primary identifier for the object.  This can be used in subsequent calls to fetch the payload from the MoxiCloudAPI.</span></p>

<p><span class="request-data-head">agent_uuid</span>
<span class="request-data-remarks">Optional reference to an agent, provided only when entity is scoped to an agent.</span></p>

<p><span class="request-data-head">company_uuid</span>
<span class="request-data-remarks">Optional reference to a company, provided only when entity is scoped to a company</span></p>

      </div>
      <div class="dark-box">
      </div>
    </div>
  </body>
</html>
