<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>API Documentation</title>

    <link href="../../moxiworks-platform.github.io/stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../moxiworks-platform.github.io/stylesheets/print.css" rel="stylesheet" type="text/css" media="print" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="../../moxiworks-platform.github.io/javascripts/all_nosearch.js" type="text/javascript"></script>

  </head>

  <body class="partials partials_pubsub partials_pubsub_welcome">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src="../../moxiworks-platform.github.io/images/navbar.png" alt="Navbar" />
      </span>
    </a>
    <div class="tocify-wrapper">
      <img src="../../moxiworks-platform.github.io/images/logo.png" alt="Logo" />
      <div id="toc">
      </div>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <h2 id="welcome">Welcome</h2>

<p>Welcome to the MoxiCloud Realtime Stream documentation. MoxiWorks Platform Realtime Stream Updates give you instant updates of MoxiCloud data. Once 
you have set up your integration, you will receive updates instantly as they are made in the MoxiCloud, giving you the ability to better serve your customers.  </p>

<p>In this section of the MoxiCloud Docs you&rsquo;ll find documentation about integrating with the MoxiWorks Realtime Update (PubSub) notifications.  </p>

<h2 id="getting-started">Getting Started</h2>

<p>Why choose MoxiWorks Platform Realtime Stream updates?</p>

<p>The following are reasons you might want to utilize MoxiWorks Realtime Stream updates:</p>

<p><span style="margin-left: -12px;">1) <strong>Instant Updates</strong></span>
<span>you get the data in your system as soon as a new listing/contact gets processed by our system. you have first access to new leads, new listings and new data because you&rsquo;re not waiting for system synchronization &ndash; it&rsquo;s always synchronized. This opens up a whole new range of product possibilities, giving you the ability to enhance your own product offerings and provide even better service to your clients.</span>
<div style="margin:20px">&nbsp;</div></p>

<p><span style="margin-left: -12px;">2) <strong>Reduce Costs</strong></span>
Instead of bogging down systems while synchronizing data for thousands of records at once, your updates are inherently distributed, ensuring that your systems are always responsive and ready to meet your primary business needs.
<div style="margin:20px">&nbsp;</div></p>

<p><span style="margin-left: -12px;">3) <strong>More Control</strong></span>
By piping your SNS feed to SQS or to your own internal queueing mechanism allows you the ability to process incoming changes at whatever rate you want. You and your systems control how much data you import at any given time and ensure that rate never causes resource contention issues.
<div style="margin:20px">&nbsp;</div></p>

<p>This documentation is intended to help you get you set up your MoxiWorks Platform Realtime Update Stream. </p>

<h3 id="getting-help">Getting Help</h3>

<p>During your integration process with MoxiCloud Realtime Stream, your MoxiWorks Platform representative will work with you on getting your Realtime Stream Updates working. If you have any questions about getting set up, please contact your Platform Representative.</p>

      </div>
      <div class="dark-box">
      </div>
    </div>
  </body>
</html>
