#### <span class='entity-name'>PresentationLog</span> <span class='action-name'>Index</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/PresentationLog.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.PresentationLog.html#method_search'>PHP Search Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_presentation_log_service.html#a8bbf87684e752d3471c0eb007e1fd564'>.Net <span class='action-name'>PresentationLog.GetPresentationLogsAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>PresentationLog</span> <span class='action-name'>Index</span> Example</span>


> First page of all <span class='entity-name'>PresentationLog</span> objects for specified <span class='entity-name'>Company</span>

```http
GET /api/presentation_logs?moxi_works_company_id=abc123 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "moxi_works_company_id":"the_company"
}

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var moxiWorksCompanyId = "abc123";

var service = new PresentationLogService(new MoxiWorksClient());
var results = service.GetPresentationLogsAsync( moxiWorksCompanyId).Result;

```



```ruby

##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

company_presentation_logs = MoxiworksPlatform::PresentationLog.search(moxi_works_company_id: "abc123")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$company_presentation_logs = MoxiworksPlatform\PresentationLog::search(['moxi_works_company_id' => 'abc123']);
?>
```

> Second page of All <span class='entity-name'>PresentationLog</span> objects for a specified <span class='entity-name'>Company</span>

```http
GET /api/presentation_logs?moxi_works_company_id=abc123&page_number=2 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "moxi_works_company_id":"the_company",
  "page_number":2
}

```

```ruby
company_presentation_logs = MoxiworksPlatform::PresentationLog.search(moxi_works_company_id: "abc123",  page_number: 2)

```

```php
<?php
$company_presentation_logs = MoxiworksPlatform\PresentationLog::search(['moxi_works_company_id' => 'abc123',  'page_number' => 2]);
?>
```

##### <span class='entity-name'>PresentationLog</span> <span class='action-name'>Index</span> Request Attributes

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/presentation_logs</aside>

When searching for <span class='entity-name'>PresentationLog</span> entities using the MoxiWorks platform API, format your data using the following parameters.


Attribute | Type  | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_company_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255<span> |
|<span class="optional-data">parent_company_id</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">moxi_works_agent_id †</span>|<span class="optional-data"><span class="data-type">String</span></span>| <span class="optional-data">255</span>
|<span class="optional-data">agent_uuid †</span>|<span class="optional-data"><span class="data-type">String</span></span>| <span class="optional-data">255</span>
|<span class="optional-data">source_agent_id †</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">created_after</span>|<span class="data-type">Integer</span>| 255 |
|<span class="optional-data">created_before</span>|<span class="data-type">Integer</span>| 255 |
|<span class="optional-data">updated_after</span>|<span class="data-type">Integer</span>| 255 |
|<span class="optional-data">updated_before</span>|<span class="data-type">Integer</span>| 255 |
|<span class="optional-data">page_number</span>|<span class="data-type">Integer</span>| 255 |
|<span class="optional-data">include_times</span>|<span class="data-type">Boolean</span>| 255 |

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="request-data-head"><span class='attribute-name'>moxi_works_agent_id</span> or <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>source_agent_id</span></span>
<span class="request-data-remarks">**One of these parameters may be supplied** Please reference [Agent Identifiers](#agent-identifiers) for information about how to construct your agent identifier request params.</span>

<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid MoxiWorks <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<span class="request-data-head">parent_company_id</span>
<span class="request-data-remarks">This is the <span class='attribute-name'>numeric_id</span> or <span class='attribute-name'>moxi_works_company_id</span> of a company that is considered to be a parent company in the MoxiWorks Platform. This request attribute has two functions:<br><br>	**1.** It provides for a broad scope by which partners may be afforded permissions to perform MoxiWorks Platform actions, in scenarios where a partner does business with a parent company in the MoxiWorks System.<br>	**2.** It provides broad scope under which agents may be looked up using the <span class='attribute-name'>source_agent_id</span> request attribute in many scenarios across different MoxiWorks Platform endpoints and actions.<br><br>	**Please note** that this attribute cannot be used as a replacement for the <span class='attribute-name'>moxi_works_company_id</span> request attribute in scenarios where the <span class='attribute-name'>moxi_works_company_id</span> request attribute is required by the action.<br><br>	**Please note** that this attribute cannot be used to broaden scope of any request where the scope of the request is defined by the <span class='attribute-name'>moxi_works_company_id</span> request attribute.<br><br>	**Please note** that when passed in conjunction with the <span class='attribute-name'>moxi_works_company_id</span> request attribute, the value of <span class='attribute-name'>moxi_works_company_id</span> request attribute must be the numeric id form.<br><br>	Any use of this request attribute must be coordinated with MoxiWorks Platform Partner services. Please reach out to partner services for more information.</span>

<aside class="note">When searching, you may search using <span class='attribute-name'>created_before</span> and <span class='attribute-name'>created_after</span> or <span class='attribute-name'>updated_before</span> and <span class='attribute-name'>updated_after</span>.</aside>

<span class="request-data-head">created_after</span>
<span class="request-data-remarks">Paged responses of all <span class='entity-name'>PresentationLog</span> objects created after this Unix timestamp will be returned in the response. </span>

<span class="request-data-head">created_before</span>
<span class="request-data-remarks">Paged responses of all <span class='entity-name'>PresentationLog</span> objects created before this Unix timestamp will be returned in the response. </span>

<span class="request-data-head">updated_after</span>
<span class="request-data-remarks">Paged responses of all <span class='entity-name'>PresentationLog</span> objects updated after this Unix timestamp will be returned in the response. </span>

<span class="request-data-head">updated_before</span>
<span class="request-data-remarks">Paged responses of all <span class='entity-name'>PresentationLog</span> objects updated before this Unix timestamp will be returned in the response. </span>

<aside class="note">The maximum time range for a single search is one week. If you need to span a greater length of time, break your search up into week-long segments.</aside>

<span class="request-data-head">page_number</span>
<span class="request-data-remarks">For queries with multi-page responses, use the <span class='attribute-name'>page_number</span> parameter to return data for specific pages. Data for page 1 is returned if this parameter is not included. Use this parameter if **total_pages** indicates that there is more than one page of data available.</span>

<span class="request-data-head">include_times</span>
<span class="request-data-remarks">Pass <em>true</em> for the value of the <span class='attribute-name'>include_times</span> parameter to return delivered and requested times for the presentations included in the response.</span>

<aside class="note">At this time, the attribute <span class='attribute-name'>include_times</span> is only an available query options for agent scoped requests (requests including an agent identifier)</aside>


<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label">PresentationLog Index: Success Response</span>
</div></blockquote>

```json

{
  "page_number":9,
  "total_pages":9,
  "presentations":[
    {
      "agent_uuid": "8675309e9-1234-dead-beef-deadbeefdead",
      "agent_fname": "Joe",
      "agent_lname": "Agent",
      "title": "1234 Seller St.",
      "created": 1512662100,
      "edited": 1512662147,
      "agent_office_id": 123456,
      "type": "seller",
      "sent_by_agent": "8675309e9-1234-dead-beef-deadbeefdead",
      "pdf_requested": 12,
      "pres_requested": 34,
      "external_identifier": "123456",
      "external_office_id": "678910",
      "moxi_works_presentation_id": "8675309e9-dead-beef-1234-deadbeefabad",
      "subject_property_address": "1234 Seller St., Houston, TX 77062",
      "estimated_market_value": 789880.0,
      "price_range_min": 100.0,
      "price_range_max": 1000000.0
    }
  ]
}
```

<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label">PresentationLog Index: Failure Response</span>
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json
{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

<span class='entity-name'>PresentationLog</span>  <span class='action-name'>Index</span> responses are divided into pages of  <span class='entity-name'>PresentationLog</span> objects. Use response payload attributes <span class='attribute-name'>total_pages</span> and <span class='attribute-name'>page_number</span> to determine how many pages of  <span class='entity-name'>PresentationLog</span> objects there are and whether additional pages need to be requested.


Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">page_number</span>|<span class="data-type">Integer</span>|
|<span class="response-data">total_pages</span>|<span class="data-type">Integer</span>|
|<span class="response-data">presentations</span>|<span class="data-type">Array</span>|

###### <span class='attribute-name'>presentations</span> Object

The <span class='attribute-name'>presentations</span> array contains Dictionary objects representing <span class='entity-name'>PresentationLog</span> entries. The structure of each <span class='entity-name'>PresentationLog</span> entry is shown below.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">agent_uuid</span>|<span class="data-type">String</span>|
|<span class="response-data">agent_fname</span>|<span class="data-type">String or null</span>|
|<span class="response-data">agent_lname</span>|<span class="data-type">String or null</span>|
|<span class="response-data">title</span>|<span class="data-type">String or null</span>|
|<span class="response-data">created</span>|<span class="data-type">Integer</span>|
|<span class="response-data">edited</span>|<span class="data-type">Integer</span>|
|<span class="response-data">agent_office_id</span>|<span class="data-type">Integer</span>|
|<span class="response-data">type</span>|<span class="data-type">String or null</span>|
|<span class="response-data">sent_by_agent</span>|<span class="data-type">String or null</span>|
|<span class="response-data">pdf_requested</span>|<span class="data-type">Integer</span>|
|<span class="response-data">pres_requested</span>|<span class="data-type">Integer</span>|
|<span class="response-data">pdf_requested_times</span>|<span class="data-type">Array</span>|
|<span class="response-data">pdf_delivered_times</span>|<span class="data-type">Array</span>|
|<span class="response-data">pres_requested_times</span>|<span class="data-type">Array</span>|
|<span class="response-data">pres_delivered_times</span>|<span class="data-type">Array</span>|
|<span class="response-data">external_identifier</span>|<span class="data-type">String or null</span>|
|<span class="response-data">external_office_id</span>|<span class="data-type">String or null</span>|
|<span class="response-data">moxi_works_presentation_id</span>|<span class="data-type">String or null</span>|
|<span class="response-data">subject_property_address</span>|<span class="data-type">String or null</span>|
|<span class="response-data">estimated_market_value</span>|<span class="data-type">Float or null</span>|
|<span class="response-data">price_range_min</span>|<span class="data-type">Float or null</span>|
|<span class="response-data">price_range_max</span>|<span class="data-type">Float or null</span>|

<span class="response-data-head">agent_uuid</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the agent which an <span class='entity-name'>ActionLog</span> entry is associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">agent_fname</span>
<span class="response-data-remarks">First name of agent. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">agent_lname</span>
<span class="response-data-remarks">Last name of agent. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">title</span>
<span class="response-data-remarks">The title of the presentation. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">created</span>
<span class="response-data-remarks">This is the Unix timestamp for the creation time of the presentation.</span>

<span class="response-data-head">edited</span>
<span class="response-data-remarks">This is the Unix timestamp for the last time the presentation was edited.</span>

<span class="response-data-head">agent_office_id</span>
<span class="response-data-remarks">This is the ID of the office for the <span class='entity-name'>Agent</span> associated with the presentation. This will be an integer.</span>

<span class="response-data-head">type</span>
<span class="response-data-remarks">Whether the presentation is for a buyer or seller.</span>

<span class="response-data-head">sent_by_agent</span>
<span class="response-data-remarks">The UUID of the agent that sent the presentation to the client. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">pdf_requested</span>
<span class="response-data-remarks">The number of PDF documents requested.</span>

<span class="response-data-head">pres_requested</span>
<span class="response-data-remarks">The number of Online presentations requested.</span>

<span class="response-data-head">pdf_requested_times</span>
<span class="response-data-remarks">An array of Unix timestamps representing the times when a pdf of the presentation has been requested via web link. Will be <em>null</em> if <span class='attribute-name'>include_times</span> attribute is not included.</span>

<span class="response-data-head">pdf_delivered_times</span>
<span class="response-data-remarks">An array of Unix timestamps representing the times when a pdf of the presentation has been shared (emailed) by the agent(s). Will be <em>null</em> if <span class='attribute-name'>include_times</span> attribute is not included.</span>

<span class="response-data-head">pres_requested_times</span>
<span class="response-data-remarks">An array of Unix timestamps representing the times when the presentation slide show has been requested via web link. Will be <em>null</em> if <span class='attribute-name'>include_times</span> attribute is not included.</span>

<span class="response-data-head">pres_delivered_times</span>
<span class="response-data-remarks">An array of Unix timestamps representing the times when the presentation slide show has been shared (emailed) by the agent(s). Will be <em>null</em> if <span class='attribute-name'>include_times</span> attribute is not included.</span>

<aside class="note">At this time, the attributes <span class='attribute-name'>pdf_requested_times</span>, <span class='attribute-name'>pdf_delivered_times</span>, <span class='attribute-name'>pres_requested_times</span>, and <span class='attribute-name'>pres_delivered_times</span> will be <em>null</em> if the request query is not scoped to an agent (an agent identifier is not included).</aside>

<span class="response-data-head">external_identifier</span>
<span class="response-data-remarks">This is the  ID of the <span class='entity-name'>Agent</span> utilized by their company.</span>

<span class="response-data-head">external_office_id</span>
<span class="response-data-remarks">This is the  ID of the office for this <span class='entity-name'>Agent</span> utilized by their company.</span>

<span class="response-data-head">moxi_works_presentation_id</span>
<span class="response-data-remarks">The unique UUID of the presentation. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">subject_property_address</span>
<span class="response-data-remarks">The subject property address of the presentation. This will be null if there is no data for this attribute. Otherwise, this will be a string with the address, unit number (if any), city, state/province, and postal code.</span>

<span class="response-data-head">estimated_market_value</span>
<span class="response-data-remarks">The estimated market value of the presentation. This will be null if both a <span class="attribute-name">price_range_min</span> and <span class="attribute-name">price_range_max</span> exist.</span>

<span class="response-data-head">price_range_min</span>
<span class="response-data-remarks">The price range minimum of the presentation.</span>

<span class="response-data-head">price_range_max</span>
<span class="response-data-remarks">The price range maximum of the presentation.</span>
