#### <span class='entity-name'>Event</span> <span class='action-name'>Delete</span>


<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Event.html#delete-class_method'>Ruby Delete Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Event.html#method_delete'>PHP Delete Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Event</span> <span class='action-name'>Delete</span> Example</span>

```json
{
  "moxi_works_agent_id":"abc123",
  "partner_event_id":"MySystemsUniqueEventID"
}

```


```http
DELETE /api/events/my_event_id?moxi_works_agent_id=abc123 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

success = MoxiworksPlatform::Event.delete(
        moxi_works_agent_id: "1234abcd",
        partner_event_id: "booyuh")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$success = MoxiworksPlatform\Event::delete([
        'moxi_works_agent_id' => '1234abcd',
        'partner_event_id' => 'booyuh']);
?>
```



<aside class="note">Send a <b>DELETE</b> request to https://api.moxiworks.com/api/events/[partner_event_id]</aside>

When deleting an <span class='entity-name'>Event</span> object using the Moxi Works platform API, format your data using the following parameters.


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_agent_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span>
|<span class="required-data">partner_event_id</span>|<span class="required-data">String</span>|<span class="required-data">255</span>

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which you are searching for associated <span class='entity-name'>Event</span> objects. This will be a string that may take the form of an email address, or a unique identification string. This data is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>Event</span> <span class='action-name'>Delete</span>  request to be accepted.</span>


<span class="request-data-head">partner_event_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Event</span>. This data is required and must reference a previously created <span class='entity-name'>Event</span> you have created on The Moxi Works Platform.</span>


<blockquote><div class='highlight json' style="display: block">
 <span class="data-example-label"><span class='entity-name'>Event</span> <span class='action-name'>Delete</span> Response</span>
</div></blockquote>

```json
{
  "status": "success",
  "deleted": true
}
```

<blockquote><div class='highlight json' style="display: block">
 <span class="data-example-label"><span class='entity-name'>Event</span> <span class='action-name'>Delete</span> Failure Response</span>
</div></blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```



##### <span class='entity-name'>Event</span> <span class='action-name'>Delete</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>Event</span> response for a <span class='action-name'>Delete</span> request.


Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">status</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">deleted</span>|<span class="response-data"><span class="data-type">Boolean</span>


<span class="response-data-head">status</span>
<span class="response-data-remarks">This indicates whether the request was successfully processed.</span>

<span class="response-data-head">deleted</span>
<span class="response-data-remarks">This is the result of the action -- whether the <span class='entity-name'>Event</span>object was actually deleted.</span>
