#### <span class='entity-name'>Event</span> <span class='action-name'>Delete</span>


<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Event.html#delete-class_method'>Ruby Delete Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Event.html#method_delete'>PHP Delete Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_event_service.html#ad5199734942e61ac2ea7095cf34db955'>.Net <span class='action-name'>EventService.DeleteEventAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Event</span> <span class='action-name'>Delete</span> (using <span class='attribute-name'>agent_uuid</span>) Example</span>

```json
{
  "agent_uuid":"12345678-1234-1234-1234-1234567890ab",
  "partner_event_id":"MySystemsUniqueEventID"
}

```


```http
DELETE /api/events/my_event_id?agent_uuid=12345678-1234-1234-1234-1234567890ab HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var eventID = "abc123";
var agentUuid = "12345678-1234-1234-1234-1234567890ab";

var service = new EventService(new MoxiWorksClient());
var results = service.DeleteEventAsync( agentUuid, AgentIdType.AgentUuid, eventID).Result;

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

success = MoxiworksPlatform::Event.delete(
        agent_uuid: "12345678-1234-1234-1234-1234567890ab",
        partner_event_id: "booyuh")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$success = MoxiworksPlatform\Event::delete([
        'agent_uuid' => '12345678-1234-1234-1234-1234567890ab',
        'partner_event_id' => 'booyuh']);
?>
```


> <span class="data-example-label"><span class='entity-name'>Event</span> <span class='action-name'>Delete</span> (using <span class='attribute-name'>moxi_works_agent_id</span>) Example</span>

```json
{
  "moxi_works_agent_id":"abc123",
  "partner_event_id":"MySystemsUniqueEventID"
}

```


```http
DELETE /api/events/my_event_id?moxi_works_agent_id=abc123 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var eventID = "abc123";
var moxiWorksAgentID = "1234abcd";

var service = new EventService(new MoxiWorksClient());
var results = service.DeleteEventAsync( agentUuid,  AgentIdType.MoxiWorksAgentId, eventId: eventID).Result;

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

success = MoxiworksPlatform::Event.delete(
        moxi_works_agent_id: "1234abcd",
        partner_event_id: "booyuh")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$success = MoxiworksPlatform\Event::delete([
        'moxi_works_agent_id' => '1234abcd',
        'partner_event_id' => 'booyuh']);
?>
```



<aside class="note">Send a <b>DELETE</b> request to https://api.moxiworks.com/api/events/[partner_event_id]</aside>

When deleting an <span class='entity-name'>Event</span> object using the Moxi Works platform API, format your data using the following parameters.


##### <span class='entity-name'>Event</span> <span class='action-name'>Delete</span> Request Attributes

Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="multi-option-required-data">agent_uuid*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">moxi_works_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="required-data">partner_event_id</span>|<span class="required-data">String</span>|<span class="required-data">255</span>

<span class="multi-option-required-data">* **Either <span class='attribute-name'>moxi_works_agent_id</span> or <span class='attribute-name'>agent_uuid</span> must be supplied. For guidance on which Agent identifier better fits your use-case, see [Agent Identifiers](#agent-identifiers)**</span>


<span class="required-data">**Required Parameters Are In Red**</span>


<span class="request-data-head">agent_uuid</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which an  <span class='entity-name'>Event</span> entry is associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID. <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>Event</span> <span class='action-name'>Show</span> request to be accepted.</span>

<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which you are searching for associated <span class='entity-name'>Event</span> objects. This will be a string that may take the form of an email address, or a unique identification string. This data is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>Event</span> <span class='action-name'>Delete</span>  request to be accepted.</span>

<aside class="note">A company's internal agent id may be used to construct the agent's unique identification string. To do so, the value passed via the moxi_works_agent_id should be a single concatenated string, of the form:</br>[moxi_works_company_id]:[internal_agent_id]</br>Use <a href='#company'>Company Endpoint</a> to determine which moxi_works_company_id to use.</aside>

<span class="request-data-head">partner_event_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Event</span>. This data is required and must reference a previously created <span class='entity-name'>Event</span> you have created on The Moxi Works Platform.</span>


<blockquote><div class='highlight json' style="display: block">
 <span class="data-example-label"><span class='entity-name'>Event</span> <span class='action-name'>Delete</span> Response</span>
</div></blockquote>

```json
{
  "status": "success",
  "deleted": true
}
```

<blockquote><div class='highlight json' style="display: block">
 <span class="data-example-label"><span class='entity-name'>Event</span> <span class='action-name'>Delete</span> Failure Response</span>
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```



##### <span class='entity-name'>Event</span> <span class='action-name'>Delete</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>Event</span> response for a <span class='action-name'>Delete</span> request.


Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">status</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">deleted</span>|<span class="response-data"><span class="data-type">Boolean</span>


<span class="response-data-head">status</span>
<span class="response-data-remarks">This indicates whether the request was successfully processed.</span>

<span class="response-data-head">deleted</span>
<span class="response-data-remarks">This is the result of the action -- whether the <span class='entity-name'>Event</span>object was actually deleted.</span>
