#### <span class='entity-name'>Event</span> <span class='action-name'>Index</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Event.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Event.html#method_search'>PHP Search Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Event</span> <span class='action-name'>Index</span> Example</span>

```json
{
  "moxi_works_agent_id":"abc123",
  "date_start":1461108284,
  "date_end":1462317907
}

```

```http
GET /api/events?moxi_works_agent_id=abc123&date_start=1461108284&date_end=1462317907%20fuller HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_event = MoxiworksPlatform::Event.search(
        moxi_works_agent_id: "1234abcd",
        date_start: 1462317907,
        date_end: 1461108284)

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_event = MoxiworksPlatform\Event::search([
        'moxi_works_agent_id' => '1234abcd',
        'date_start' => 1462317907,
        'date_end' => 1461108284]);
?>
```


<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/events</aside>


When searching for <span class='entity-name'>Event</span> objects using the Moxi Works platform API, format your data using the following parameters.

##### <span class='entity-name'>Event</span> <span class='action-name'>Index</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_agent_id</span>|<span class="required-data"><span class="data-type">String</span></span>| <span class="required-data">255</span>
|<span class="required-data"><span class="required-data">date_start</span></span>|<span class="required-data"><span class="data-type">Integer</span></span>| <span class="required-data">255</span>|
|<span class="required-data">date_end</span>|<span class="required-data"><span class="data-type">Integer</span></span>|<span class="required-data">255</span>|

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which you are searching for associated <span class='entity-name'>Event</span> objects. This will be a string that may take the form of an email address, or a unique identification string. This data is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>Event</span> <span class='action-name'>Index</span>  request to be accepted.</span>


<span class="request-data-head">date_start</span>
<span class="request-data-remarks">This is the earliest time that you are searching for an <span class='entity-name'>Event</span> to be in. This data is required and must be a Unix timestamp before <span class='attribute-name'>date_end</span>.</span>


<span class="request-data-head">date_end</span>
<span class="request-data-remarks">This is the latest time that you are searching for an <span class='entity-name'>Event</span> to be in. This data is required and must be a Unix timestamp after <span class='attribute-name'>date_start</span>.</span>




<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Event</span> <span class='action-name'>Index</span> Response Payload Example
</span></div></blockquote>


```json

[{"date":"04/19/2016",
"events": [
{
  "moxi_works_agent_id": "1234abcd",
  "partner_event_id": "waat",
  "event_subject": "dis subject",
  "event_location": "the location",
  "send_reminder": true,
  "is_meeting": false,
  "all_day": true,
  "event_start": null,
  "event_end": null,
  "required_attendees": null,
  "optional_attendees": "Contact1ID, Contact2ID, Contact3ID",
  "recurring": false,
  "note": "more notable stuff"
},
{
  "moxi_works_agent_id": "1234abcd",
  "partner_event_id": "abcd",
  "event_subject": "mah subject",
  "event_location": "_the_ location",
  "send_reminder": true,
  "is_meeting": true,
  "all_day": false,
  "event_start": 1462234327,
  "event_end": 1462241468,
  "required_attendees": null,
  "optional_attendees": null,
  "recurring": false,
  "note": "more notable stuff"
}
]},
{"date":"04/20/2016",
"events":[{
  "moxi_works_agent_id": "1234abcd",
  "partner_event_id": "booyuh",
  "event_subject": "dat subject",
  "event_location": "the other location",
  "send_reminder": false,
  "is_meeting": true,
  "all_day": false,
  "event_start": 1462234227,
  "event_end": 1462241468,
  "required_attendees": null,
  "optional_attendees": null,
  "recurring": false,
  "note": "even more notable stuff"
}]
},
{"date":"04/21/2016",
"events":[]
}]
```


<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>Event</span> <span class='action-name'>Index</span> Failure Response
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```


The <span class='entity-name'>Event</span> <span class='action-name'>Index</span> response is made up of an array of objects representing dates that span the range requested. Each object contains the following attributes.



##### <span class='entity-name'>Event</span> <span class='action-name'>Index</span> Response Payload

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">date</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">events</span>|<span class="response-data"><span class="data-type">Array</span></span>|

<span class="response-data-head">date</span>
<span class="response-data-remarks">This is a string representing a date in `MM/DD/YYYY` format. Any event <span class='entity-name'>Event</span> whose duration spans or falls within this day will be included in the results for this day.</span>

<span class="response-data-head">events</span>
<span class="response-data-remarks">This is the payload of <span class='entity-name'>Event</span> objects that fall on this day. If no <span class='entity-name'>Event</span> objects span this duration, then the <span class='attribute-name'>events</span> array will be emtpy.</span>

###### <span class='attribute-name'>events</span> Response Attributes

Each <span class='entity-name'>Event</span> in the <span class='attribute-name'>events</span> array will have the following structure.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">moxi_works_agent_id</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">partner_event_id</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">event_subject</span>|<span class="data-type">String</span>|
|<span class="response-data">event_location</span>|<span class="data-type">String</span>|
|<span class="response-data">is_meeting</span>|<span class="data-type">Boolean</span>|
|<span class="response-data">all_day</span>|<span class="data-type">Boolean</span>|
|<span class="response-data">event_start</span>|<span class="data-type">Integer</span>|
|<span class="response-data">event_end</span>|<span class="data-type">Integer</span>|
|<span class="response-data">attendees</span>|<span class="data-type">String</span>|
|<span class="response-data">note</span>|<span class="data-type">String</span>|

<span class="response-data-head">moxi_works_agent_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which this <span class='entity-name'>Event</span> is associated with. This will be a string that may take the form of an email address, or a unique identification string.</span>

<span class="response-data-head">partner_event_id</span>
<span class="response-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Event</span>.</span>

<span class="response-data-head">event_start</span>
<span class="response-data-remarks">This is the Unix timestamp representing the start time of the <span class='entity-name'>Event</span>. </span>

<span class="response-data-head">event_end</span>
<span class="response-data-remarks">This is the Unix timestamp representing the end time of the <span class='entity-name'>Event</span>.</span>

<span class="response-data-head">event_subject</span>
<span class="response-data-remarks">This is a short, descriptive, human readable phrase to be displayed to the agent which lets them know what this <span class='entity-name'>Event</span> regards.</span>

<span class="response-data-head">event_location</span>
<span class="response-data-remarks">This is a human readable locatition reference regarding where the event is located that will be meaningful to the agent.</span>

<span class="response-data-head">attendees</span>
<span class="response-data-remarks">This is a comma separated list of contacts that have already been added through the Moxi Works Platform API who will be present at the referenced event. (Use IDs from your system -- i.e. partner_contact_id from [Contact Create](#contact-create)).</span>

<span class="response-data-head">event_location</span>
<span class="response-data-remarks">This is a human readable details about the event that will be meaningful to the agent or any details that are not otherwise represented in the structure of the <span class='entity-name'>Event</span> object.</span>
