#### Index

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Event.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Event.html#method_search'>PHP Search Docs</a></span></blockquote></div>

> <span class="data-example-label">Event Index Example</span>

```http
GET /api/events?moxi_works_agent_id=abc123&date_start=1461108284&date_end=1462317907%20fuller HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_event = MoxiworksPlatform::Event.search(
        moxi_works_agent_id: "1234abcd",
        date_start: 1462317907,
        date_end: 1461108284)

```

```php
<?php
$platform_identifier = 'abc123'
$platform_secret = 'secret'

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret)

$moxi_works_event = MoxiworksPlatform\Event::search([
        $moxi_works_agent_id => "1234abcd",
        $date_start => 1462317907,
        $date_end => 1461108284])
?>
```


<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">Event Index: Success Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http
HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

[{"date":"04/19/2016",
"events": [
{
  "moxi_works_agent_id": "1234abcd",
  "partner_event_id": "waat",
  "event_subject": "dis subject",
  "event_location": "the location",
  "send_reminder": true,
  "is_meeting": false,
  "all_day": true,
  "event_start": null,
  "event_end": null,
  "required_attendees": null,
  "optional_attendees": "Contact1ID, Contact2ID, Contact3ID",
  "recurring": false,
  "note": "more notable stuff"
},
{
  "moxi_works_agent_id": "1234abcd",
  "partner_event_id": "abcd",
  "event_subject": "mah subject",
  "event_location": "_the_ location",
  "send_reminder": true,
  "is_meeting": true,
  "all_day": false,
  "event_start": 1462234327,
  "event_end": 1462241468,
  "required_attendees": null,
  "optional_attendees": null,
  "recurring": false,
  "note": "more notable stuff"
}
]},
{"date":"04/20/2016",
"events":[{
  "moxi_works_agent_id": "1234abcd",
  "partner_event_id": "booyuh",
  "event_subject": "dat subject",
  "event_location": "the other location",
  "send_reminder": false,
  "is_meeting": true,
  "all_day": false,
  "event_start": 1462234227,
  "event_end": 1462241468,
  "required_attendees": null,
  "optional_attendees": null,
  "recurring": false,
  "note": "even more notable stuff"
}]
},
{"date":"04/21/2016",
"events":[]
}]
```

<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">Event Index: Not Found Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http

HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

[]
```

<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">Event Index: Failure Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http

HTTP/1.1 400 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/events</aside>


When searching for a event using the Moxi Works platform API, format your data using the following parameters.


Attribute | Type| Remark | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_agent_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data"><span class="data-remarks">The agent's Moxi Works Platform ID</span></span>| <span class="required-data">255</span>
|<span class="required-data"><span class="required-data">date_start</span></span>|<span class="required-data"><span class="data-type">Integer</span></span>|<span class="required-data"><span class="data-remarks">Unix timestamp representing the start date.</span></span>| <span class="required-data">255</span>|
|<span class="required-data">date_end</span>|<span class="required-data"><span class="data-type">Integer</span></span>|<span class="required-data"><span class="data-remarks">Unix timestamp representing the end date.</span></span>| <span class="required-data">255</span>|

<span class="required-data">**Required Parameters Are In Red**</span>
