#### <span class='entity-name'>Event</span> <span class='action-name'>Show</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Event.html#find-class_method'>Ruby Find Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Event.html#method_find'>PHP Find Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_event_service.html#a77c68ca6aa686bb91fd0c91bc4f7b6dc'>.Net <span class='action-name'>EventService.GetEventAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Event</span> <span class='action-name'>Show</span> (using <span class='attribute-name'>agent_uuid</span>) Example</span>

```json
{
  "agent_uuid":"12345678-1234-1234-1234-1234567890ab",
  "partner_event_id":"8675309e9"
}

```


```http
GET /api/events/[partner_event_id]?agent_uuid=12345678-1234-1234-1234-1234567890ab HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var agentUuid = "12345678-1234-1234-1234-1234567890ab";
var partnerEventId = "booyuh";

var service = new EventService(new MoxiWorksClient());
var results = service.GetEventAsync( agentUuid,  AgentIdType.AgentUuid, partnerEventId).Result;

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_event = MoxiworksPlatform::Event.find(
        agent_uuid: "12345678-1234-1234-1234-1234567890ab",
        partner_event_id: "booyuh")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_event = MoxiworksPlatform\Event::find([
        'agent_uuid' => '12345678-1234-1234-1234-1234567890ab',
        'partner_event_id' => 'booyuh']);
?>
```


> <span class="data-example-label"><span class='entity-name'>Event</span> <span class='action-name'>Show</span> (using <span class='attribute-name'>agent_uuid</span>) Example</span>

```json
{
  "moxi_works_agent_id":"abc123",
  "partner_event_id":"8675309e9"
}

```


```http
GET /api/events/[partner_event_id]?moxi_works_agent_id=abc123 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var moxiWorksAgentId = "1234abcd";
var partnerEventId = "booyuh";

var service = new EventService(new MoxiWorksClient());
var results = service.GetEventAsync( moxiWorksAgentId, AgentIdType.MoxiWorksAgentId, partnerEventId).Result;

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_event = MoxiworksPlatform::Event.find(
        moxi_works_agent_id: "1234abcd",
        partner_event_id: "booyuh")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_event = MoxiworksPlatform\Event::find([
        'moxi_works_agent_id' => '1234abcd',
        'partner_event_id' => 'booyuh']);
?>
```



<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/events/[partner_event_id]</aside>

##### <span class='entity-name'>Event</span> <span class='action-name'>Show</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="multi-option-required-data">agent_uuid*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">moxi_works_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="required-data">partner_event_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span>

<span class="multi-option-required-data">* **Either <span class='attribute-name'>moxi_works_agent_id</span> or <span class='attribute-name'>agent_uuid</span> must be supplied. For guidance on which Agent identifier better fits your use-case, see [Agent Identifiers](#agent-identifiers)**</span>


<span class="required-data">**Required Parameters Are In Red**</span>


<span class="request-data-head">agent_uuid</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which an  <span class='entity-name'>Event</span> entry is associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID. <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>Event</span> <span class='action-name'>Show</span> request to be accepted.</span>


<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which the <span class='entity-name'>Event</span> is associated with. This will be a string that may take the form of an email address, or a unique identification string. This data is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>Event</span> <span class='action-name'>Show</span>  request to be accepted.</span>


<span class="request-data-head">partner_event_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Event</span> that you are searching for.</span>




##### <span class='entity-name'>Event</span> <span class='action-name'>Show</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>Event</span> response for a <span class='action-name'>Show</span> request.



<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Event</span> <span class='action-name'>Show</span> (using <span class='attribute-name'>agent_uuid</span>)  Response Payload Example
</span></div></blockquote>


```json

{
  "partner_event_id": "booyuh",
  "agent_uuid": "12345678-1234-1234-1234-1234567890ab",
  "event_subject": "event subject",
  "event_location": "event location",
  "note": "notable stuff",
  "send_reminder": true,
  "remind_minutes_before": 15,
  "event_start": 1462234227,
  "event_end": 1462241468,
  "all_day": false,
  "attendees": "Contact1ID,Contact2ID"
}
```

<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Event</span> <span class='action-name'>Show</span> (using <span class='attribute-name'>moxi_works_agent_id</span>)  Response Payload Example
</span></div></blockquote>


```json

{
  "partner_event_id": "booyuh",
  "moxi_works_agent_id": "1234abcd",
  "event_subject": "event subject",
  "event_location": "event location",
  "note": "notable stuff",
  "send_reminder": true,
  "remind_minutes_before": 15,
  "event_start": 1462234227,
  "event_end": 1462241468,
  "all_day": false,
  "attendees": "Contact1ID,Contact2ID"
}
```

<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>Event</span> <span class='action-name'>Show</span> Failure Response
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

###### <span class='action-name'>Show</span> Response Attributes

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">partner_event_id</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="multi-option-response-data">agent_uuid*</span>|<span class="data-type">String</span>| |
|<span class="multi-option-response-data">moxi_works_agent_id*</span>|<span class="data-type">String</span>| |
|<span class="response-data">event_subject</span>|<span class="data-type">String</span>|
|<span class="response-data">event_location</span>|<span class="data-type">String</span>|
|<span class="response-data">note</span>|<span class="data-type">String</span>|
|<span class="response-data">send_reminder</span>|<span class="data-type">Boolean</span>|
|<span class="response-data">remind_minutes_before</span>|<span class="data-type">Integer</span>|
|<span class="response-data">note</span>|<span class="data-type">String</span>|
|<span class="response-data">all_day</span>|<span class="data-type">Boolean</span>|
|<span class="response-data">event_start</span>|<span class="data-type">Integer</span>|
|<span class="response-data">event_end</span>|<span class="data-type">Integer</span>|
|<span class="response-data">attendees</span>|<span class="data-type">String</span>|


<span class='multi-option-response-data'>* Either <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> will be returned depending on whether it is used in the request. The response payload object's agent identifier key will match the passed parameter.</span>

<span class="response-data-head">partner_event_id</span>
<span class="response-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Event</span>.</span>

<span class="response-data-head">agent_uuid</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which this <span class='entity-name'>Event</span>  is associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">moxi_works_agent_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which this <span class='entity-name'>Event</span> is associated with. This will be a string that may take the form of an email address, or a unique identification string.</span>

<span class="response-data-head">event_subject</span>
<span class="response-data-remarks">This is a short, descriptive, human readable phrase to be displayed to the agent which lets them know what this <span class='entity-name'>Event</span> regards.</span>

<span class="response-data-head">event_location</span>
<span class="response-data-remarks">This is a human readable locatition reference regarding where the event is located that will be meaningful to the agent.</span>

<span class="response-data-head">send_reminder</span>
<span class="response-data-remarks">Whether to send a reminder to attendees before the start of the event.</span>

<span class="response-data-head">remind_minutes_before</span>
<span class="response-data-remarks">Number of minutes prior to the start of the event that attendees should be notified.</span>

<span class="response-data-head">note</span>
<span class="response-data-remarks">This is a human readable note about the event that will be meaningful to the agent.</span>

<span class="response-data-head">event_start</span>
<span class="response-data-remarks">This is the Unix timestamp representing the start time of the <span class='entity-name'>Event</span>. </span>

<span class="response-data-head">event_end</span>
<span class="response-data-remarks">This is the Unix timestamp representing the end time of the <span class='entity-name'>Event</span>.</span>

<span class="response-data-head">attendees</span>
<span class="response-data-remarks">This is a comma separated list of contacts that have already been added through the Moxi Works Platform API who will be present at the referenced event. (Use IDs from your system -- i.e. partner_contact_id from [Contact Create](#contact-create) ).</span>
