#### <span class='entity-name'>Team</span> <span class='action-name'>Show</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Team.html#find-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Team.html#method_find'>PHP Search Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Team</span> <span class='action-name'>Show</span> Example</span>


> Requested <span class='entity-name'>Team</span> object

```http
GET /api/teams/deadbeef-deadbeef-feed-facedeadbeef HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "moxi_works_team_id":"deadbeef-deadbeef-feed-facedeadbeef"
}

```

```ruby

##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

company_teams = MoxiworksPlatform::Team.find(moxi_works_team_id: "deadbeef-deadbeef-feed-facedeadbeef")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$company_teams = MoxiworksPlatform\Team::find(['moxi_works_team_id' => 'deadbeef-deadbeef-feed-facedeadbeef']);
?>
```
```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var moxiWorksCompanyId = "1234bcd";
var moxiWorksTeamId = "1234567";

var service = new TeamService(new MoxiWorksClient());
var results = service.GetTeamAsync(moxiWorksTeamId,moxiWorksCompanyId).Result;
var team = results.Item

```
##### <span class='entity-name'>Team</span> <span class='action-name'>Show</span> Request Attributes

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/teams/[moxi_works_team_id]</aside>

When showing <span class='entity-name'>Team</span> entities using the MoxiWorks platform API, format your data using the following parameters.


Attribute | Type  | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_team_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255<span> |
|<span class="required-data">moxi_works_company_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255<span> |
|<span class="optional-data">parent_company_id</span>|<span class="data-type">String</span>| 255 |

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid MoxiWorks <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<span class="request-data-head">parent_company_id</span>
<span class="request-data-remarks">This is the <span class='attribute-name'>numeric_id</span> or <span class='attribute-name'>moxi_works_company_id</span> of a company that is considered to be a parent company in the MoxiWorks Platform. This request attribute has two functions:<br><br>	**1.** It provides for a broad scope by which partners may be afforded permissions to perform MoxiWorks Platform actions, in scenarios where a partner does business with a parent company in the MoxiWorks System.<br>	**2.** It provides broad scope under which agents may be looked up using the <span class='attribute-name'>source_agent_id</span> request attribute in many scenarios across different MoxiWorks Platform endpoints and actions.<br><br>	**Please note** that this attribute cannot be used as a replacement for the <span class='attribute-name'>moxi_works_company_id</span> request attribute in scenarios where the <span class='attribute-name'>moxi_works_company_id</span> request attribute is required by the action.<br><br>	**Please note** that this attribute cannot be used to broaden scope of any request where the scope of the request is defined by the <span class='attribute-name'>moxi_works_company_id</span> request attribute.<br><br>	**Please note** that when passed in conjunction with the <span class='attribute-name'>moxi_works_company_id</span> request attribute, the value of <span class='attribute-name'>moxi_works_company_id</span> request attribute must be the numeric id form.<br><br>	Any use of this request attribute must be coordinated with MoxiWorks Platform Partner services. Please reach out to partner services for more information.</span>


<span class="request-data-head">moxi_works_team_id</span>
<span class="request-data-remarks">A valid MoxiWorks <span class='entity-name'>Team</span> ID. Use [Team Index Endpoint](#team-index) for a list of all <span class='entity-name'>Team</span> objects associated with  a <span class='entity-name'>Company</span> or use the <span class='attribute-name'>moxi_works_team_id</span> attribute returned in an <span class='entity-name'>Agent</span> response.</span>



<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label">Team Show: Success Response</span>
</div></blockquote>

```json

  {
    "uuid":"feedface-dead-beef-aadf-baddeedc645",
    "name": "New Team One",
    "email": "email@address",
    "address1": "1234 Here St.",
    "address2": "Suite: 1234",
    "city": "Sweetville",
    "zipcode": "91820",
    "state": "OR",
    "phone": "666-555-1234",
    "fax": "666-867-5309",
    "logo_url": "http://website.url/logo.png",
    "photo_url": "http://website.url/image.jpg",
    "description": "<h1>Heading 1</h1><ol><li>a</li></ol><h1><br />This team is the <em><strong>teamiest</strong> </em>of all the <sub>teams</sub>, <span style="text-decoration: underline;">hands</span> down!</h1>",
    "social_media_urls": null,
    "alt_phone": "666-555-4444",
    "alt_email": "alternate@email.address",
    "website_url": "http://the.team.website",
    "active": true
  }

```

<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label">Team Show: Failure Response</span>
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json
{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```


Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">uuid</span>|<span class="data-type">String</span>|
|<span class="response-data">name</span>|<span class="data-type">String or null</span>|
|<span class="response-data">email</span>|<span class="data-type">String or null</span>|
|<span class="response-data">address1</span>|<span class="data-type">String or null</span>|
|<span class="response-data">address2</span>|<span class="data-type">String or null</span>|
|<span class="response-data">city</span>|<span class="data-type">String or null</span>|
|<span class="response-data">zipcode</span>|<span class="data-type">String or null</span>|
|<span class="response-data">state</span>|<span class="data-type">String or null</span>|
|<span class="response-data">phone</span>|<span class="data-type">String or null</span>|
|<span class="response-data">fax</span>|<span class="data-type">String or null</span>|
|<span class="response-data">logo_url</span>|<span class="data-type">String or null</span>|
|<span class="response-data">photo_url</span>|<span class="data-type">String or null</span>|
|<span class="response-data">description</span>|<span class="data-type">String or null</span>|
|<span class="response-data">alt_phone</span>|<span class="data-type">String or null</span>|
|<span class="response-data">alt_email</span>|<span class="data-type">String or null</span>|
|<span class="response-data">website_url</span>|<span class="data-type">String or null</span>|
|<span class="response-data">active</span>|<span class="data-type">Boolean</span>|



<span class="response-data-head">uuid</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Team</span>. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">name</span>
<span class="response-data-remarks">The name of the team. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">email</span>
<span class="response-data-remarks">This is the team's main email address. This email address should be considered the email address the team would prefer to be contacted by.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">address1</span>
<span class="response-data-remarks">The street address of the team. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">address2</span>
<span class="response-data-remarks">The suite or team number of the team. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">city</span>
<span class="response-data-remarks">The city the team is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">zip_code</span>
<span class="response-data-remarks">The postal code the team is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">state</span>
<span class="response-data-remarks">The state or provice the team is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">phone</span>
<span class="response-data-remarks">This is the team's main phone number.  This number should be considered the number the team would prefer to be contacted by. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">fax</span>
<span class="response-data-remarks">This is the team's fax phone number.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">logo_url</span>
<span class="response-data-remarks">URL to an logo for the team. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">photo_url</span>
<span class="response-data-remarks">URL to an image of the team. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">description</span>
<span class="response-data-remarks">Description of the team. This can contain embedded HTML tags. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">alt_phone</span>
<span class="response-data-remarks">Alternate phone number for the team. This should be considered second in priority to <span class='attribute-name'>phone_number</span>.  This can be null if there is no data for this attribute.</span>


<span class="response-data-head">website_url</span>
<span class="response-data-remarks">Team's  website url.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">active</span>
<span class="response-data-remarks">Whether this team is active.</span>