#Welcome

Welcome to the Moxi Works Platform documentation. Here you'll find documentation about integrating with the Moxi Works Authentication service and Moxi Works API.  

##Getting Started
If you have not received your platform credentials, please contact your Moxi Works Platform Partner Services Representative. Once you have received your Moxi Works Platform Credentials, you can begin your integration. For details on the integration process for Moxi Works Authentication service, please see [Moxi Works Authentication section](#moxi-works-authentication). For details about integration with Moxi Works API, see [Moxi Works API section](#moxi-works-v1-api).

###Credentials
When starting your integration process with Moxi Works Authentication or Moxi Works API your Moxi Works Platform representative will issue you a dedicated set of credentials for either Moxi Works Authentication, Moxi Works API or both. For <div style="color: blue">Moxi Works Authentication</div>, you'll be provided a <div style="color: blue">Client ID</div> and a <div style="color: blue">Client Secret</div> that you can use along with this documentation to integrate with Moxi Works Platform Authentication service. For <div style="color: red">Moxi Works API</div>, you'll be provided a <div style="color: red">Platform Identifier</div> and <div style="color: red">Platform Secret</div> to send in your requests. For more information about Moxi Works Authentication credentials, see [OAuth Credentials](#oauth-credentials). For more information about Moxi Works API Credentials, see [API Authorization](#authorization).


