#### <span class='entity-name'>SoldListing</span> <span class='action-name'>Index  </span>


<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/SoldListing.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.SoldListing.html#method_search'>PHP Search Docs</a></span></blockquote></div>


<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_sold_listing_service.html#a1c94abc505dfc385a55fd5cad4eabba5'>.Net <span class='action-name'>SoldListingService.GetSoldListingsUpdatedSinceAsync</span> Docs</a></span></blockquote></div>


Index will return a paged response of sold listings that have been updated since a given timestamp for a specified company. For a list of company IDs that you can reques sold listings for, use the [Company Endpoint](#company).

<aside class="note">If no <span class='attribute-name'>sold_since</span> or <span class='attribute-name'>sold_before</span> parameters are provided, only listings that have been updated in the <b>last seven days</b> will be returned.</aside>



> <span class="data-example-label"><span class='entity-name'>SoldListing</span> <span class='action-name'>Index</span> Example</span>


> <span class="data-example-label"><span class='entity-name'>SoldListing</span> Objects Updated Since A Given Timestamp</span>

```json
{
  "moxi_works_company_id":"abc123",
  "sold_since":"1461108284",
  "sold_before":"1463700284"
}
```

```http
GET /api/sold_listings?moxi_works_company_id=abc123&sold_since=1461108284 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var agentUuid = "12345678-1234-1234-1234-1234567890ab";
var moxiWorksCompanyId = "abc123";

var service = new SoldListingService(new MoxiWorksClient());
var results = service.GetSoldListingsUpdatedSinceAsync(agentUuid, AgentIdType.AgentUuid, moxiWorksCompanyId, 1462317907).Result;

```



```ruby

##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

one_week =  defined?(Rails) ? 1.week : 604800
company_listings = MoxiworksPlatform::SoldListing.search(moxi_works_company_id: "abc123", sold_since: Time.now - one_week)

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$one_week = 604800;
$company_listings = MoxiworksPlatform\SoldListing::search(['moxi_works_company_id' => 'abc123', 'sold_since' => time() - $one_week]);
?>
```

> <span class="data-example-label">Requesting Next Page of <span class='entity-name'>SoldListing</span> Objects Updated Since A Given Timestamp</span>

```json
{
  "moxi_works_company_id":"abc123",
  "sold_since":"1461108284",
  "sold_before":"1463700284",
  "last_moxi_works_listing_id":"abc12345"
}

```

```http
GET /api/sold_listings?moxi_works_company_id=abc123&sold_since=1461108284&sold_before=1463700284&last_moxi_works_listing_id=abc123 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var moxiWorksAgentID = "1234bcd;
var moxiWorksCompanyId = "abc123";

var service = new SoldListingService(new MoxiWorksClient());
var results = service.GetSoldListingsUpdatedSinceAsync( moxiWorksAgentID,  AgentIdType.MoxiWorksAgentId,  moxiWorksCompanyId,  1462317907).Result;

```


```ruby
one_week =  defined?(Rails) ? 1.week : 604800

first_page = MoxiworksPlatform::SoldListing.search(moxi_works_company_id: "abc123", sold_since: Time.now - one_week)

unless first_page['final_page']
  last_listing = first_page['listings'].last
  last_listing_id = (last_listing.nil?) ? nil : last_listing.moxi_works_listing_id

  next_page = MoxiworksPlatform::SoldListing.search(moxi_works_company_id: "abc123",
    sold_since: Time.now.to_i - one_week, last_moxi_works_listing_id: last_listing_id, sold_before: Time.now)
end


# or run a block on all pages of sold listings with a single call

MoxiworksPlatform::SoldListing.search(
  moxi_works_company_id: 'abc123',
  sold_since: Time.now.to_i - one_week, sold_before: Time.now.to_i) { |page_of_listings| puts page_of_listings.count }


```

```php
<?php
$one_week = 604800;

$first_page = MoxiworksPlatform\SoldListing::search(['moxi_works_company_id' => 'abc123', 'sold_since' => time() - $one_week]);

if(!$first_page['final_page']) {
  $last_listing = end(array_values($first_page['listings']));
  $last_listing_id = $last_listing->$moxi_works_listing_id;
  MoxiworksPlatform\SoldListing::search(['moxi_works_company_id' => 'abc123', 'sold_since' => time() - $one_week, 'sold_before' => time()], 'last_moxi_works_listing_id' => $last_listing_id);
}

?>
```

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/sold_listings</aside>


When searching for <span class='entity-name'>SoldListing</span> objects using the MoxiWorks platform API, format your data using the following parameters.

##### <span class='entity-name'>SoldListing</span> <span class='action-name'>Index</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_company_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255<span> |
|<span class="optional-data">parent_company_id</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">sold_since</span>|<span class="data-type">Integer</span>| 255 |
|<span class="optional-data">sold_before</span>|<span class="data-type">Integer</span>| 255 |
|<span class="optional-data">agent_uuid †</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">moxi_works_agent_id †</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">source_agent_id †</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">moxi_works_office_id</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">last_moxi_works_listing_id</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">include_buyer_listings</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">underscore_response</span>|<span class="data-type">Boolean</span>| 255 |

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="request-data-head"><span class='attribute-name'>moxi_works_agent_id</span> or <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>source_agent_id</span></span>
<span class="request-data-remarks">**One of these parameters may be supplied** Please reference [Agent Identifiers](#agent-identifiers) for information about how to construct your agent identifier request params.</span>

<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid MoxiWorks <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<span class="request-data-head">parent_company_id</span>
<span class="request-data-remarks">This is the <span class='attribute-name'>numeric_id</span> or <span class='attribute-name'>moxi_works_company_id</span> of a company that is considered to be a parent company in the MoxiWorks Platform. This request attribute has two functions:<br><br>	**1.** It provides for a broad scope by which partners may be afforded permissions to perform MoxiWorks Platform actions, in scenarios where a partner does business with a parent company in the MoxiWorks System.<br>	**2.** It provides broad scope under which agents may be looked up using the <span class='attribute-name'>source_agent_id</span> request attribute in many scenarios across different MoxiWorks Platform endpoints and actions.<br><br>	**Please note** that this attribute cannot be used as a replacement for the <span class='attribute-name'>moxi_works_company_id</span> request attribute in scenarios where the <span class='attribute-name'>moxi_works_company_id</span> request attribute is required by the action.<br><br>	**Please note** that this attribute cannot be used to broaden scope of any request where the scope of the request is defined by the <span class='attribute-name'>moxi_works_company_id</span> request attribute.<br><br>	**Please note** that when passed in conjunction with the <span class='attribute-name'>moxi_works_company_id</span> request attribute, the value of <span class='attribute-name'>moxi_works_company_id</span> request attribute must be the numeric id form.<br><br>	Any use of this request attribute must be coordinated with MoxiWorks Platform Partner services. Please reach out to partner services for more information.</span>

<span class="request-data-head">sold_since</span>
<span class="request-data-remarks">Paged responses of <span class='entity-name'>SoldListing</span> objects with a sold date after this Unix timestamp will be returned in the response. **If no <span class='attribute-name'>sold_since</span> or <span class='attribute-name'>sold_after</span> parameter is included in the request, only <span class='entity-name'>SoldListing</span> objects with a sold date within the last seven days will be returned.**</span>

<aside class="note">If only <span class='attribute-name'>sold_since</span> is defined in your request, the service will return listings sold in the seven days prior to <span class='attribute-name'>sold_since</span></aside>

<aside class="note"><span class='attribute-name'>sold_before</span> can be no more than 32 days after to <span class='attribute-name'>sold_since</span>.</aside>

<span class="request-data-head">sold_before</span>
<span class="request-data-remarks">Paged responses of <span class='entity-name'>SoldListing</span> objects with a sold date after this Unix timestamp will be returned in the response. **If no <span class='attribute-name'>sold_since</span> or <span class='attribute-name'>sold_before</span> parameter is included in the request, only <span class='entity-name'>SoldListing</span> objects with a sold date within the last seven days will be returned.**</span>

<aside class="note">If only <span class='attribute-name'>sold_before</span> is defined in your request, the service will return listings sold in the seven days prior to <span class='attribute-name'>sold_before</span></aside>


<aside class="note"><span class='attribute-name'>sold_since</span> can be no more than 32 days prior to <span class='attribute-name'>sold_before</span>.</aside>


<span class="request-data-head">agent_uuid</span>
<span class="request-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Agent</span> which  <span class='entity-name'>SoldListing</span> objects are associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">Use this parameter when searching for <span class='entity-name'>SoldListing</span> objects associated with a specific <span class='entity-name'>Agent</span>.  This will be a string that may take the form of an email address, or a unique identification string. This data must reference a valid MoxiWorks Agent ID for your <span class='entity-name'>SoldListing</span> <span class='action-name'>Index</span>  request to be accepted.</span>

<aside class="note">A company's internal agent id may be used to construct the agent's unique identification string. To do so, the value passed via the moxi_works_agent_id should be a single concatenated string, of the form:</br>[moxi_works_company_id]:[internal_agent_id]</br>Use <a href='#company'>Company Endpoint</a> to determine which moxi_works_company_id to use.</aside>

<span class="request-data-head">moxi_works_office_id</span>
<span class="request-data-remarks">Use this parameter when searching for <span class='entity-name'>SoldListing</span> objects associated with a specific <span class='entity-name'>Office</span>.  This data must reference a valid MoxiWorks Office ID for your <span class='entity-name'>SoldListing</span> <span class='action-name'>Index</span>  request to be accepted.</span>

<span class="request-data-head">last_moxi_works_listing_id</span>
<span class="request-data-remarks">If fetching a multi-page response, this should be the <span class='attribute-name'>MoxiWorksListingId</span> found in the last <span class='entity-name'>SoldListing</span> object of the previously fetched page.</span>

<span class="request-data-head">include_buyer_listings</span>
<span class="request-data-remarks">Only listing data for buyer agents will be returned when this parameter is `true`.</span>

<aside class="note">`include_buyer_listings` is only available by special arrangement with MoxiWorks. If you require access to buyer agent data, talk to your Platform representative.</aside>

<span class="request-data-head">underscore_response</span>
<span class="request-data-remarks">When this attribute is passed as true, the json keys of the response will be underscored. The default json key format for listing responses is camel casing.</span>

<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>SoldListing</span> <span class='action-name'>Index</span> Response Payload Example
</span></div></blockquote>


```json

{
"FinalPage":true,
"Listings": [
{
  "LotSizeAcres":0.0,
  "BathroomsFull":3,
  "BathroomsHalf":0,
  "BathroomsOneQuarter":null,
  "BathroomsPartial":null,
  "BathroomsThreeQuarter":null,
  "BathroomsTotalInteger":3,
  "BathroomsTotal":3.0,
  "BedroomsTotal":8,
  "PublicTitle":"Amazingly Remarkable!",
  "PublicRemarks":"Publicalistically Remarkabalistically! REMARKABLE!!",
  "ModificationTimestamp":"2018-03-20T11:04:55.659-07:00",
  "InternetAddressDisplayYN":true,
  "DaysOnMarket":0,
  "ListingContractDate":"07/27/2016",
  "CreatedDate":"11/01/2016",
  "ElementarySchool":"Elementary My Dear School",
  "GarageSpaces":4,
  "WaterfrontYN":false,
  "HighSchool":"Higher Than Junior",
  "AssociationFee":null,
  "ListOfficeName":"Realty Valley United",
  "ListPrice":599000,
  "ListingID":"12323",
  "ListAgentFullName":"Bob Agentson",
  "ListAgentUUID":"8675309e9-1234-dead-beef-deadbeefdead",
  "ListAgentOfficeID":"8675309e9",
  "ListAgentMoxiWorksOfficeID":"8675309e9-1234-dead-beef-deadbeefdead",
  "SecondaryListAgentFullName":"Richard Agent",
  "SecondaryListAgentUUID":"8675309e9-2345-dead-beef-deadbeefdead",
  "SchoolDistrict":"Hilltop District",
  "Address":"97 Hilltop Road",
  "Address2":null,
  "City":"Montecarlo",
  "CountyOrParish":"Counting Parishes",
  "Latitude":"47.723251",
  "Longitude":"-122.171745",
  "StateOrProvince":"NV",
  "PostalCode":"87654",
  "Community":"Shady Acres",
  "LotSizeSquareFeet":null,
  "InternetEntireListingDisplayYN":true,
  "MiddleOrJuniorSchool":"*The* Junior High" ,
  "ListOfficeAOR":"WHATEVERS MLS",
  "ListOfficeAORArea":"Area 51",
  "PoolYN":false,
  "PropertyType":"Residential",
  "TaxAnnualAmount":13652,
  "TaxYear":2015,
  "SingleStory":false,
  "LivingArea":3640,
  "ViewYN":false,
  "YearBuilt":1989,
  "OnMarket":true,
  "Status":"active",
  "MoxiWorksListingId":"abc123",
  "AgentCreatedListing":false,
  "VirtualTourURL":"http://the.virtual.tour.url",
  "ListingURL":"http://the.listing.url",
  "CompanyListingAttributes": [
    {
      "AttributeId": "the collection",
      "AttributeName": "The Collection"
    },
      {
        "AttributeId": "destination",
        "AttributeName": "Destination"
    }
  ],
  "PropertyFeatures":[
    {
      "PropertyFeatureName": "Kitchen Information",
      "PropertyFeatureValues": [
        "Dishwasher",
        "Microwave",
        "Oven/Range Freestanding"
      ]
      },
        {
      "PropertyFeatureName": "Roof Description",
      "PropertyFeatureValues": [
        "Comp Shingle"
      ]
      },
        {
      "PropertyFeatureName": "Number Of Stories",
      "PropertyFeatureValues": [
        "Two Story"
      ]
      },
        {
      "PropertyFeatureName": "Interior Features",
      "PropertyFeatureValues": [
        "Bath Master",
        "Broadband Internet",
        "Cable/Satellite Tv",
        "Dishwasher",
        "Microwave",
        "Oven/Range Freestanding"
      ]
    },
  ],
  "OpenHouse":[
    {
      "Date":"2018-01-06",
      "StartTime":"13:00:00",
      "EndTime":"15:00:00"
    }
  ],
  "ImagesLastModified":"01/22/2018",
  "ListingImages":[
    {
      "FullURL":"http://images.moxiworks.com/static/images/br/imagoo/default_property_image_wre-326x250.png",
      "GalleryURL":"http://images.moxiworks.com/static/images/br/imagoo/default_property_image_wre-326x250.png",
      "RawURL":"http://images.moxiworks.com/static/images/br/imagoo/default_property_image_wre-326x250.png",
      "SmallURL":"http://images.moxiworks.com/static/images/br/imagoo/default_property_image_wre-326x250.png",
      "ThumbURL":"http://images.moxiworks.com/static/images/br/imagoo/default_property_image_wre-326x250.png",
      "Title":"Image Title",
      "IsMainListingImage":true,
      "Caption":"Image Caption",
      "Description":"Image Description",
      "Width":1024,
      "Height":768,
      "MimeType":"image/jpeg"
    }
  ],
  "SoldDate":"11/04/2016",
  "SoldPrice":192349,
  "BuyerAgentFullName":"Fred Agentguy", 
  "BuyerAgentUUID":"deadbeef-dead-beef-dead-beefdeadbeef", 
  "BuyerAgentOfficeName":"Super BuyerOffice", 
  "BuyerAgentOfficeID":"abc123", 
  "BuyerAgentMoxiWorksOfficeID":"deadbeef-dead-beef-deaddeaddead"
}
]
}
```

<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>SoldListing</span> <span class='action-name'>Index</span> Failure Response Example
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```


##### <span class='entity-name'>SoldListing</span> <span class='action-name'>Index</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>SoldListing</span> response for a <span class='action-name'>Index</span> request.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">FinalPage</span>|<span class="response-data"><span class="data-type">Boolean</span>
|<span class="response-data">Listings</span>|<span class="response-data"><span class="data-type">Array</span>

<span class="response-data-head">FinalPage</span>
<span class="response-data-remarks">If there is another page of <span class='entity-name'>SoldListing</span> objects available, this will be false. If you are receiving the final page of <span class='entity-name'>SoldListing</span> objects for the query, <span class='entity-name'>FinalPage</span> will be `true`.</span>

<span class="response-data-head">Listings</span>
<span class="response-data-remarks">This is the payload object for the query. Any <span class='entity-name'>SoldListing</span> object that matches the request query will be returned here.</span>


###### <span class='attribute-name'>Listings</span> Objects

Each object in the <span class='attribute-name'>Listings</span> array will have the following structure.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">LotSizeAcres</span>|<span class="response-data"><span class="data-type">Float or null</span>
|<span class="response-data">BathroomsFull</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">BathroomsHalf</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">BathroomsOneQuarter</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">BathroomsPartial</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">BathroomsThreeQuarter</span>|<span class="response-data"><span class="data-type">Integer or Null</span>
|<span class="response-data">BathroomsTotalInteger</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">BathroomsTotal</span>|<span class="response-data"><span class="data-type">Float or null</span>
|<span class="response-data">BedroomsTotal</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">PublicTitle</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">PublicRemarks</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">ModificationTimestamp</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">InternetAddressDisplayYN</span>|<span class="response-data"><span class="data-type">Boolean or null</span>
|<span class="response-data">DaysOnMarket</span>|<span class="response-data"><span class="data-type">Integer</span>
|<span class="response-data">ListingContractDate</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">CreatedDate</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">ElementarySchool</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">GarageSpaces</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">WaterfrontYN</span>|<span class="response-data"><span class="data-type">Boolean or null</span>
|<span class="response-data">HighSchool</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">AssociationFee</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">ListOfficeName</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">ListPrice</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">ListingID</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">ListAgentFullName</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">ListAgentUUID</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">ListAgentOfficeID</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">ListAgentMoxiWorksOfficeID</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">SecondaryListAgentFullName</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">SecondaryListAgentUUID</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">SchoolDistrict</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">Address</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">Address2</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">City</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">CountyOrParish</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">Latitude</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">Longitude</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">StateOrProvince</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">PostalCode</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">Community</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">LotSizeSquareFeet</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">InternetEntireListingDisplayYN</span>|<span class="response-data"><span class="data-type">Boolean</span>
|<span class="response-data">MiddleOrJuniorSchool</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">ListOfficeAOR</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">ListOfficeAORArea</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">PoolYN</span>|<span class="response-data"><span class="data-type">Boolean or null</span>
|<span class="response-data">PropertyType</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">TaxAnnualAmount</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">TaxYear</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">SingleStory</span>|<span class="response-data"><span class="data-type">Boolean or null</span>
|<span class="response-data">LivingArea</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">ViewYN</span>|<span class="response-data"><span class="data-type">Boolean or null</span>
|<span class="response-data">YearBuilt</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">OnMarket</span>|<span class="response-data"><span class="data-type">Boolean or null</span>
|<span class="response-data">Status</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">MoxiWorksListingId</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">AgentCreatedListing</span>|<span class="response-data"><span class="data-type">Boolean</span>
|<span class="response-data">VirtualTourURL</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">ListingURL</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">CompanyListingAttributes</span>|<span class="response-data"><span class="data-type">Array</span>
|<span class="response-data">PropertyFeatures</span>|<span class="response-data"><span class="data-type">Array</span>
|<span class="response-data">OpenHouse</span>|<span class="response-data"><span class="data-type">Array</span>
|<span class="response-data">ImagesLastModified</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">LisingImages</span>|<span class="response-data"><span class="data-type">Array</span>
|<span class="response-data">SoldDate</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">SoldPrice</span>|<span class="response-data"><span class="data-type">Integer</span>
|<span class="response-data">BuyerAgentFullName</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">BuyerAgentUUID</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">BuyerAgentOfficeName</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">BuyerAgentOfficeID</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">BuyerAgentMoxiWorksOfficeID</span>|<span class="response-data"><span class="data-type">String</span>

<span class="response-data-head">LotSizeAcres</span>
<span class="response-data-remarks">This is the property size of the listing land in acres. If no data is available for this attribute, it will be `null`.</span>

<span class="response-data-head">BathroomsFull</span>
<span class="response-data-remarks">This is the number of full bathrooms in the property.  If no data is available for this attribute, it will be `null`.</span>

<span class="response-data-head">BathroomsHalf</span>
<span class="response-data-remarks">This is the number of half bathrooms in the property.  If no data is available for this attribute, it will be `null`.</span>

<span class="response-data-head">BathroomsOneQuarter</span>
<span class="response-data-remarks">This is the number of quarter-sized bathrooms in the property.  If no data is available for this attribute, it will be `null`.</span>

<span class="response-data-head">BathroomsPartial</span>
<span class="response-data-remarks">This is the number of partial bathrooms in the property.  If no data is available for this attribute, it will be `null`.</span>

<span class="response-data-head">BathroomsThreeQuarter</span>
<span class="response-data-remarks">This is the number of three-quarter bathrooms in the property.  If no data is available for this attribute, it will be `null`.</span>

<span class="response-data-head">BathroomsTotalInteger</span>
<span class="response-data-remarks">This is the number of rooms that are bathrooms in the property. This is not a summary count of bathrooms by size.  If no data is available for this attribute, it will be `null`.</span>


<span class="response-data-head">BathroomsTotal</span>
<span class="response-data-remarks">This is the summary count of bathrooms in the property. This will be the number of quarter-bathrooms plus half-bathrooms plus three-quarter bathrooms plus full bathrooms.  If no data is available for this attribute, it will be `null`.</span>


<span class="response-data-head">BedroomsTotal</span>
<span class="response-data-remarks">This is the number of bedrooms in the property.  If no data is available for this attribute, it will be `null`.</span>

<span class="response-data-head">PublicTitle</span>
<span class="response-data-remarks">The human-readable title for the listing generated by the property agent.  If no data is available for this attribute, it will be `null`.</span>

<span class="response-data-head">PublicRemarks</span>
<span class="response-data-remarks">These are human-readable notes about the property generated by the property agent.  If no data is available for this attribute, it will be `null`.</span>

<span class="response-data-head">ModificationTimestamp</span>
<span class="response-data-remarks">This is a string representing a date on which the listing data was last updated in ISO 8601 format.  If no data is available for this attribute, it will be `null`.</span>


<span class="response-data-head">InternetAddressDisplayYN</span>
<span class="response-data-remarks">This denotes whether the property should be displayed on a public facing website. If no data is available for this attribute, it will be `null`.</span>


<span class="response-data-head">DaysOnMarket</span>
<span class="response-data-remarks">The number of days the listing has been on market.</span>


<span class="response-data-head">ListingContractDate</span>
<span class="response-data-remarks">This is a string representing a date on which the listing contract was initiated. The string format is `MM/DD/YYYY`.</span>


<span class="response-data-head">CreatedDate</span>
<span class="response-data-remarks">This is a string representing a date on which the <span class='entity-name'>SoldListing</span> object was created. The string format is `MM/DD/YYYY`.</span>


<span class="response-data-head">ElementarySchool</span>
<span class="response-data-remarks">The elementary school for the property.</span>



<span class="response-data-head">GarageSpaces</span>
<span class="response-data-remarks">The number of garage spaces that are available at the property.</span>


<span class="response-data-head">WaterfrontYN</span>
<span class="response-data-remarks">Whether the property is waterfront.</span>


<span class="response-data-head">HighSchool</span>
<span class="response-data-remarks">The high school for the property.</span>


<span class="response-data-head">AssociationFee</span>
<span class="response-data-remarks">The home owner's association fee for the property.</span>


<span class="response-data-head">ListOfficeName</span>
<span class="response-data-remarks">The name of the listing office.</span>


<span class="response-data-head">ListPrice</span>
<span class="response-data-remarks">The listed price for the listing.</span>


<span class="response-data-head">ListingID</span>
<span class="response-data-remarks">The MLS number for the listing.</span>


<span class="response-data-head">ListAgentFullName</span>
<span class="response-data-remarks">The name of the listing agent.</span>


<span class="response-data-head">ListAgentUUID</span>
<span class="response-data-remarks">A unique identifier for the listing agent. This will correspond to the uuid field of an <span class='entity-name'>Agent</span>.</span>

<span class="response-data-head">ListAgentOfficeID</span>
<span class="response-data-remarks">The office ID of the listing agent.</span>

<span class="response-data-head">ListAgentMoxiWorksOfficeID</span>
<span class="response-data-remarks">The MoxiWorks ID of the listing agent's office.</span>



<span class="response-data-head">SecondaryListAgentFullName</span>
<span class="response-data-remarks">If there is a second listing agent, the name of the second listing agent.</span>


<span class="response-data-head">SecondaryListAgentUUID</span>
<span class="response-data-remarks">If there is a second listing agent, the unique identifier for the second listing agent. This will correspond to the uuid field of an <span class='entity-name'>Agent</span>.</span>


<span class="response-data-head">SchoolDistrict</span>
<span class="response-data-remarks">The school district the listing property is in.</span>


<span class="response-data-head">Address</span>
<span class="response-data-remarks">The street address of the property.</span>


<span class="response-data-head">Address2</span>
<span class="response-data-remarks">Additional street address information, for example, suite number.</span>


<span class="response-data-head">City</span>
<span class="response-data-remarks">City or township the property is located in.</span>



<span class="response-data-head">State</span>
<span class="response-data-remarks">State or province the property is located in.</span>


<span class="response-data-head">PostalCode</span>
<span class="response-data-remarks">The zip code or postal code the property is located in.</span>

<span class="response-data-head">Community</span>
<span class="response-data-remarks">The communitythe property is located in.</span>


<span class="response-data-head">LotSizeSquareFeet</span>
<span class="response-data-remarks">Total area of the lot.</span>


<span class="response-data-head">InternetEntireListingDisplayYN</span>
<span class="response-data-remarks">Whether to display information about this listing publicly. If this is false, then the information about this listing should not be visible to the Internet. </span>


<span class="response-data-head">MiddleOrJuniorSchool</span>
<span class="response-data-remarks">The middle school for the property.</span>


<span class="response-data-head">ListOfficeAOR</span>
<span class="response-data-remarks">The name of the MLS which this listing is listed with.</span>


<span class="response-data-head">ListOfficeAORArea</span>
<span class="response-data-remarks">The MLS Area which this listing is in.</span>


<span class="response-data-head">PoolYN</span>
<span class="response-data-remarks">Whether the property has a pool.</span>


<span class="response-data-head">PropertyType</span>
<span class="response-data-remarks">The type of property being listed. This can be one of `Residential`, `Condo-Coop`, `Townhouse`, `Land`, `Multifamily` </span>


<span class="response-data-head">TaxAnnualAmount</span>
<span class="response-data-remarks">The total annual property tax.</span>


<span class="response-data-head">TaxYear</span>
<span class="response-data-remarks">The tax year that the property tax in <span class='attribute-name'>TaxAnnualAmount</span> was assessed.</span>


<span class="response-data-head">SingleStory</span>
<span class="response-data-remarks">Whether the building has one story or is multi-story.</span>


<span class="response-data-head">LivingArea</span>
<span class="response-data-remarks">Total square footage of the building(s) on the property.</span>

<span class="response-data-head">ViewYN</span>
<span class="response-data-remarks">Whether the property has a view.</span>


<span class="response-data-head">YearBuilt</span>
<span class="response-data-remarks">The year the living building(s) on the property were built.</span>


<span class="response-data-head">OnMarket</span>
<span class="response-data-remarks">Whether the listing is currently on-market.</span>

<span class="response-data-head">Status</span>
<span class="response-data-remarks">Detailed status of the listing; whether it's `sold` `expired` `sale fail` `temp off market` `other` `canceled` `pending` `contingent` `unknown` `coming soon` </span>

<span class="response-data-head">MoxiWorksListingID</span>
<span class="response-data-remarks">The unique Identifier for the listing in The MoxiWorks Platform.</span>

<span class="response-data-head">AgentCreatedListing</span>
<span class="response-data-remarks">Whether the agent created this listing.</span>

<span class="response-data-head">VirtualTourURL</span>
<span class="response-data-remarks">Virtual tour URL for this listing.</span>

<span class="response-data-head">ListingURL</span>
<span class="response-data-remarks">Details URL for this listing.</span>


<span class="response-data-head">CompanyListingAttributes</span>
<span class="response-data-remarks">Company specific attributes associated with the listing. These will be defined by the company & should not be expected to be uniform across companies.</span>


<span class="response-data-head">PropertyFeatures</span>
<span class="response-data-remarks">Any defined features about the property.</span>


<span class="response-data-head">ImagesLastModified</span>
<span class="response-data-remarks">The date when the images of the property were last modified, or `null` if the property has no images.</span>


<span class="response-data-head">ListingImages</span>
<span class="response-data-remarks">Any images of the property.</span>


<span class="response-data-head">SoldDate</span>
<span class="response-data-remarks">Date on which this listing was sold.</span>

<span class="response-data-head">SoldPrice</span>
<span class="response-data-remarks">Price for which this listing was sold.</span>


<span class="response-data-head">BuyerAgentFullName</span>
<span class="response-data-remarks">Full name of the buyer's agent</span>


<span class="response-data-head">BuyerAgentUUID</span>
<span class="response-data-remarks">A unique identifier for the buyer's agent. This will correspond to the uuid field of an <span class='entity-name'>Agent</span>.</span>

<span class="response-data-head">BuyerAgentOfficeName</span>
<span class="response-data-remarks">The name of the buyer agent's office.</span>

<span class="response-data-head">BuyerAgentOfficeID</span>
<span class="response-data-remarks">The ID of the buyer agent's office.</span>

<span class="response-data-head">BuyerAgentMoxiWorksOfficeID</span>
<span class="response-data-remarks">The MoxiWorks ID of the buyer agent's office.</span>


###### <span class='attribute-name'>CompanyListingAttributes</span> Objects

Each object in the <span class='attribute-name'>CompanyListingAttributes</span> array will have the following structure.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">AttributeId</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">AttributeName</span>|<span class="response-data"><span class="data-type">String</span>

<span class="response-data-head">AttributeId</span>
<span class="response-data-remarks">Unique ID for the attribute.</span>

<span class="response-data-head">AttributeName</span>
<span class="response-data-remarks">Human readable name of the company specific listing attribute.</span>



###### <span class='attribute-name'>PropertyFeature</span> Objects

Each object in the <span class='attribute-name'>PropertyFeatures</span> array will have the following structure.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">PropertyFeatureName</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">PropertyFeatureValues</span>|<span class="response-data"><span class="data-type">Array</span>

<span class="response-data-head">PropertyFeatureName</span>
<span class="response-data-remarks">Human readable name associated with the feature.</span>

<span class="response-data-head">PropertyFeatureValues</span>
<span class="response-data-remarks">An array of strings which are human readable values associated with the feature.</span>



###### <span class='attribute-name'>OpenHouse</span> Objects

Each object in the <span class='attribute-name'>OpenHouse</span> array will have the following structure.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">Date</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">StartTime</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">EndTime</span>|<span class="response-data"><span class="data-type">String</span>

<span class="response-data-head">Date</span>
<span class="response-data-remarks">YYYY-MM-DD formatted string representing the date of the open house</span>

<span class="response-data-head">StartTime</span>
<span class="response-data-remarks">HH:MM:SS formatted string representing the time when the open house starts. This is expressed in the local time where the listing is located.</span>

<span class="response-data-head">EndTime</span>
<span class="response-data-remarks">HH:MM:SS formatted string representing the time when the open house ends. This is expressed in the local time where the listing is located.</span>



###### <span class='attribute-name'>ListingImages</span> Objects

Each object in the <span class='attribute-name'>ListingImages</span> array will have the following structure.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">FullURL</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">GalleryURL</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">RawURL</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">SmallURL</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">ThumbURL</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">Title</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">IsMainListingImage</span>|<span class="response-data"><span class="data-type">Boolean</span>
|<span class="response-data">Caption</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">Description</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">Width</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">Height</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">MimeType</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">EmbededHTMLContent</span>|<span class="response-data"><span class="data-type">String</span>

<span class="response-data-head">FullURL</span>
<span class="response-data-remarks">This is a valid URL that can be used for `img src` to a medium sized representation of the image. This is the medium size image returned in each object in the <span class='attribute-name'>ListingImages</span> array.</span>

<span class="response-data-head">GalleryURL</span>
<span class="response-data-remarks">This is a valid URL that can be used for `img src` to a large sized representation of the image. This is the large size image returned in each object in the <span class='attribute-name'>ListingImages</span> array.</span>

<span class="response-data-head">RawURL</span>
<span class="response-data-remarks">This is a valid URL to the raw image as uploaded. This is the largest size image returned in each object in the <span class='attribute-name'>ListingImages</span> array. Due to variation in size, this image should not be considered for use when displaying images rendered in a browser.</span>

<span class="response-data-head">SmallURL</span>
<span class="response-data-remarks">This is a valid URL that can be used for `img src` to a small sized representation of the image. This is the small size image returned in each object in the <span class='attribute-name'>ListingImages</span> array.</span>

<span class="response-data-head">ThumbURL</span>
<span class="response-data-remarks">This is a valid URL that can be used for `img src` to a thumbnail sized representation of the image. This is the smallest size image returned in each object in the <span class='attribute-name'>ListingImages</span> array.</span>

<span class="response-data-head">Title</span>
<span class="response-data-remarks">Human readable title of image.</span>

<span class="response-data-head">IsMainListingImage</span>
<span class="response-data-remarks">Whether this image is considered the primary image for the listing.</span>

<span class="response-data-head">Caption</span>
<span class="response-data-remarks">Human readable caption for the image.</span>

<span class="response-data-head">Description</span>
<span class="response-data-remarks">Human readable description of image.</span>

<span class="response-data-head">Width</span>
<span class="response-data-remarks">Width of the raw image.</span>

<span class="response-data-head">Height</span>
<span class="response-data-remarks">Height of the raw image.</span>

<span class="response-data-head">MimeType</span>
<span class="response-data-remarks">MIME or media type of the image.</span>

<span class="response-data-head">EmbededHTMLContent</span>
<span class="response-data-remarks">Embedded HTML that can be placed into a webpage -- this will be used for embedded movies.</span>

  
    
  

