## OAuth 2 Protocol

Moxi Works authentication uses the [Authorization Code Grant](https://tools.ietf.org/html/rfc6749#section-4.1) Oauth 2 flow.

This section describes the flow in detail, as used by Moxi Works authentication.
Most of this can be automated by using an appropriate OAuth 2 client library.


### Client Initiation

The authorization code grant begins with the client deciding to authorize the end user.

<aside class="note">Send the end user's user agent to https://sso.moxiworks.com/oauth/authorization</aside>

| Attribute | Type | Remark | Required |
|-----------|------|--------|----------|
| <span class="required-data">client_id</span> | <span class="data-type">String</span> | <span class="data-remarks">The `client_id` assigned to this client</span> | <span class="required-data">**required**</span> |
| <span class="required-data">redirect_uri</span> | <span class="data-type">String</span> | <span class="data-remarks">The location to redirect the end user's user agent to after authenticating the end user</span> | <span class="required-data">**required**</span> |
| <span class="required-data">response_type</span> | <span class="data-type">String</span> | <span class="data-remarks">This field must always be set to `code`</span> | <span class="required-data">**required**</span> |
| <span class="required-data">state</span> | <span class="data-type">String</span> | <span class="data-remarks">If provided, this value will be in the response to the `redirect_uri`. Its purpose is to allow sending per-request data without changing the `redirect_uri`.</span> | <span class="required-data">optional</span> |

Moxi Works will authenticate the user and redirect their user agent to the `redirect_uri` specified.
When the user agent requests the `redirect_uri`, it will have one or two additional query arguments provided.
It will have a parameter named `code` which contains the authorization code.
If the original request contained a `state` parameter, the redirect will also contain a `state` parameter with the same value.


### Access Token Request

Once the client has an authorization code, they can exchange it for an access token and a refresh token.

<aside class="note">Send a <b>POST</b> request to https://sso.moxiworks.com/oauth/token</aside>

| Attribute | Type | Remark | Required |
|-----------|------|--------|----------|
| <span class="required-data">client_id</span> | <span class="data-type">String</span> | <span class="data-remarks">The `client_id` assigned to this client</span> | <span class="required-data">**required**</span> |
| <span class="required-data">client_secret</span> | <span class="data-type">String</span> | <span class="data-remarks">The `client_secret` assigned to this client</span> | <span class="required-data">**required**</span> |
| <span class="required-data">code</span> | <span class="data-type">String</span> | <span class="data-remarks">The authorization code obtained in the previous step</span> | <span class="required-data">**required**</span> |
| <span class="required-data">grant_type</span> | <span class="data-type">String</span> | <span class="data-remarks">This field must always be set to `authorization_code`</span> | <span class="required-data">**required**</span> |
| <span class="required-data">redirect_uri</span> | <span class="data-type">String</span> | <span class="data-remarks">This must exactly match the `redirect_uri` as provided in the request to get the authorization code</span> | <span class="required-data">**required**</span> |

This call responds with a JSON object containing the following values:

| Attribute | Type | Remark |
|-----------|------|--------|
| <span class="required-data">access_token</span> | <span class="data-type">String</span> | <span class="data-remarks">The access token.</span> |
| <span class="required-data">token_type</span> | <span class="data-type">String</span> | <span class="data-remarks">The type of the access token. This will always be `bearer`.</span> |
| <span class="required-data">expires_in</span> | <span class="data-type">Number</span> | <span class="data-remarks">The length of time the access token is valid for, in seconds.</span> |
| <span class="required-data">refresh_token</span> | <span class="data-type">String</span> | <span class="data-remarks">The refresh token for getting a new access token.</span> |
| <span class="required-data">created_at</span> | <span class="data-type">Number</span> | <span class="data-remarks">The POSIX timestamp at which this access token was issued.</span> |

### Refresh Token Request

Access tokens are short-lived.
For most uses of authentication, this is sufficient - getting a unique identifier for the user at the time they authenticate is all that is needed.
In some cases, the client will wish to perform subsequent lookups of end user information, beyond the lifetime of the access token.
When a client wishes to do this they can use the refresh token to get a new access token.

<aside class="note">Send a <b>POST</b> request to https://sso.moxiworks.com/oauth/token</aside>

| Attribute | Type | Remark | Required |
|-----------|------|--------|----------|
| <span class="required-data">client_id</span> | <span class="data-type">String</span> | <span class="data-remarks">The `client_id` assigned to this client</span> | <span class="required-data">**required**</span> |
| <span class="required-data">client_secret</span> | <span class="data-type">String</span> | <span class="data-remarks">The `client_secret` assigned to this client</span> | <span class="required-data">**required**</span> |
| <span class="required-data">refresh_token</span> | <span class="data-type">String</span> | <span class="data-remarks">The refresh token previously obtained for this end user</span> | <span class="required-data">**required**</span> |
| <span class="required-data">grant_type</span> | <span class="data-type">String</span> | <span class="data-remarks">This field must always be set to `refresh_token`</span> | <span class="required-data">**required**</span> |

This call responds with a JSON object of a form identical to the previous means of getting an access token.
