<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>API Documentation</title>

    <link href="../../../stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../../stylesheets/print.css" rel="stylesheet" type="text/css" media="print" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="../../../javascripts/all_nosearch.js" type="text/javascript"></script>

  </head>

  <body class="partials partials_public_api partials_public_api_overview partials_public_api_overview_api_changes">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src="../../../images/navbar.png" />
      </span>
    </a>
    <div class="tocify-wrapper">
      <img src="../../../images/logo.png" />
      <div id="toc">
      </div>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <h2 id="api-changes">API Changes</h2>

<p><strong>Non-breaking changes</strong>: New features, functionality and bug fixes will be added to the API over time;
you should expect to see new endpoints or new attributes in the payload for existing endpoints. 
Non-breaking changes will not result in a new API version.  Ensure that your API consumer logic can handle new attributes gracefully. 
Ensure your API consumer logic does not depend on the order in which records are returned, unless static order is explicitly denoted in this documentation. </p>

<p><strong>Breaking changes</strong>: Although we intend to support and maintain the current version of the API indefinitely,
if changes that break the current API are made, we will publish the api update with a new version number, in order to ensure that the existing API functionality remains available to API consumers relying on that version. When breaking changes are added, the current version of the API will continue to be available.</p>

<p><strong>Deprecations</strong>: Moxi Works occasionally deprecates APIs to indicate that those APIs should no longer be used in active development. 
Deprecated APIs typically remain present and usable for a reasonable period of time following the release in which they were deprecated; however, they may be removed entirely from a future version of the API as required. 
You should never use deprecated APIs in new development, and if you have existing code that uses deprecated APIs, we recommend that you update that code as soon as possible. </p>

      </div>
      <div class="dark-box">
      </div>
    </div>
  </body>
</html>
