<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>API Documentation</title>

    <link href="../../../stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../../stylesheets/print.css" rel="stylesheet" type="text/css" media="print" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="../../../javascripts/all_nosearch.js" type="text/javascript"></script>

  </head>

  <body class="partials partials_public_api partials_public_api_overview partials_public_api_overview_session_handling">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src="../../../images/navbar.png" />
      </span>
    </a>
    <div class="tocify-wrapper">
      <img src="../../../images/logo.png" />
      <div id="toc">
      </div>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <h3 id="session-handling">Session Handling</h3>

<blockquote>
<p><span class="data-example-label"><span class='attribute-name'>Set-Cookie</span> Response Example</span></span></p>
</blockquote>

<pre class='highlight'>
  <code>
X-Frame-Options: SAMEORIGIN
X-Xss-Protection: 1; mode=block
X-Content-Type-Options: nosniff
Content-Type: application/json; charset=utf-8
Cache-Control: no-cache
X-Request-Id: c953f03d-05d6-43e9-baac-995d9b278004
X-Runtime: 0.757307
Server: Moximus
Date: Wed, 22 Jan 2017 18:34:44 GMT
Content-Length: 132
Connection: Keep-Alive
<span style="color:red">Set-Cookie: _wms_svc_public_session=Y0pzOEdSOGNlRklWSHVkTDVoeE11OU9xVEhoczZuVXJBWGo2Tzk1L0RKOGRwZVBkUnFWMG9nQ2o1QittT3dwN3lZNGVZQXgzSnJPNUp3RGlDS1dKQkZYT3FJQ0ZBaWFLczZTdFl1TjU5VVpRUEx2c29uUHI0cUFhYkUzbDNYMjR6SWdLZjFqM1pNS1dzYmp3dDhkQWw5cjVzMVVOZW1sTndoazNKeThWakhZPS0tNHZBUjk3aGFPbWs3bk9YQlhSbDBRUT09--7faa50a21bc8e09861bc9637eb828a4ce154a980; path=/; HttpOnly
</span>
</code>
</pre>

<blockquote>
<p><span class="data-example-label"><span class='attribute-name'>Cookie</span> Request Example</span></span></p>
</blockquote>

<pre class='highlight'>
  <code>
PUT /api/tasks/[partner_task_id] HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded
<span style="color:red">Cookie: _wms_svc_public_session=QlpZQXFoOSs5TGFXZTZ5OVJvQXZIOUhSYSsrYnhXU1Q3cTJHdEd2enJabVdTbjZiWWtnaVFVbURLVmVOV0hEVURLbjZ0NGIzTnE1Mkg2ZEUwMlBLZDZBYWNBSm5xWUk4MWJLUGFFNEREK05Bd0JxZFZWbVp4SFFLVUVyRTdiTXJQb3doMGxkcjZVa3pCNENHZ3RZVWExQncvYkVnPS0tYy9oelpsbWtFd3lxR3VjWkt2ai9rdz09--b46be7a70083e0f70fea4370554b1f0250b3264c; path=/; HttpOnly
</span>
</code>
</pre>

<p>The Moxi Works Platform utilizes Cookie headers in order to propagate session data between requests. Each request is atomic and the session data is used atomically within the request. The session data itself is used to ensure that connection setup is as efficient as possible and to provide higher throughput to authorized users.</p>

<p>If you fail to include session data in your request, you will notice a far lower number of allowed connections to the Moxi Works Platform than is advertised in <a href="#rate-limiting">Rate Limiting</a>.</p>

<p>When you successfully connect to the Moxi Works Platform, you will recieve a <code class="prettyprint">Set-Cookie</code> header. The name of the cookie will be <code class="prettyprint">_wms_svc_public_session</code>. You&rsquo;ll need to send this cookie name - value pair back to The Moxi Works Platform in a <code class="prettyprint">Cookie</code> request header.</p>

      </div>
      <div class="dark-box">
      </div>
    </div>
  </body>
</html>
