### Agent Identifiers

The MoxiWorks Platform provides several agent identifiers to support flexibility for differing use-cases.

<span class="request-data-head">agent_uuid</span>
<span class="request-data-remarks">If you are pulling agent data from The MoxiWorks Platform and integrating with your own system in a managed or automated fashion, then using <span class='attribute-name'>agent_uuid</span> request attribute is preferable. It is guaranteed to be unique and to never change for the lifetime of the account.</span>

<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">If you have already existing agent data, agent accounts **and your own user interface that agents can use to integrate your account with their MoxiWorks Platform account** then you should use the <span class='attribute-name'>moxi_works_agent_id</span> request attribute. This identifier is guaranteed to be unique, but may be either an alphanumeric string or an email address. It is intended for use cases where integration is managed by end-user interaction..</span>

<span class="request-data-head">source_agent_id</span>
<span class="request-data-remarks">If you have access to agent data from the same company source that MoxiWorks uses as an upstream data source then you should use the <span class='attribute-name'>source_agent_id</span> request attribute. This identifier will be unique only within the scope of a given company or parent_company, and must be used in conjunction with the <span class='attribute-name'>moxi_works_company_id</span> or <span class='attribute-name'>parent_company_id</span> request attributes. Please work with a MoxiWorks Partner Services representative for clarification about this request attribute.</span>

<aside class="note">DEPRECATED (this feature has been made obsolete by the <span class='attribute-name'>source_agent_id</span>)<br><br>A company's internal agent id may be used to construct the agent's unique identification string. To do so, the value passed via the moxi_works_agent_id should be a single concatenated string, of the form:</br>[moxi_works_company_id]:[internal_agent_id]</br>Use <a href='#company'>Company Endpoint</a> to determine which moxi_works_company_id to use.</aside>