## Client Libraries


The following libraries are available to help your integration process with the Moxi Works Platform public API:

> **Install Ruby Library:** ```gem install moxiworks_platform```


### Ruby
Ruby client libraries for the Moxi Works Platform can be found on <a href='http://rubygems.org'>rubygems.org</a> and installed using gem.
<ul>
<li><a href='http://moxiworks-platform.github.io/moxiworks-ruby/'>Documentation</a></li>
<li><a href='https://github.com/moxiworks-platform/moxiworks-ruby'>Source</a></li>
</ul>

> **Install PHP Library:** ```composer require moxiworks/moxiworks_platform```


###PHP 
PHP client libraries for the Moxi Works Platform can be found on <a href='http://packagist.org'>packagist.org</a> and installed using composer.
<ul>
  <li><a href='http://moxiworks-platform.github.io/moxiworks-php/'>Documentation</a></li>
  <li><a href='https://github.com/moxiworks-platform/moxiworks-php'>Source</a></li>

</ul>