## Client Libraries


The following libraries are available to help your integration process with the Moxi Works Platform public API:

```ruby
#Install the moxiworks_platform Ruby library to quickly integrate with the Moxi Works Platform.

gem install moxiworks_platform
```

### Ruby
Ruby client libraries for Moxi Works Platform can be from rubygems.org installed using gem.
<ul>
<li><a href='http://www.rubydoc.info/github/moxiworks-platform/moxiworks-ruby'>Documentation</a></li>
<li><a href='https://github.com/moxiworks-platform/moxiworks-ruby'>Source</a></li>
</ul>


