### Example Requests & Responses

For every API operation in this documentation, we show example requests and an example (JSON) response. 

You'll see the examples displayed in the grey panel to the right of each operation. 

To view the sample code in a specific language, select the corresponding language tab at the top of the panel to the right. 
For more information about using the sample code in this API documentation, see [Client Libraries](#client-libraries). 

As with any REST API, you can also test API requests / responses using a Chrome extension like <a href='https://chrome.google.com/webstore/detail/advanced-rest-client/hgmloofddffdnphfgcellkdfbfbjeloo/' target=_>Advanced REST Client</a>or [POSTMAN](https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm). 
