### Session Handling




> <span class="data-example-label"><span class='attribute-name'>Set-Cookie</span> Response Example</span></span>


<pre class='highlight'>
  <code>
X-Frame-Options: SAMEORIGIN
X-Xss-Protection: 1; mode=block
X-Content-Type-Options: nosniff
Content-Type: application/json; charset=utf-8
Cache-Control: no-cache
X-Request-Id: c953f03d-05d6-43e9-baac-995d9b278004
X-Runtime: 0.757307
Server: Moximus
Date: Wed, 22 Jan 2017 18:34:44 GMT
Content-Length: 132
Connection: Keep-Alive
<span style="color:red">Set-Cookie: _wms_svc_public_session=Y0pzOEdSOGNlRklWSHVkTDVoeE11OU9xVEhoczZuVXJBWGo2Tzk1L0RKOGRwZVBkUnFWMG9nQ2o1QittT3dwN3lZNGVZQXgzSnJPNUp3RGlDS1dKQkZYT3FJQ0ZBaWFLczZTdFl1TjU5VVpRUEx2c29uUHI0cUFhYkUzbDNYMjR6SWdLZjFqM1pNS1dzYmp3dDhkQWw5cjVzMVVOZW1sTndoazNKeThWakhZPS0tNHZBUjk3aGFPbWs3bk9YQlhSbDBRUT09--7faa50a21bc8e09861bc9637eb828a4ce154a980; path=/; HttpOnly
</span>
</code>
</pre>

> <span class="data-example-label"><span class='attribute-name'>Cookie</span> Request Example</span></span>

<pre class='highlight'>
  <code>
PUT /api/tasks/[partner_task_id] HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded
<span style="color:red">Cookie: _wms_svc_public_session=QlpZQXFoOSs5TGFXZTZ5OVJvQXZIOUhSYSsrYnhXU1Q3cTJHdEd2enJabVdTbjZiWWtnaVFVbURLVmVOV0hEVURLbjZ0NGIzTnE1Mkg2ZEUwMlBLZDZBYWNBSm5xWUk4MWJLUGFFNEREK05Bd0JxZFZWbVp4SFFLVUVyRTdiTXJQb3doMGxkcjZVa3pCNENHZ3RZVWExQncvYkVnPS0tYy9oelpsbWtFd3lxR3VjWkt2ai9rdz09--b46be7a70083e0f70fea4370554b1f0250b3264c; path=/; HttpOnly
</span>
</code>
</pre>


The Moxi Works Platform utilizes Cookie headers in order to propagate session data between requests. Each request is atomic and the session data is used atomically within the request. The session data itself is used to ensure that connection setup is as efficient as possible and to provide higher throughput to authorized users.

If you fail to include session data in your request, you will notice a far lower number of allowed connections to the Moxi Works Platform than is advertised in [Rate Limiting](#rate-limiting).

When you successfully connect to the Moxi Works Platform, you will recieve a `Set-Cookie` header. The name of the cookie will be `_wms_svc_public_session`. You'll need to send this cookie name - value pair back to The Moxi Works Platform in a `Cookie` request header.
