### Session Handling


<blockquote><div class='highlight http' style="display: block">
  <span class='data-example-label'>Cookie header example</span></blockquote>


```http
PUT /api/tasks/[partner_task_id] HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded
Cookie: _wms_svc_public_session=QlpZQXFoOSs5TGFXZTZ5OVJvQXZIOUhSYSsrYnhXU1Q3cTJHdEd2enJabVdTbjZiWWtnaVFVbURLVmVOV0hEVURLbjZ0NGIzTnE1Mkg2ZEUwMlBLZDZBYWNBSm5xWUk4MWJLUGFFNEREK05Bd0JxZFZWbVp4SFFLVUVyRTdiTXJQb3doMGxkcjZVa3pCNENHZ3RZVWExQncvYkVnPS0tYy9oelpsbWtFd3lxR3VjWkt2ai9rdz09--b46be7a70083e0f70fea4370554b1f0250b3264c; path=/; HttpOnly



```


The Moxi Works Platform utilizes Cookie headers in order to propagate session data between requests. Each request is atomic and the session data is used atomically within the request. The session data itself is used to ensure that connection setup is as efficient as possible and to provide higher throughput to authorized users.

<<<<<<< HEAD
If you fail to include session data in your request, you will notice a far lower number of allowed connections to the Moxi Works Platform than is advertised in [Rate Limiting](#rate_limiting).
=======
If you fail to include session data in your request, you will notice a far lower number of allowed connections to the Moxi Works Platform than is advertised in [Rate Limiting](#rate-limiting).
>>>>>>> develop

When you successfully connect to the Moxi Works Platform, you will recieve a `Set-Cookie` header. The name of the cookie will be `_wms_svc_public_session`. You'll need to send this cookie name - value pair back to The Moxi Works Platform in a `Cookie` request header.
