#### Index

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Agent.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Agent.html#method_search'>PHP Search Docs</a></span></blockquote></div>

Index will return a paged response of agents that have been updated since a given timestamp for a given company. For a list of company IDs that you have access to, use the [Company Endpoint](#company) If no updated_at parameter is provided, agents that have been updated in the last seven days will be returned. 

> <span class="data-example-label">Agent Index Example</span>


> All Agents For Company Updated Since A Given Timestamp

```http
GET /api/agents?moxi_works_company_id=abc123&updated_since=1461108284 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```ruby

##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

one_week =  defined?(Rails) ? 1.week : 604800
company_agents = MoxiworksPlatform::Agent.search(moxi_works_company_id: "abc123", updated_since: Time.now - one_week)

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$one_week = 604800;
$company_agents = MoxiworksPlatform\Agent::search(['moxi_works_company_id' => 'abc123', 'updated_since' => time() - $one_week]);
?>
```

> Second Page of All Agents For a Specific Company Updated Since A Given Timestamp

```http
GET /api/agents?moxi_works_company_id=abc123&updated_since=1461108284&page=2 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```ruby
one_week =  defined?(Rails) ? 1.week : 604800
company_agents = MoxiworksPlatform::Agent.search(moxi_works_company_id: "abc123", updated_since: Time.now - one_week, page: 2)

```

```php
<?php
$one_week = 604800;
$company_agents = MoxiworksPlatform\Agent::search(['moxi_works_company_id' => 'abc123', 'updated_since' => time() - $one_week, 'page' => 2]);
?>
```



<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">Agent Index: Success Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http
HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

"page_number": 9
"total_pages": 9
"agents": [
{
  "moxi_works_agent_id": "abc123",
  "office_address_street": "3456 Office Ln.",
  "office_address_city": "Officeville",
  "office_address_state": "AG",
  "office_address_zip": "12345",
  "name": "Buckminster Fuller",
  "mobile_phone_number": "555 333 4567",
  "alt_phone_number": "(555) 567-8910",
  "fax_phone_number": "5557891011",
  "main_phone_number": "555) 9101112",
  "office_phone_number": "(234)456-7890",
  "primary_email_address": "the_agent@agentdomain.com",
  "secondary_email_address": "the_agent_alt@otherdomain.com",
  "twitter": "@agentguy",
  "google_plus": "https://plus.google.com/1234567891011121314/posts",
  "facebook": "https://www.facebook.com/moxiworks/",
  "home_page": "foo.com",
  "profile_image_url": "http://picturererer.com/pics37/ImageStore.dll?id=852087C5D3A533DD&w=200",
  "profile_thumb_url": "http://picturererer.com/pics37/ImageStore.dll?id=852087C5D3A533DD&w=75",
  "title": "Broker"
}
]
```

<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">Agent Index: Not Found Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http

HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

"page_number": 1
"total_pages": 0
"agents": []
```

<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">Agent Index: Failure Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http

HTTP/1.1 400 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/agents</aside>


When searching for Agent entities using the Moxi Works platform API, format your data using the following parameters.


Attribute | Type | Remark | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_company_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data"><span class="data-remarks">A valid Moxi Works Company ID. Use [Company Endpoint](#company) to determine available moxi_works_company_id </span></span> | <span class="required-data">255<span> |
|<span class="optional-data">updated_since</span>|<span class="data-type">Integer</span>|<span class="data-remarks">any agents updated after this Unix timestamp will be returned in the response. **If no updated_since parameter is included in the request, only agents updated in the last seven days will be returned.**</span>| 255 |
|<span class="optional-data">page_number</span>|<span class="data-type">Integer</span>|<span class="data-remarks">Page of responses to return. Use if **total_pages** indicates that there is more than one page of data available.</span>| 255 |


<span class="required-data">**Required Parameters Are In Red**</span>


<aside class="note">If no updated_since parameter is included in the request, only agents updated in the last seven days will be returned.</aside>

<aside class="note">Use <a href='#company'>Company Endpoint</a> to determine the moxi_works_company_id to send.</aside>


