#### <span class='entity-name'>Agent</span> <span class='action-name'>Show</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Agent.html#find-class_method'>Ruby Find Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Agent.html#method_find'>PHP Find Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Agent</span> <span class='action-name'>Show</span> Example</span>

```http
GET /api/agents/[moxi_works_agent_id]&moxi_works_company_id=[moxi_works_company_id] HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "moxi_works_agent_id":"abc123",
  "moxi_works_company_id":"the_company"
}

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_agent = MoxiworksPlatform::Agent.find(
        moxi_works_agent_id: "1234abcd",
        moxi_works_company_id: "abc123")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_agent = MoxiworksPlatform\Agent::find([
        'moxi_works_agent_id' => '1234abcd',
        'moxi_works_company_id' => 'abc123']);
?>
```

##### <span class='entity-name'>Agent</span> <span class='action-name'>Show</span> Request Attributes

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/agents/[moxi_works_agent_id]</aside>

When finding an <span class='entity-name'>Agent</span> using the Moxi Works platform API, format your request using the following parameters.

Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_agent_id</span>|<span class="required-data"><span class="data-type">String</span></span>| <span class="required-data">255</span>
|<span class="required-data">moxi_works_company_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255<span> |

<span class="required-data">**Required Parameters Are In Red**</span>


<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span>. This will be a string that may take the form of an email address, or a unique identification string. This data is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>Agent</span> <span class='action-name'>Show</span>  request to be accepted.</span>


<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid Moxi Works <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<aside class="note">Use <a href='#company'>Company Endpoint</a> to determine the moxi_works_company_id to send.</aside>

##### <span class='entity-name'>Agent</span> <span class='action-name'>Show</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>Agent</span> response for a <span class='action-name'>Show</span> request.

<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>ActionLog</span> <span class='action-name'>Index</span> Response Payload Example
</span></div></blockquote>

```json
{
  "moxi_works_agent_id": "abc123",
  "moxi_works_office_id":"8c3f446c-aab9-11e6-9a0f-d0e1408e8026",
  "office_address_street": "3456 Office Ln.",
  "office_address_street2":"Suite 1234",
  "office_address_city": "Officeville",
  "office_address_state": "AG",
  "office_address_zip": "12345",
  "name": "Buckminster Fuller",
  "main_phone_number": "555) 9101112",
  "mobile_phone_number": "555 333 4567",
  "alt_phone_number": "(555) 567-8910",
  "fax_phone_number": "5557891011",
  "office_phone_number": "(234)456-7890",
  "primary_email_address": "the_agent@agentdomain.com",
  "secondary_email_address": "the_agent_alt@otherdomain.com",
  "title": "Broker",
  "uuid":"8675309e9-1234-dead-beef-deadbeefdead",
  "twitter": "@agentguy",
  "google_plus": "https://plus.google.com/1234567891011121314/posts",
  "facebook": "https://www.facebook.com/moxiworks/",
  "home_page": "foo.com",
  "profile_image_url": "http://picturererer.com/pics37/ImageStore.dll?id=852087C5D3A533DD&w=200",
  "profile_thumb_url": "http://picturererer.com/pics37/ImageStore.dll?id=852087C5D3A533DD&w=75"
}
```

<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label"><span class='entity-name'>Agent</span> <span class='action-name'>Show</span>: Failure Response</span>
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```
###### <span class='action-name'>Show</span> Response Attributes

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">moxi_works_agent_id</span>|<span class="data-type">String</span>|
|<span class="response-data">moxi_works_office_id</span>|<span class="data-type">String</span>|
|<span class="response-data">office_address_street</span>|<span class="data-type">String or null</span>|
|<span class="response-data">office_address_street2</span>|<span class="data-type">String or null</span>|
|<span class="response-data">office_address_city</span>|<span class="data-type">String or null</span>|
|<span class="response-data">office_address_state</span>|<span class="data-type">String or null</span>|
|<span class="response-data">office_address_zip</span>|<span class="data-type">String or null</span>|
|<span class="response-data">name</span>|<span class="data-type">String or null</span>|
|<span class="response-data">main_phone_number</span>|<span class="data-type">String or null</span>|
|<span class="response-data">mobile_phone_number</span>|<span class="data-type">String or null</span>|
|<span class="response-data">alt_phone_number</span>|<span class="data-type">String or null</span>|
|<span class="response-data">fax_phone_number</span>|<span class="data-type">String or null</span>|
|<span class="response-data">office_phone_number</span>|<span class="data-type">String or null</span>|
|<span class="response-data">primary_email_address</span>|<span class="data-type">String or null</span>|
|<span class="response-data">secondary_email_address</span>|<span class="data-type">String or null</span>|
|<span class="response-data">title</span>|<span class="data-type">String or null</span>|
|<span class="response-data">uuid</span>|<span class="data-type">String</span>|
|<span class="response-data">twitter</span>|<span class="data-type">String or null</span>|
|<span class="response-data">google_plus</span>|<span class="data-type">String or null</span>|
|<span class="response-data">facebook</span>|<span class="data-type">String or null</span>|
|<span class="response-data">home_page</span>|<span class="data-type">String or null</span>|
|<span class="response-data">profile_image_url</span>|<span class="data-type">String</span>|
|<span class="response-data">profile_thumb_url</span>|<span class="data-type">String</span>|

<span class="response-data-head">moxi_works_agent_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span>. This will be a string that may take the form of an email address, or a unique alphanumeric identification string.</span>

<span class="response-data-head">moxi_works_office_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the office for this <span class='entity-name'>Agent</span>. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">office_address_street</span>
<span class="response-data-remarks">The street address of the agent's office. This can be null if there is no data for this attribute.</span>


<span class="response-data-head">office_address_street2</span>
<span class="response-data-remarks">The suite or office number of the agent's office. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">office_address_city</span>
<span class="response-data-remarks">The city the agent's office is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">office_address_state</span>
<span class="response-data-remarks">The state or provice the agent's office is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">office_address_zip</span>
<span class="response-data-remarks">The postal code the agent's office is in. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">name</span>
<span class="response-data-remarks">The full name of the agent. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">mobile_phone_number</span>
<span class="response-data-remarks">Mobile phone number of the agent. <span class='attribute-name'>main_phone_number</span> should be considered higher priority, if not the same. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">alt_phone_number</span>
<span class="response-data-remarks">Alternate phone number for the agent. This should be considered second in priority to <span class='attribute-name'>main_phone_number</span>.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">fax_phone_number</span>
<span class="response-data-remarks">This is the agent's fax phone number.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">main_phone_number</span>
<span class="response-data-remarks">This is the agent's main phone number.  This number should be considered the number the agent would like to be contacted by. This can be null if there is no data for this attribute.</span>

<span class="response-data-head">fax_phone_number</span>
<span class="response-data-remarks">This is the agent's fax phone number.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">office_phone_number</span>
<span class="response-data-remarks">This is the agent's office phone number.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">primary_email_address</span>
<span class="response-data-remarks">This is the agent's main email address. This email address should be considered the email address the agent would prefer to be contacted by.  This can be null if there is no data for this attribute.</span>


<span class="response-data-head">secondary_email_address</span>
<span class="response-data-remarks">This is the agent's alternate email address. This email address should be considered the email address the agent would want to be contacted by only if the address in <span class='attribute-name'>primary_email_address</span> is not functional.  This can be null if there is no data for this attribute.</span>


<span class="response-data-head">title</span>
<span class="response-data-remarks">This is the business title of the agent.  This can be null if there is no data for this attribute.</span>

<span class="response-data-head">uuid</span>
<span class="response-data-remarks">This is  an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID associated with the agent. This UUID can be used as a unique identifier in determining associations between  <span class='entity-name'>Agent</span> objects and  <span class='entity-name'>Listing</span> objects.</span>


<span class="response-data-head">twitter</span>
<span class="response-data-remarks">Agent's twitter account name. This can be null if there is no data available for this attribute.</span>


<span class="response-data-head">google_plus</span>
<span class="response-data-remarks">Agent's Google Plus account name.  This can be null if there is no data for this attribute.</span>


<span class="response-data-head">facebook</span>
<span class="response-data-remarks">Agent's Facebook page url.  This can be null if there is no data for this attribute.</span>


<span class="response-data-head">home_page</span>
<span class="response-data-remarks">Agent's website domain. This will be returned without the HTTP(S) prefix. You'll need to prefix the domain with protocol if using this attribute for an href.  This can be null if there is no data for this attribute.</span>


<span class="response-data-head">profile_image_url</span>
<span class="response-data-remarks">This is a valid URL for a larger size image for the agent. Modify the w parameter found in the response data of this attribute if you need a different size. If no agent image has been uploaded for this agent a default image url will be provided.</span>

<span class="response-data-head">profile_thumb_url</span>
<span class="response-data-remarks">This is a valid URL for a thumbnail size image for the agent. Modify the w parameter found in the response data of this attribute if you need a different size. If no agent image has been uploaded for this agent a default image url will be provided.</span>
