#### <span class='entity-name'>EmailCampaign</span> <span class='action-name'>Index</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/EmailCampaign.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.EmailCampaign.html#method_search'>PHP Search Docs</a></span></blockquote></div>


<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/email_campaigns</aside>


When searching for EmailCampaign entities using the Moxi Works platform API, format your data using the following parameters.



> <span class="data-example-label"><span class='entity-name'>EmailCampaign </span><span class='action-name'>Index </span>Request Example</span>

```json
{
  "moxi_works_agent_id":"abc123",
  "partner_contact_id":"mySystemsContactId"
}

```

```http
GET /api/email_campaigns?moxi_works_agent_id=abc123&partner_contact_id=mySystemsContactId HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisitesa

moxi_works_email_campaigns = MoxiworksPlatform::EmailCampaign.search(
        moxi_works_agent_id: "1234abcd",
        partner_contact_id: "mySystemsContactId")


```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_email_campaigns = MoxiworksPlatform\EmailCampaign::search([
        'moxi_works_agent_id' => '1234abcd',
        'partner_contact_id' => 'mySystemsContactId']);

?>
```

##### <span class='entity-name'>EmailCampaign</span> <span class='action-name'>Index</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_agent_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span>
|<span class="required-data">partner_contact_id</span>|<span class="required-data"><span class="data-type">String</span></span>| <span class="required-data">255</span>


<span class="required-data">**Required Parameters Are In Red**</span>

<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the agent which an <span class='entity-name'>EmailCampaign</span> entry is associated with. This will be a string that may take the form of an email address, or a unique identification string. This data is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>EmailCampaign</span> request to be accepted.</span>

<span class="request-data-head">partner_contact_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>w</span> that you are creating an <span class='entity-name'>EmailCampaign</span> entry about. You should have already created the <span class='entity-name'>Contact</span> record on the Moxi Works Platform using [Contact Create](/#contact-create) before attempting to use your system's contact ID to show <span class='entity-name'>EmailCampaign</span> entries for the <span class='entity-name'>Contact</span>. Your request will be rejected if the <span class='entity-name'>Contact</span> record does not exist.</span>


##### <span class='entity-name'>EmailCampaign</span> <span class='action-name'>Index</span> Response Payload

The following attributes make up the payload of the <span class='entity-name'>EmailCampaign</span> response for a <span class='action-name'>Index</span> request.


<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>EmailCampaign</span> <span class='action-name'>Index</span> Response Payload Example
</div></blockquote>

```json
[
{
  "subscription_type":"EmailSubscriptionType",
  "email_address":"subscriber@here.com",
  "subscribed_at":1467409224,
  "created_by":"agent",
  "area":"98225",
  "last_sent":0,
  "next_scheduled":0
},
{
  "subscription_type":"OtherEmailSubscriptionType",
  "email_address":"subscriber@there.com",
  "subscribed_at":1467409442,
  "created_by":"agent",
  "area":"12344",
  "last_sent":1468878269,
  "next_scheduled":1471470286
}
]

```

<blockquote><div class='highlight json' style="display: block">
  <span class="data-example-label"><span class='entity-name'>EmailCampaign</span>  <span class='action-name'>Index</span> Failure Response</span>
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```
Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">subscription_type</span>|<span class="data-type">String</span>|
|<span class="response-data">email_address</span>|<span class="data-type">String</span>|
|<span class="response-data">subscribed_at</span>|<span class="data-type">Integer</span>|
|<span class="response-data">created_by</span>|<span class="data-type">String</span>|
|<span class="response-data">area</span>|<span class="data-type">String</span>|
|<span class="response-data">last_sent</span>|<span class="data-type">Integer</span>|
|<span class="response-data">next_scheduled</span>|<span class="data-type">Integer</span>|


<span class="request-data-head">subscription_type</span>
<span class="request-data-remarks">A string representing the type of <span class='entity-name'>EmailSubscription</span> is associated with the <span class='entity-name'>Contact</span> for the  supplied <span class='attribute-name'>partner_contact_id</span>. This is a unique, internally defined string per <span class='entity-name'>EmailSubscription</span> type.  Documentation of available <span class='attribute-name'>subscription_type</span> responses is outside the scope of this documentation. If you need help determining available types, contact your Moxi Works Platform representative.</span>

<span class="request-data-head">email_address</span>
<span class="request-data-remarks">The email address for the <span class='entity-name'>EmailSubscription</span>.</span>

<span class="request-data-head">subscribed_at</span>
<span class="request-data-remarks">Unix timestamp representing when the <span class='entity-name'>EmailSubscription</span> that is associated with the <span class='entity-name'>Contact</span> for the  supplied <span class='attribute-name'>partner_contact_id</span>  was initiated.</span>

<span class="request-data-head">created_by</span>
<span class="request-data-remarks">This is a string representing the actor responsible for the subscription initiation.</span>

<span class="request-data-head">area</span>
<span class="request-data-remarks">A string representing a geographic area that the <span class='entity-name'>EmailSubscription</span> regards.  </span>

<span class="request-data-head">last_sent</span>
<span class="request-data-remarks">This is a Unix timestamp representing the point in time that the last <span class='entity-name'>EmailSubscription</span> message was sent.</span>


<span class="request-data-head">next_scheduled</span>
<span class="request-data-remarks">This is a Unix timestamp representing the point in time that the next <span class='entity-name'>EmailSubscription</span> message will be sent.</span>
