#### Index

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/EmailCampaign.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.EmailCampaign.html#method_search'>PHP Search Docs</a></span></blockquote></div>

> <span class="data-example-label">EmailCampaign Index Example</span>

```http
GET /api/email_campaigns?moxi_works_agent_id=abc123&partner_contact_id=mySystemsContactId HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisitesa

moxi_works_email_campaigns = MoxiworksPlatform::EmailCampaign.search(
        moxi_works_agent_id: "1234abcd",
        partner_contact_id: "mySystemsContactId")


```

```php
<?php
$platform_identifier = 'abc123'
$platform_secret = 'secret'

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret)

$moxi_works_email_campaigns = MoxiworksPlatform\EmailCampaign::search([
        $moxi_works_agent_id => "1234abcd",
        $partner_contact_id => "mySystemsContactId"]);

?>
```


<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">EmailCampaign Index: Success Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http
HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

[
{
  "subscription_type":"EmailSubscriptionType",
  "email_address":"subscriber@here.com",
  "subscribed_at":1467409224,
  "created_by":"agent",
  "area":"98225",
  "last_sent":0,
  "next_scheduled":0
},
{
  "subscription_type":"OtherEmailSubscriptionType",
  "email_address":"subscriber@there.com",
  "subscribed_at":1467409442,
  "created_by":"agent",
  "area":"12344",
  "last_sent":1468878269,
  "next_scheduled":1471470286
}
]

```

<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">EmailCampaign Index: Not Found Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http

HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

{
  "moxi_works_agent_id": "1234abcd",
  "partner_contact_id": "11111abe",
  "actions":[]
}

```

<blockquote><div class='highlight http' style="display: block">
<span class="data-example-label">EmailCampaign Index: Failure Response</span>
(line breaks in body shown for clarity)
</div></blockquote>

```http

HTTP/1.1 400 OK
Content-Type: application/json; charset=utf-8
X-UA-Compatible: IE=Edge
ETag: \"39e1ce76ef58ce23a7debbe5ca145715\"
Cache-Control: max-age=0, private, must-revalidate
X-Request-Id: 232e40496ea30b9758dddf0b7ab195f2
X-Runtime: 13.034641
Connection: close
Server: thin

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/email_campaigns</aside>


When searching for EmailCampaign entities using the Moxi Works platform API, format your data using the following parameters.


Attribute | Type| Remark | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_agent_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data"><span class="data-remarks">The agent's Moxi Works Platform ID</span></span>| <span class="required-data">255</span>
|<span class="required-data">partner_contact_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data"><span class="data-remarks">The ID of the contact in your system.</span></span>| <span class="required-data">255</span>


<span class="required-data">**Required Parameters Are In Red**</span>

