#### <span class='entity-name'>Brand</span> <span class='action-name'>Index</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Brand.html#search-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Brand.html#method_search'>PHP Search Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_brand_service.html#ad2a8c676ce1eae4d6ff80dd911d26cef'>.Net <span class='action-name'>Brand.GetBrandsAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Brand</span> <span class='action-name'>Index</span> Example</span>


```http
GET /api/brands?moxi_works_agent_id=abc123 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```

```json
{
  "moxi_works_agent_id":"xyz098",
  "moxi_works_company_id":"abc123"
}

```


```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";

var service = new BrandService(new MoxiWorksClient());
var results = service.GetBrandsAsync("some_agent_id", "abc123").Result;

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_brand = MoxiworksPlatform::Brand.search(
        moxi_works_agent_id: "xyz098", 
        moxi_works_company_id: "abc123")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_brand= MoxiworksPlatform\Brand::search([
        'moxi_works_agent_id' => 'xyz098', 
        'moxi_works_company_id' => 'abc123']);
?>
```


##### <span class='entity-name'>Brand</span> <span class='action-name'>Index</span> Request Attributes

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/brands</aside>

When finding an <span class='entity-name'>Brand</span> using the Moxi Works platform API, format your request using the following parameters.

Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_company_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255<span> |
|<span class="multi-option-optional-data">agent_uuid*</span>|<span class="multi-option-optional-data"><span class="data-type">String</span></span>| <span class="multi-option-optional-data">255</span>
|<span class="multi-option-optional-data">moxi_works_agent_id*</span>|<span class="multi-option-optional-data"><span class="data-type">String</span></span>| <span class="multi-option-optional-data">255</span>

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid Moxi Works <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<span class="request-data-head">agent_uuid</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the agent. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID. <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> can be used and should reference a valid Moxi Works Agent ID for your <span class='entity-name'>Brand</span> request to be accepted.</span>

<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span>. This will be a string that may take the form of an email address, or a unique identification string. <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> can be used and should reference a valid Moxi Works Agent ID for your <span class='entity-name'>Brand</span> request to be accepted.</span>

<aside class="note">A company's internal agent id may be used to construct the agent's unique identification string. To do so, the value passed via the moxi_works_agent_id should be a single concatenated string, of the form:</br>[moxi_works_company_id]:[internal_agent_id]</br>Use <a href='#company'>Company Endpoint</a> to determine which moxi_works_company_id to use.</aside>

<span class="request-data-head">agent_uuid</span>
<span class="request-data-remarks">A valid Moxi Works <span class='entity-name'>Agent</span> ID. Use [Agent Endpoint](#agent) to determine what <span class='attribute-name'>moxi_works_agent_id</span> you can use.</span>


<aside class="note">Use <a href='#company'>Company Endpoint</a> to determine the moxi_works_company_id to send.</aside>

<aside class="note">Use <a href='#company'>Agent Endpoint</a> to determine the moxi_works_agent_id to send.</aside>



##### <span class='entity-name'>Brand</span> <span class='action-name'>Index</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>Brand</span> response for a <span class='action-name'>Index</span> request.

<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Brand</span> <span class='action-name'>Index</span> Response Payload Example</span>
</div></blockquote>

```json
{
  "brands":[
    {
      "name":"brand name",
      "image_logo": "http://image.url/image.png",
      "cma_authoring_color": "#123456",
      "background_color": "#123456",
      "background_font_color_primary": "#654321",
      "button_background_color": "#123456",
      "button_font_color": "#654321",
      "copyright": "&copy; 2017 <a href="http://embedded.href.url" target="_blank">Company Copyright Holder</a> and Possibly another Company",
      "display_name": "Company Display Name",
      "email_element_background_color": "#654321",
      "email_background_font_color": "#123456",
      "image_cma_pdf_logo_header": "http://image.url/pdf_logo@341x110.png",
      "image_email_logo_alt": "http://image.url/email_logo@341x110.png",
      "image_favicon": "http://favicon.url/favicon.ico",
      "image_pres_cover_logo": "http://image.url/pres_cover_logo@341x110.png",
      "pres_block_background_color": "#654321",
      "pres_block_text_color": "#123456"
    }
  ]
}
```


<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label"><span class='entity-name'>Brand</span> <span class='action-name'>Index</span>: Failure Response</span>
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```
###### <span class='action-name'>Index</span> Response Attributes


Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">name</span>|<span class="data-type">String</span>|
|<span class="response-data">image_logo</span>|<span class="data-type">String</span>|
|<span class="response-data">cma_authoring_color</span>|<span class="data-type">String</span>|
|<span class="response-data">background_color</span>|<span class="data-type">String</span>|
|<span class="response-data">background_font_color_primary</span>|<span class="data-type">String</span>|
|<span class="response-data">button_background_color</span>|<span class="data-type">String</span>|
|<span class="response-data">button_font_color</span>|<span class="data-type">String</span>|
|<span class="response-data">copyright</span>|<span class="data-type">String</span>|
|<span class="response-data">display_name</span>|<span class="data-type">String</span>|
|<span class="response-data">email_element_background_color</span>|<span class="data-type">String</span>|
|<span class="response-data">email_background_font_color</span>|<span class="data-type">String</span>|
|<span class="response-data">image_cma_pdf_logo_header</span>|<span class="data-type">String</span>|
|<span class="response-data">image_email_logo_alt</span>|<span class="data-type">String</span>|
|<span class="response-data">image_favicon</span>|<span class="data-type">String</span>|
|<span class="response-data">image_pres_cover_logo</span>|<span class="data-type">String</span>|
|<span class="response-data">pres_block_background_color</span>|<span class="data-type">String</span>|
|<span class="response-data">pres_block_text_color</span>|<span class="data-type">String</span>|


<span class="response-data-head">name</span>
<span class="response-data-remarks">Human readable string identifying the brand.</span>

<span class="response-data-head">image_logo</span>
<span class="response-data-remarks">Company Logo</span>

<span class="response-data-head">cma_authoring_color</span>
<span class="response-data-remarks">Presentation accent color</span>

<span class="response-data-head">background_color</span>
<span class="response-data-remarks">background color</span>

<span class="response-data-head">background_font_color_primary</span>
<span class="response-data-remarks">font color intended to overlay `background_color` </span>

<span class="response-data-head">button_background_color</span>
<span class="response-data-remarks">background color of buttons</span>

<span class="response-data-head">button_font_color</span>
<span class="response-data-remarks">font color intended to overlay `button_background_color`</span>

<span class="response-data-head">copyright</span>
<span class="response-data-remarks">copyright notice -- this may contain embedded HTML</span>

<span class="response-data-head">display_name</span>
<span class="response-data-remarks">name of company as displayed to consumer</span>

<span class="response-data-head">email_element_background_color</span>
<span class="response-data-remarks">background color of email elements outside body</span>

<span class="response-data-head">email_background_font_color</span>
<span class="response-data-remarks">font color intended to overlay `email_background_font_color`</span>

<span class="response-data-head">image_cma_pdf_logo_header</span>
<span class="response-data-remarks">company logo shown in pdf version of presentations</span>

<span class="response-data-head">image_email_logo_alt</span>
<span class="response-data-remarks">company logo as shown in email header</span>

<span class="response-data-head">image_favicon</span>
<span class="response-data-remarks">favicon of company</span>

<span class="response-data-head">image_pres_cover_logo</span>
<span class="response-data-remarks">company logo shown in the online version of presentations</span>

<span class="response-data-head">pres_block_background_color</span>
<span class="response-data-remarks">block element background color shown in online version of presentations</span>

<span class="response-data-head">pres_block_text_color</span>
<span class="response-data-remarks">font color intended to overlay `pres_block_background_color`</span>