## Authentication

The Moxi Works API utilizes OAuth 2.0 for Authentication and Authorization. 
An **Authorization** HTTP header containing an Access Token is required to authenticate requests. 
Access Tokens can be acquired in one of two ways:
<ul>
<li>via the Smartsheet UI ([User-generated Access Tokens](#user-generated-access-tokens)) </li>
<li>via OAuth 2.0 (see [Third-party Access Tokens](#third-party-access-tokens))</li>
</ul> 