### <span class='entity-name'>ActionLog</span>

MoxiWorks <span class='entity-name'>ActionLog</span> entries record actions that contacts take that an agent might want to see to increase their effectivity. For example, if a contact sends an email to an agent asking a question, MoxiWorks <span class='entity-name'>ActionLog</span> will record that interaction and display it to the agent.

<%= partial "partials/public_api/api_usage/action_log/create.md.erb" %>

<%= partial "partials/public_api/api_usage/action_log/index.md.erb" %>
