### <span class='entity-name'>Agent</span>

MoxiWorks <span class='entity-name'>Agent</span> objects contain data about agents that your organization can use. For example, you can determine an agent's office address or primary phone number from an <span class='entity-name'>Agent</span>  object.


<%= partial "partials/public_api/api_usage/agent/show.md.erb" %>

<%= partial "partials/public_api/api_usage/agent/index.md.erb" %>
