### <span class='entity-name'>Brand</span>

Moxi Works <span class='entity-name'>Brand</span> objects contain data about brand colors & logos associated with a company. For example, you can get a Company's logo for use within your own product.


<%= partial "partials/public_api/api_usage/brand/show.md.erb" %>

<%= partial "partials/public_api/api_usage/brand/index.md.erb" %>
