### <span class='entity-name'>Company</span>

Moxi Works Plaform <span class='entity-name'>Company</span> entities are your entry-point for determining the established relationships for your organization to companies on the Moxi Works Platform and for accessing data about those companies. Many requests require a <span class='attribute-name'>moxi_works_company_id</span>, which you'll need to derive from the <span class='entity-name'>Company</span> <span class='action-name'>Index</span> endpoint.

<%= partial "partials/public_api/api_usage/company/show.md.erb" %>

<%= partial "partials/public_api/api_usage/company/index.md.erb" %>
