##  Contact

### Create

<aside class="note">Send a <b>POST</b> request to https://api.moxiworks.com/api/contact</aside>

When creating a contact using the Moxi Works platform API, format your data using the following parameters.

> <span class="data-example-label">Contact Creation Example</span>

```shell
POST /api/contacts HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

moxi_works_agent_id=abc123&partner_contact_id=abc982cdf345&partner_agent_id=xyz987&contact_name=Billy+Football&gender=m&primary_email_address=johnny%40football.foo&secondary_email_address=fooball%40johnnyshead.lost&primary_phone_number=123123213&secondary_phone_number=2929292922&home_street_address=1234+Winterfell+Way&home_city=Cityville&home_state=Stateland&home_zip=12345&home_neighborhood=The+North&home_country=Westeros&job_title=Junior+Bacon+Burner&occupation=Chef&business_website=http%3A%2F%2Fhere.it%2Fis&property_url=http%3A%2F%2Fteh.property.is%2Fhere&property_mls_id=123abc&property_street_address=1234+here+ave.&property_city=anywhereville&property_state=anystate&property_zip=918928&property_beds=21&property_baths=12.75&property_list_price=1231213&property_listing_status=Active&property_photo_url=http%3A%2F%2Fthis.is%2Fthe%2Fphoto.jpg&search_city=searchville&search_state=ofconfusion&search_zip=92882&search_min_beds=12&search_min_baths=4&search_min_price=1234&search_max_price=22324&search_min_sq_ft=1234&search_max_sq_ft=23455&search_min_lot_size=29299&search_max_lot_size=292929&search_min_year_built=1999&search_max_year_built=2004&search_property_types=Condo%2C+Single-Family
```

```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_contact = MoxiworksPlatform::Contact.create(
        moxi_works_agent_id: "1234abcd",
        partner_agent_id: "agentid",
        partner_contact_id: "booyuh",
        moxi_works_contact_id: "009b9297977c",
        contact_name: "Firstname Middlenyme Larstnam",
        gender: "m",
        primary_email_address: "me@justabout.right.here",
        secondary_email_address: "me.too@justabout.right.here",
        primary_phone_number: "9995551212",
        secondary_phone_number: "(333) 555-1185",
        home_street_address: "1234 Sesame St.",
        home_city: "Cityville",
        home_state: "Stateland",
        home_zip: "12345-6789",
        home_neighborhood: "Fort Hood",
        home_country: "Ottoman Empire",
        job_title: "Junior Bacon Burner",
        occupation: "chef",
        business_website: "http://my.website.is.here",
        property_url: "http://my.property.website.is/here",
        property_mls_id: "abc123",
        property_street_address: "2345 67th place",
        property_city: "Townland",
        property_state: "Statesville",
        property_zip: "98765-4321",
        property_beds: "18",
        property_baths: "12.5",
        property_list_price: "123456789",
        property_listing_status: "Active",
        property_photo_url: "http://property.photo.is/here.jpg",
        search_city: "Searchland",
        search_state: "Searchsylvania",
        search_zip: "12345-6789",
        search_min_beds: "2",
        search_min_baths: "3.25",
        search_min_price: "1234567",
        search_max_price: "1234569",
        search_min_sq_ft: "1234",
        search_max_sq_ft: "1235",
        search_min_lot_size: "3234",
        search_max_lot_size: "3235",
        search_min_year_built: "1388",
        search_max_year_built: "2044",
        search_property_types: "Condo, Single Family, Townhouse")

```

> <span class="data-example"><span class="example-label">moxi_works_agent_id</span><span class="example">abc123</span></span><span class="data-example"><span class="example-label">partner_contact_id</span><span class="example">abc982cdf345</span></span><span class="data-example"><span class="example-label">partner_agent_id</span><span class="example">zxy987</span></span><span class="data-example"><span class="example-label">contact_name</span><span class="example">Billy Football Jr.</span></span><span class="data-example"><span class="example-label">gender</span><span class="example">M</span></span><span class="data-example"><span class="example-label">primary_email_address</span><span class="example">johnny@football.esq</span></span><span class="data-example"><span class="example-label">secondary_email_address</span><span class="example">billy@football.esq</span></span><span class="data-example"><span class="example-label">primary_phone_number</span><span class="example">123-555-1234</span></span><span class="data-example"><span class="example-label">secondary_phone_number</span><span class="example">234-555-2345</span></span><span class="data-example"><span class="example-label">home_street_address</span><span class="example">1234 Football Ln</span></span><span class="data-example"><span class="example-label">home_city</span><span class="example">Cityville</span></span><span class="data-example"><span class="example-label">home_state</span><span class="example">UT</span></span><span class="data-example"><span class="example-label">home_zip</span><span class="example">12345</span></span><span class="data-example"><span class="example-label">home_neighborhood</span><span class="example">Nottingham</span><span class="data-example"><span class="example-label">home_country</span><span class="example">USA</span></span><span class="data-example"><span class="example-label">job_title</span><span class="example">Chief Bear Wrestler</span></span><span class="data-example"><span class="example-label">occupation</span><span class="example">Bear Wrestler</span></span><span class="data-example"><span class="example-label">business_website</span><span class="example">http://pro-bear-wrestlers.com</span></span><span class="data-example"><span class="example-label">property_url</span><span class="example">http://my-property-page.com?property_id=1234</span></span><span class="data-example"><span class="example-label">property_mls_id</span><span class="example">vh-ou812-5150</span></span><span class="data-example"><span class="example-label">property_street_address</span><span class="example">1234 Electric Ave</span></span><span class="data-example"><span class="example-label">property_city</span><span class="example">Beverly Hills</span></span><span class="data-example"><span class="example-label">property_state</span><span class="example">CA</span></span><span class="data-example"><span class="example-label">home_zip</span><span class="example">90210</span></span><span class="data-example"><span class="example-label">property_beds</span><span class="example">6</span></span><span class="data-example"><span class="example-label">property_baths</span><span class="example">3.5</span></span><span class="data-example"><span class="example-label">property_list_price</span><span class="example">1234523</span></span><span class="data-example"><span class="example-label">property_listing_status</span><span class="example">Active</span></span><span class="data-example"><span class="example-label">property_photo_url</span><span class="example">http://my-property-page.com?photo_id=12345</span></span><span class="data-example"><span class="example-label">search_city</span><span class="example">Los Angeles</span></span><span class="data-example"><span class="example-label">search_state</span><span class="example">CA</span></span><span class="data-example"><span class="example-label">search_zip</span><span class="example">90009</span></span><span class="data-example"><span class="example-label">search_min_beds</span><span class="example">5</span></span><span class="data-example"><span class="example-label">search_min_baths</span><span class="example">3.5</span></span><span class="data-example"><span class="example-label">search_min_price</span><span class="example">0</span></span><span class="data-example"><span class="example-label">search_max_price</span><span class="example">1234567</span></span><span class="data-example"><span class="example-label">search_min_sq_ft</span><span class="example">0</span></span><span class="data-example"><span class="example-label">search_max_sq_ft</span><span class="example">9876</span></span><span class="data-example"><span class="example-label">search_min_lot_size</span><span class="example">12345</span></span><span class="data-example"><span class="example-label">search_max_lot_size</span><span class="example">98765</span></span><span class="data-example"><span class="example-label">search_min_year_built</span><span class="example">1922</span></span><span class="data-example"><span class="example-label">search_max_year_built</span><span class="example">2016</span></span><span class="data-example"><span class="example-label">search_property_types</span><span class="example">Condo, Single-Family</span></span>

Attribute | Type| Remark | Required |
-----|-----|-----|-----| 
|<span class="required-data">moxi_works_agent_id</span>|<span class="data-type">String</span>|<span class="data-remarks">The agent's Moxi Works Platform ID</span>| <span class="required-data">**required**</span>
|<span class="required-data">partner_contact_id</span>|<span class="data-type">String</span>|<span class="data-remarks">The unique ID of the contact in your system</span>| <span class="required-data">**required**</span>
|<span class="optional-data">partner_agent_id</span>|<span class="data-type">String</span>|<span class="data-remarks">The unique ID of the agent in your system</span>| | 
|<span class="optional-data">contact_name</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's full name</span>| | 
|<span class="optional-data">gender</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's gender</span>| |
|<span class="optional-data">primary_email_address</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's email address that should be used first</span>| |
|<span class="optional-data">secondary_email_address</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's email address that should be used as an alternate</span>| |
|<span class="optional-data">primary_phone_number</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's phone number that should be used first</span>| |
|<span class="optional-data">secondary_phone_number</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's phone number that should be used as an alternate</span>| |
|<span class="optional-data">home_street_address</span>|<span class="data-type">String</span>|<span class="data-remarks">The street address of the contact's current home</span>| |
|<span class="optional-data">home_city</span>|<span class="data-type">String</span>|<span class="data-remarks">The city of the contact's current home</span>| |
|<span class="optional-data">home_state</span>|<span class="data-type">String</span>|<span class="data-remarks">The state or district of the contact's current home</span>| |
|<span class="optional-data">home_zip</span>|<span class="data-type">String</span>|<span class="data-remarks">The zip code of the contact's current home</span>| |
|<span class="optional-data">home_neighborhood</span>|<span class="data-type">String</span>|<span class="data-remarks">The neighborhood of the contact's current home</span>| |
|<span class="optional-data">home_country</span>|<span class="data-type">String</span>|<span class="data-remarks">The country of the contact's current home</span>| |
|<span class="optional-data">job_title</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's professional job title</span>| |
|<span class="optional-data">occupation</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's professional occupation</span>| |
|<span class="optional-data">business_website</span>|<span class="data-type">String</span>|<span class="data-remarks">URL for the contact's business website</span>| |
|<span class="optional-data">property_url</span>|<span class="data-type">String</span>|<span class="data-remarks">URL for the given property of interest on your system</span>| |
|<span class="optional-data">property_mls_id</span>|<span class="data-type">String</span>|<span class="data-remarks">MLS Number for the property of interest</span>| |
|<span class="optional-data">property_street_address</span>|<span class="data-type">String</span>|<span class="data-remarks">Street address of the property of interest</span>| |
|<span class="optional-data">property_city</span>|<span class="data-type">String</span>|<span class="data-remarks">City / Locale the property of interest is located in</span>| |
|<span class="optional-data">property_state</span>|<span class="data-type">String</span>|<span class="data-remarks">State / Region the property of interest is located in</span>| |
|<span class="optional-data">property_zip</span>|<span class="data-type">String</span>|<span class="data-remarks">The zip / postal code the property of interest is located in</span>| |
|<span class="optional-data">property_beds</span>|<span class="data-type">Integer</span>|<span class="data-remarks">Number of bedrooms in the property of interest</span>| |
|<span class="optional-data">property_baths</span>|<span class="data-type">Float</span>|<span class="data-remarks">Number of bathrooms in the property of interest</span>| |
|<span class="optional-data">property_list_price</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The list price of the property of interest</span>| |
|<span class="optional-data">property_listing_status</span>|<span class="data-type">String</span>|<span class="data-remarks">The current listing status (i.e. Active, Pending, Sold, etc.) of the property of interest</span>| |
|<span class="optional-data">property_photo_url</span>|<span class="data-type">String</span>|<span class="data-remarks">A URL reference to a photo of the property of interest.</span>| |
|<span class="optional-data">search_city</span>|<span class="data-type">String</span>|<span class="data-remarks">The city / locale used by the contact in their listing search criteria </span>| |
|<span class="optional-data">search_state</span>|<span class="data-type">String</span>|<span class="data-remarks">The state / region used by he contact in their listing search criteria l</span>| |
|<span class="optional-data">search_zip</span>|<span class="data-type">String</span>|<span class="data-remarks">The zip / postal code used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_baths</span>|<span class="data-type">Float</span>|<span class="data-remarks">The minimum number of bathrooms used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_beds</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The minimum number of bedrooms used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_price</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The minimum listing price used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_max_price</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The maximum listing price used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_sq_ft</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The minimum property square feet used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_max_sq_ft</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The maximum property square feet used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_lot_size</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The minimum property lot size used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_max_lot_size</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The maximum property lot size used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_year_built</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The minimum year built used by the contact in their listing search critieria</span>| |
|<span class="optional-data">search_max_year_built</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The maximum year built used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_property_types</span>|<span class="data-type">String</span>|<span class="data-remarks">The property types (i.e. 'Condo,' 'Single-Family,' etc.) used by the contact in their listing search criteria</span>| |



### Update

<aside class="note">Send a <b>PUT</b> request to https://api.moxiworks.com/api/contact</aside>

<aside class="warning">Moxi Works API will remove data for any attribute not defined within the paramters you send. For instance, if the home_street_address attribute is not passed, the current home_street_address for the contact will be removed from the contact stored in Moxi Works.</aside>


> <span class="data-example-label">Contact Update Example</span><span class="data-example"><span class="example-label">moxi_works_agent_id</span><span class="example">abc123</span></span><span class="data-example"><span class="example-label">partner_contact_id</span><span class="example">abc982cdf345</span></span><span class="data-example"><span class="example-label">partner_agent_id</span><span class="example">zxy987</span></span><span class="data-example"><span class="example-label">contact_name</span><span class="example">Billy Football Jr.</span></span><span class="data-example"><span class="example-label">gender</span><span class="example">M</span></span><span class="data-example"><span class="example-label">primary_email_address</span><span class="example">johnny@football.esq</span></span><span class="data-example"><span class="example-label">secondary_email_address</span><span class="example">billy@football.esq</span></span><span class="data-example"><span class="example-label">primary_phone_number</span><span class="example">123-555-1234</span></span><span class="data-example"><span class="example-label">secondary_phone_number</span><span class="example">234-555-2345</span></span><span class="data-example"><span class="example-label">home_street_address</span><span class="example">1234 Football Ln</span></span><span class="data-example"><span class="example-label">home_city</span><span class="example">Cityville</span></span><span class="data-example"><span class="example-label">home_state</span><span class="example">UT</span></span><span class="data-example"><span class="example-label">home_zip</span><span class="example">12345</span></span><span class="data-example"><span class="example-label">home_neighborhood</span><span class="example">Nottingham</span><span class="data-example"><span class="example-label">home_country</span><span class="example">USA</span></span><span class="data-example"><span class="example-label">job_title</span><span class="example">Chief Bear Wrestler</span></span><span class="data-example"><span class="example-label">occupation</span><span class="example">Bear Wrestler</span></span><span class="data-example"><span class="example-label">business_website</span><span class="example">http://pro-bear-wrestlers.com</span></span><span class="data-example"><span class="example-label">property_url</span><span class="example">http://my-property-page.com?property_id=1234</span></span><span class="data-example"><span class="example-label">property_mls_id</span><span class="example">vh-ou812-5150</span></span><span class="data-example"><span class="example-label">property_street_address</span><span class="example">1234 Electric Ave</span></span><span class="data-example"><span class="example-label">property_city</span><span class="example">Beverly Hills</span></span><span class="data-example"><span class="example-label">property_state</span><span class="example">CA</span></span><span class="data-example"><span class="example-label">home_zip</span><span class="example">90210</span></span><span class="data-example"><span class="example-label">property_beds</span><span class="example">6</span></span><span class="data-example"><span class="example-label">property_baths</span><span class="example">3.5</span></span><span class="data-example"><span class="example-label">property_list_price</span><span class="example">1234523</span></span><span class="data-example"><span class="example-label">property_listing_status</span><span class="example">Active</span></span><span class="data-example"><span class="example-label">property_photo_url</span><span class="example">http://my-property-page.com?photo_id=12345</span></span><span class="data-example"><span class="example-label">search_city</span><span class="example">Los Angeles</span></span><span class="data-example"><span class="example-label">search_state</span><span class="example">CA</span></span><span class="data-example"><span class="example-label">search_zip</span><span class="example">90009</span></span><span class="data-example"><span class="example-label">search_min_beds</span><span class="example">5</span></span><span class="data-example"><span class="example-label">search_min_baths</span><span class="example">3.5</span></span><span class="data-example"><span class="example-label">search_min_price</span><span class="example">0</span></span><span class="data-example"><span class="example-label">search_max_price</span><span class="example">1234567</span></span><span class="data-example"><span class="example-label">search_min_sq_ft</span><span class="example">0</span></span><span class="data-example"><span class="example-label">search_max_sq_ft</span><span class="example">9876</span></span><span class="data-example"><span class="example-label">search_min_lot_size</span><span class="example">12345</span></span><span class="data-example"><span class="example-label">search_max_lot_size</span><span class="example">98765</span></span><span class="data-example"><span class="example-label">search_min_year_built</span><span class="example">1922</span></span><span class="data-example"><span class="example-label">search_max_year_built</span><span class="example">2016</span></span><span class="data-example"><span class="example-label">search_property_types</span><span class="example">Condo, Single-Family</span></span>

Attribute | Type| Remark | Required |
-----|-----|-----|-----| 
|<span class="required-data">moxi_works_agent_id</span>|<span class="data-type">String</span>|<span class="data-remarks">The agent's Moxi Works Platform ID</span>| <span class="required-data">**required**</span>
|<span class="required-data">partner_contact_id</span>|<span class="data-type">String</span>|<span class="data-remarks">The unique ID of the contact in your system</span>| <span class="required-data">**required**</span>
|<span class="optional-data">partner_agent_id</span>|<span class="data-type">String</span>|<span class="data-remarks">The unique ID of the agent in your system</span>| | 
|<span class="optional-data">contact_name</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's full name</span>| | 
|<span class="optional-data">gender</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's gender</span>| |
|<span class="optional-data">primary_email_address</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's email address that should be used first</span>| |
|<span class="optional-data">secondary_email_address</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's email address that should be used as an alternate</span>| |
|<span class="optional-data">primary_phone_number</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's phone number that should be used first</span>| |
|<span class="optional-data">secondary_phone_number</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's phone number that should be used as an alternate</span>| |
|<span class="optional-data">home_street_address</span>|<span class="data-type">String</span>|<span class="data-remarks">The street address of the contact's current home</span>| |
|<span class="optional-data">home_city</span>|<span class="data-type">String</span>|<span class="data-remarks">The city of the contact's current home</span>| |
|<span class="optional-data">home_state</span>|<span class="data-type">String</span>|<span class="data-remarks">The state or district of the contact's current home</span>| |
|<span class="optional-data">home_zip</span>|<span class="data-type">String</span>|<span class="data-remarks">The zip code of the contact's current home</span>| |
|<span class="optional-data">home_neighborhood</span>|<span class="data-type">String</span>|<span class="data-remarks">The neighborhood of the contact's current home</span>| |
|<span class="optional-data">home_country</span>|<span class="data-type">String</span>|<span class="data-remarks">The country of the contact's current home</span>| |
|<span class="optional-data">job_title</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's professional job title</span>| |
|<span class="optional-data">occupation</span>|<span class="data-type">String</span>|<span class="data-remarks">The contact's professional occupation</span>| |
|<span class="optional-data">business_website</span>|<span class="data-type">String</span>|<span class="data-remarks">URL for the contact's business website</span>| |
|<span class="optional-data">property_url</span>|<span class="data-type">String</span>|<span class="data-remarks">URL for the given property of interest on your system</span>| |
|<span class="optional-data">property_mls_id</span>|<span class="data-type">String</span>|<span class="data-remarks">MLS Number for the property of interest</span>| |
|<span class="optional-data">property_street_address</span>|<span class="data-type">String</span>|<span class="data-remarks">Street address of the property of interest</span>| |
|<span class="optional-data">property_city</span>|<span class="data-type">String</span>|<span class="data-remarks">City / Locale the property of interest is located in</span>| |
|<span class="optional-data">property_state</span>|<span class="data-type">String</span>|<span class="data-remarks">State / Region the property of interest is located in</span>| |
|<span class="optional-data">property_zip</span>|<span class="data-type">String</span>|<span class="data-remarks">The zip / postal code the property of interest is located in</span>| |
|<span class="optional-data">property_beds</span>|<span class="data-type">Integer</span>|<span class="data-remarks">Number of bedrooms in the property of interest</span>| |
|<span class="optional-data">property_baths</span>|<span class="data-type">Float</span>|<span class="data-remarks">Number of bathrooms in the property of interest</span>| |
|<span class="optional-data">property_list_price</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The list price of the property of interest</span>| |
|<span class="optional-data">property_listing_status</span>|<span class="data-type">String</span>|<span class="data-remarks">The current listing status (i.e. Active, Pending, Sold, etc.) of the property of interest</span>| |
|<span class="optional-data">property_photo_url</span>|<span class="data-type">String</span>|<span class="data-remarks">A URL reference to a photo of the property of interest.</span>| |
|<span class="optional-data">search_city</span>|<span class="data-type">String</span>|<span class="data-remarks">The city / locale used by the contact in their listing search criteria </span>| |
|<span class="optional-data">search_state</span>|<span class="data-type">String</span>|<span class="data-remarks">The state / region used by he contact in their listing search criteria l</span>| |
|<span class="optional-data">search_zip</span>|<span class="data-type">String</span>|<span class="data-remarks">The zip / postal code used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_baths</span>|<span class="data-type">Float</span>|<span class="data-remarks">The minimum number of bathrooms used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_beds</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The minimum number of bedrooms used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_price</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The minimum listing price used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_max_price</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The maximum listing price used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_sq_ft</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The minimum property square feet used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_max_sq_ft</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The maximum property square feet used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_lot_size</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The minimum property lot size used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_max_lot_size</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The maximum property lot size used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_min_year_built</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The minimum year built used by the contact in their listing search critieria</span>| |
|<span class="optional-data">search_max_year_built</span>|<span class="data-type">Integer</span>|<span class="data-remarks">The maximum year built used by the contact in their listing search criteria</span>| |
|<span class="optional-data">search_property_types</span>|<span class="data-type">String</span>|<span class="data-remarks">The property types (i.e. 'Condo,' 'Single-Family,' etc.) used by the contact in their listing search criteria</span>| |

### Show

<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/contact/[partner_contact_id]</aside>


Attribute | Type| Remark | Required |
-----|-----|-----|-----| 
|<span class="required-data">moxi_works_agent_id</span>|<span class="data-type">String</span>|<span class="data-remarks">The agent's Moxi Works Platform ID</span>| <span class="required-data">**required**</span>
|<span class="required-data">partner_contact_id</span>|<span class="data-type">String</span>|<span class="data-remarks">The unique ID of the contact in your system</span>| <span class="required-data">**partner_contact_id <b>or</b> moxi_works_contact_id is required**</span>
|<span class="required-data">moxi_works_contact_id</span>|<span class="data-type">String</span>| The unique ID of the contact in the Moxi Works Platform|<span class="required-data">**partner_contact_id <b>or</b> moxi_works_contact_id is required**</span> 


