### <span class='entity-name'>EmailCampaign</span>

MoxiWorks Platform <span class='entity-name'>EmailCampign</span> entities represent email campaigns established between agents and contacts via MoxiWorks.


<%= partial "partials/public_api/api_usage/email_campaign/index.md.erb" %>
