### <span class='entity-name'>EmailCampaign</span>

Moxi Works Platform <span class='entity-name'>EmailCampign</span> entities represent email campaigns established between agents and contacts via Moxi Works.


<%= partial "partials/public_api/api_usage/email_campaign/index.md.erb" %>
