### <span class='entity-name'>Gallery</span>

MoxiWorks Platform <span class='entity-name'>Gallery</span> entities are groups of photos an agent has associated with a listing. 


<%= partial "partials/public_api/api_usage/gallery/show.md.erb" %>

