### <span class='entity-name'>Group</span>

MoxiWorks Platform <span class='entity-name'>Group</span> entities represent groupings of an agent's contacts. 

<%= partial "partials/public_api/api_usage/group/create.md.erb" %>

<%= partial "partials/public_api/api_usage/group/update.md.erb" %>

<%= partial "partials/public_api/api_usage/group/show.md.erb" %>

<%= partial "partials/public_api/api_usage/group/index.md.erb" %>
