### <span class='entity-name'>LeadSource</span>

Moxi Works Platform <span class='entity-name'>LeadSource</span> are the lead sources that may be used to generate leads in the MoxiWorks Platform API.

<%= partial "partials/public_api/api_usage/lead_source/index.md.erb" %>
