### <span class='entity-name'>Listing</span>

Moxi Works Platform <span class='entity-name'>Listing</span> entities represent a Brokerage's listings. 


<%= partial "partials/public_api/api_usage/listing/show.md.erb" %>

<%= partial "partials/public_api/api_usage/listing/index.md.erb" %>
