### <span class='entity-name'>Office</span>

Moxi Works Platform <span class='entity-name'>Office</span> entities represent brokerage offices.

<%= partial "partials/public_api/api_usage/office/show.md.erb" %>

<%= partial "partials/public_api/api_usage/office/index.md.erb" %>
