### <span class='entity-name'>PresentationLog</span>

Moxi Works Platform <span class='entity-name'>PresentationLog</span> entities provide metrics about Moxi Present. 


<%= partial "partials/public_api/api_usage/presentation_log/index.md.erb" %>
