### <span class='entity-name'>SoldListing</span>

MoxiWorks Platform <span class='entity-name'>SoldListing</span> entities represent a Brokerage's sold listings. 


<%= partial "partials/public_api/api_usage/sold_listing/show.md.erb" %>

<%= partial "partials/public_api/api_usage/sold_listing/index.md.erb" %>
