### <span class='entity-name'>Team</span>

Moxi Works Platform <span class='entity-name'>Team</span> entities represent brokerage teams.

<%= partial "partials/public_api/api_usage/team/show.md.erb" %>

<%= partial "partials/public_api/api_usage/team/index.md.erb" %>
