### <span class='entity-name'>WebUser</span>

Moxi Works Platform <span class='entity-name'>WebUser</span> entities represent online web users.

<%= partial "partials/public_api/api_usage/web_user/index.md.erb" %>
