#### <span class='entity-name'>SellerTransaction</span> <span class='action-name'>Index</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/SellerTransaction.html#find-class_method'>Ruby Search Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.SellerTransaction.html#method_find'>PHP Search Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_seller_transaction_service.html#a9a2074071fc53b32845ab13c5995577c'>.Net <span class='action-name'>SellerTransactionService.GetSellerTransactionsAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>SellerTransaction</span> <span class='action-name'>Index</span> (using <span class='attribute-name'>agent_uuid</span>) Example</span>

```json
{
  "agent_uuid":"12345678-1234-1234-1234-1234567890ab"
}


```

```http
GET /api/seller_transactions HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

agent_uuid=12345678-1234-1234-1234-1234567890ab

```


```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";


var agentUuid = "12345678-1234-1234-1234-1234567890ab";

var service = new SellerTransactionService(new MoxiWorksClient());
var results = service.GetSellerTransactionsAsync(agentUuid, AgentIdType.AgentUuid).Result;

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_transaction = MoxiworksPlatform::SellerTransaction.search(
      agent_uuid:"12345678-1234-1234-1234-1234567890ab"
      )

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_transaction = MoxiworksPlatform\SellerTransaction::search([
      "moxi_works_agent_id" => "agent_uuid"
       ]);
?>
```


> <span class="data-example-label"><span class='entity-name'>SellerTransaction</span> <span class='action-name'>Index</span> (using <span class='attribute-name'>moxi_works_agent_id</span>) Example</span>

```json
{
  "moxi_works_agent_id":"abc123"
}


```

```http
GET /api/seller_transactions HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

moxi_works_agent_id=abc123

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";


var moxiWorksAgentId = "abc123";

var service = new SellerTransactionService(new MoxiWorksClient());
var results = service.GetSellerTransactionsAsync( moxiWorksAgentId,  AgentIdType.MoxiWorksAgentId).Result;

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_transaction = MoxiworksPlatform::SellerTransaction.search(
      moxi_works_agent_id:"abc123"
      )

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_transaction = MoxiworksPlatform\SellerTransaction::search([
      "moxi_works_agent_id" => "abc123"
       ]);
?>
```


<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/seller_transactions</aside>

When searching for <span class='entity-name'>SellerTransaction</span> objects using the MoxiWorks platform API, format your data using the following parameters.

##### <span class='entity-name'>SellerTransaction</span> <span class='action-name'>Index</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="multi-option-required-data">agent_uuid*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">moxi_works_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">source_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="optional-data">moxi_works_contact_id †</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">partner_contact_id †</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">moxi_works_company_id</span>|<span class="data-type">String</span>|  |
|<span class="optional-data">parent_company_id</span>|<span class="data-type">String</span>| 255 |
|<span class="optional-data">page_number</span>|<span class="data-type">Integer</span>| 255 |
|<span class="optional-data">timestamps_only</span>|<span class="data-type">Boolean</span>| 255 |

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="multi-option-required-data"> † Either <span class='attribute-name'>moxi_works_contact_id</span> or <span class='attribute-name'>partner_contact_id</span> may be supplied, but not both.</span>

<span class="request-data-head multi-option-required-data"><span class='attribute-name'>moxi_works_agent_id</span> or <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>source_agent_id</span></span>
<span class="request-data-remarks">**One of these parameters must be supplied** Please reference [Agent Identifiers](#agent-identifiers) for information about how to construct your agent identifier request params.</span>

<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid MoxiWorks <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<span class="request-data-head">parent_company_id</span>
<span class="request-data-remarks">This is the <span class='attribute-name'>numeric_id</span> or <span class='attribute-name'>moxi_works_company_id</span> of a company that is considered to be a parent company in the MoxiWorks Platform. This request attribute has two functions:<br><br>	**1.** It provides for a broad scope by which partners may be afforded permissions to perform MoxiWorks Platform actions, in scenarios where a partner does business with a parent company in the MoxiWorks System.<br>	**2.** It provides broad scope under which agents may be looked up using the <span class='attribute-name'>source_agent_id</span> request attribute in many scenarios across different MoxiWorks Platform endpoints and actions.<br><br>	**Please note** that this attribute cannot be used as a replacement for the <span class='attribute-name'>moxi_works_company_id</span> request attribute in scenarios where the <span class='attribute-name'>moxi_works_company_id</span> request attribute is required by the action.<br><br>	**Please note** that this attribute cannot be used to broaden scope of any request where the scope of the request is defined by the <span class='attribute-name'>moxi_works_company_id</span> request attribute.<br><br>	**Please note** that when passed in conjunction with the <span class='attribute-name'>moxi_works_company_id</span> request attribute, the value of <span class='attribute-name'>moxi_works_company_id</span> request attribute must be the numeric id form.<br><br>	Any use of this request attribute must be coordinated with MoxiWorks Platform Partner services. Please reach out to partner services for more information.</span>

<span class="request-data-head">moxi_works_contact_id</span>
<span class="request-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Contact</span> for which you are searching associated <span class='entity-name'>SellerTransaction</span> objects. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID. You can use either <span class='attribute-name'>moxi_works_contact_id</span> or <span class='action-name'>partner_contact_id</span> when searching for <span class='entity-name'>SellerTransaction</span> objects associated with a specific <span class='entity-name'>Contact</span>.</span>


<span class="request-data-head">partner_contact_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> you want to find <span class='entity-name'>SellerTransaction</span> objects for. You can use either <span class='attribute-name'>moxi_works_contact_id</span> or <span class='attribute-name'>partner_contact_id</span> when searching for <span class='entity-name'>SellerTransaction</span> objects associated with a specific <span class='entity-name'>Contact</span>.</span>

<span class="request-data-head">page_number</span>
<span class="request-data-remarks">Page of <span class='entity-name'>SellerTransaction</span> records to return. Use if `total_pages` indicates that there is more than one page of data available.</span>

<span class="request-data-head">timestamps_only</span>
<span class="request-data-remarks">If supplied then the results will exclude all data except primary identifiers and a unix timestamp (last_updated) & iso8601 timestamp (modification_timestamp) of the last time this record was updated.</span>


<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>SellerTransaction</span> <span class='action-name'>Index</span> (using <span class='attribute-name'>agent_uuid</span>) Response Payload Example
</span></div></blockquote>

```json
{
  "page_number":1,
  "total_pages":5,
  "transactions":[
    {
      "agent_uuid":"12345678-1234-1234-1234-1234567890ab",
      "moxi_works_transaction_id": "facefeed-beef-daff-dead-cad4edd1e4d",
      "moxi_works_contact_id":"babebead-feed-face-dead-beefbad4babe",
      "partner_contact_id":"MySystemsContactIDForTheContactAssociatedWithThisSellerTransaction",
      "transaction_name":"Bob And Linda Tonkanaka",
      "notes":"take care to write notes that are descriptive and helpful",
      "stage": 2,
      "stage_name":"initialized",
      "address":"1234 memory lane",
      "city":"hereville",
      "state":"provinceland",
      "zip_code":"18292",
      "sqft":2345,
      "beds":12,
      "baths":34.5,
      "is_mls_transaction":true,
      "mls_number":"abc123",
      "commission_percentage":null,
      "commission_flat_fee":12345,
      "sales_volume_percentage":null,
      "sales_volume_flat_fee":null,
      "target_price":null,
      "min_price":292929,
      "max_price":2323223,
      "closing_price":null,
      "closing_timestamp":null,
      "start_timestamp":null
    }
  ]
}
```


<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>SellerTransaction</span> <span class='action-name'>Index</span> (using <span class='attribute-name'>moxi_works_agent_id</span>) Response Payload Example
</span></div></blockquote>

```json
{
  "page_number":1,
  "total_pages":5,
  "transactions":[
    {
      "moxi_works_agent_id":"abc123",
      "moxi_works_transaction_id": "facefeed-beef-daff-dead-cad4edd1e4d",
      "moxi_works_contact_id":"babebead-feed-face-dead-beefbad4babe",
      "partner_contact_id":"MySystemsContactIDForTheContactAssociatedWithThisSellerTransaction",
      "transaction_name":"Bob And Linda Tonkanaka",
      "notes":"take care to write notes that are descriptive and helpful",
      "stage": 2,
      "stage_name":"initialized",
      "address":"1234 memory lane",
      "city":"hereville",
      "state":"provinceland",
      "zip_code":"18292",
      "sqft":2345,
      "beds":12,
      "baths":34.5,
      "is_mls_transaction":true,
      "mls_number":"abc123",
      "commission_percentage":null,
      "commission_flat_fee":12345,
      "sales_volume_percentage":null,
      "sales_volume_flat_fee":null,
      "target_price":null,
      "min_price":292929,
      "max_price":2323223,
      "closing_price":null,
      "closing_timestamp":null,
      "start_timestamp":null
    }
  ]
}
```

<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>SellerTransaction</span> <span class='action-name'>Index</span> Failure Response Example
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json
{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```



##### <span class='entity-name'>SellerTransaction</span> <span class='action-name'>Index</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>SellerTransaction</span> response for a <span class='action-name'>Index</span> request.



Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">page_number</span>|<span class="response-data"><span class="data-type">Integer</span></span>|
|<span class="response-data">total_pages</span>|<span class="response-data"><span class="data-type">Integer</span></span>|
|<span class="response-data">transactions</span>|<span class="response-data"><span class="data-type">Array</span></span>|


<span class="request-data-head">page_number</span>
<span class="request-data-remarks">If there is more than one page of <span class='entity-name'>SellerTransaction</span> objects to return, <span class='attribute-name'>page_number</span> will denote which page of responses has been returned. If this is less than the value of <span class='attribute-name'>total_pages</span>, there are more pages that can be returned by including the <span class='attribute-name'>page_number</span> parameter in your API request.</span>

<span class="request-data-head">total_pages</span>
<span class="request-data-remarks">If there is more than one page of <span class='entity-name'>SellerTransaction</span> objects to return, <span class='attribute-name'>total_pages</span> will denote how many pages of <span class='entity-name'>SellerTransaction</span> objects there are to be returned fo the current query. Subsequent pages can be returned by including the <span class='attribute-name'>page_number</span> parameter in your API request.</span>


<span class="request-data-head">transactions</span>
<span class="request-data-remarks">This array contains the payload from the request query. Any found <span class='entity-name'>SellerTransaction</span> objects matching the query will be returned as <span class='entity-name'>SellerTransaction</span> objects in the response. </span>

###### <span class='attribute-name'>transactions</span> <span class='entity-name'>SellerTransaction</span> Objects


Attribute | Type |
-----|-----|-----|-----|
|<span class="multi-option-response-data">agent_uuid*</span>|<span class="data-type">String</span>| |
|<span class="multi-option-response-data">moxi_works_agent_id*</span>|<span class="data-type">String</span>| |
|<span class="response-data">moxi_works_transaction_id</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">moxi_works_contact_id</span>|<span class="response-data"><span class="data-type">String</span></span>|
|<span class="response-data">partner_contact_id</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">transaction_name</span>|<span class="data-type">String or null</span>|
|<span class="response-data">notes</span>|<span class="data-type">String or null</span>|
|<span class="response-data">stage</span>|<span class="data-type">Integer</span>|
|<span class="response-data">stage_name</span>|<span class="data-type">String</span>|
|<span class="response-data">address</span>|<span class="data-type">String or null</span>|
|<span class="response-data">city</span>|<span class="data-type">String or null</span>|
|<span class="response-data">state</span>|<span class="data-type">String or null</span>|
|<span class="response-data">zip_code</span>|<span class="data-type">String or null</span>|
|<span class="response-data">sqft</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">beds</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">baths</span>|<span class="data-type">Float or null</span>|
|<span class="response-data">is_mls_transaction</span>|<span class="data-type">Boolean</span>|
|<span class="response-data">mls_number</span>|<span class="data-type">String or null</span>|
|<span class="response-data">start_timestamp</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">commission_percentage</span>|<span class="data-type">Float or null</span>|
|<span class="response-data">commission_flat_fee</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">sales_volume_percentage</span>|<span class="data-type">Float or null</span>|
|<span class="response-data">sales_volume_flat_fee</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">target_price</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">min_price</span>|<span class="data-type">String or null</span>|
|<span class="response-data">max_price</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">closing_price</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">closing_timestamp</span>|<span class="data-type">Integer or null</span>|
|<span class="response-data">state_changed_at</span>|<span class="data-type">Integer or null</span>|

<span class='multi-option-response-data'>* Either <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> will be returned depending on whether it is used in the request. The response payload object's agent identifier key will match the passed parameter.</span>

<span class="response-data-head">agent_uuid</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Agent</span> which this <span class='entity-name'>SellerTransaction</span>  is associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>


<span class="response-data-head">moxi_works_agent_id</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>Agent</span> which this <span class='entity-name'>SellerTransaction</span> is associated with. This will be a string that may take the form of an email address, or a unique alphanumeric identification string.</span>

<span class="response-data-head">moxi_works_transaction_id</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the <span class='entity-name'>SellerTransaction</span>. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">moxi_works_contact_id</span>
<span class="response-data-remarks">This is the MoxiWorks Platform ID of the  <span class='entity-name'>Contact</span> which this <span class='entity-name'>SellerTransaction</span> has been associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">partner_contact_id</span>
<span class="response-data-remarks">If the <span class='entity-name'>Contact</span> was created by your sytem in the MoxiWorks Platform, then this is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that you are updating this <span class='entity-name'>SellerTransaction</span> for. If the <span class='entity-name'>Contact</span> was not created by you, then <span class='attribute-name'>partner_contact_id</span> will be empty.</span>



<span class="response-data-head">transaction_name</span>
<span class="response-data-remarks">A brief, human readable title that is shown to the agent as the subject of the <span class='entity-name'>SellerTransaction</span>.</span>


<span class="response-data-head">notes</span>
<span class="response-data-remarks">Brief, human readable content that is shown to the agent as notes about the <span class='entity-name'>SellerTransaction</span>. Use this attribute to store and display data to the agent that is not otherwise explicitly available via attributes for the entity.</span>


<span class="response-data-head">stage</span>
<span class="response-data-remarks">Each <span class='entity-name'>SellerTransaction</span> has five stages (1-5). <span class='attribute-name'>stage</span> displays the stage number that the <span class='entity-name'>SellerTransaction</span> is currently in. For more information about <span class='entity-name'>SellerTransaction</span> stages, see <a href='#sellertransaction-stages'>SellerTransaction Stages</a>.</span>

<span class="response-data-head">stage_name</span>
<span class="response-data-remarks">This attribute displays a human readable stage name that is associated with the current <span class='attribute-name'>stage</span> attribute.  For more information about <span class='entity-name'>SellerTransaction</span> stages, see <a href='#sellertransaction-stages'>SellerTransaction Stages</a>.</span>


<span class="response-data-head">address</span>
<span class="response-data-remarks">The street address for the property being sold.  This should be `null` if the <span class='entity-name'>SellerTransaction</span> is an MLS sale.</span>

<span class="response-data-head">city</span>
<span class="response-data-remarks">The city or township of the property being sold.  This should be `null` if the <span class='entity-name'>SellerTransaction</span> is an MLS sale.</span>

<span class="response-data-head">state</span>
<span class="response-data-remarks">The state or province of the property being sold.  This should be `null` if the <span class='entity-name'>SellerTransaction</span> is an MLS sale.</span>

<span class="response-data-head">zip_code</span>
<span class="response-data-remarks">The postal code of the property being sold.  This should be `null` if the <span class='entity-name'>SellerTransaction</span> is an MLS sale.</span>

<aside class="note">Address attributes <span class='attribute-name'>address</span>, <span class='attribute-name'>city</span>, <span class='attribute-name'>state</span> or <span class='attribute-name'>zip_code</span> should be populated only if <span class='attribute-name'>is_mls_transaction</span> is not <tt>true</tt>.</aside>

<span class="response-data-head">sqft</span>
<span class="response-data-remarks">The living area of the property being sold.</span>

<span class="response-data-head">beds</span>
<span class="response-data-remarks">The number of bedroom in the property being sold.</span>

<span class="response-data-head">baths</span>
<span class="response-data-remarks">The number of bathrooms in the property being sold.</span>

<span class="response-data-head">is_mls_transaction</span>
<span class="response-data-remarks">Whether the property being sold is being listed on an MLS.</span>

<span class="response-data-head">mls_number</span>
<span class="response-data-remarks">If this is an MLS sale, then this is the MLS number for the <span class='entity-name'>SellerTransaction</span>.</span>

<span class="response-data-head">start_timestamp</span>
<span class="response-data-remarks">For non-MLS transactions, this is the Unix timestamp representing the date that the agent initiated transaction discussions with the client. This should be `null` if the <span class='entity-name'>SellerTransaction</span> is an MLS sale.</span>

<span class="response-data-head">commission_percentage</span>
<span class="response-data-remarks">If the agent is to receive commission based on percentage of purchase price for the transaction associated with this <span class='entity-name'>SellerTransaction</span>, then this will represent the commission that the agent is to receive.This should be `null` if the <span class='entity-name'>SellerTransaction</span> uses <span class='attribute-name'>commission_flat_fee</span> or <span class='attribute-name'>sales_volume_flat_fee</span> or <span class='attribute-name'>sales_volume_commission</span>.</span>


<span class="response-data-head">commission_flat_fee</span>
<span class="response-data-remarks">If the agent is to receive a flat-rate commission for the transaction associated with this <span class='entity-name'>SellerTransaction</span>, then this will represent the commission that the agent is to receive. This should be `null` if the <span class='entity-name'>SellerTransaction</span> uses <span class='attribute-name'>commission_percentage</span> or <span class='attribute-name'>sales_volume_flat_fee</span> or <span class='attribute-name'>sales_volume_percentage</span>.</span>


<span class="response-data-head">sales_volume_percentage</span>
<span class="response-data-remarks">If the agent is to receive compensation based on percentage of sales volume, then this will represent the percentage that the agent is to receive.This should be `null` if the <span class='entity-name'>SellerTransaction</span> uses <span class='attribute-name'>commission_flat_fee</span> or <span class='attribute-name'>sales_volume_flat_fee</span> or <span class='attribute-name'>commission_percentage</span>.</span>


<span class="response-data-head">sales_volume_flat_fee</span>
<span class="response-data-remarks">If the agent is to receive a flat-rate compensation based on sales volume, then this will represent the compensation that the agent is to receive. This should be `null` if the <span class='entity-name'>SellerTransaction</span> uses <span class='attribute-name'>commission_percentage</span> or <span class='attribute-name'>commission_flat_fee</span> or <span class='attribute-name'>sales_volume_commission</span>.</span>


<span class="response-data-head">target_price</span>
<span class="response-data-remarks">The desired selling price for the property if using target rather than range.</span>

<span class="response-data-head">min_price</span>
<span class="response-data-remarks">The minimum price range for the property if using a price range rather than target price.</span>

<span class="response-data-head">max_price</span>
<span class="response-data-remarks">The maximum price range for the property if using a price range rather than target price.</span>


<span class="response-data-head">closing_price</span>
<span class="response-data-remarks">This is the closing price for the sale . This should be `null` if the <span class='entity-name'>SellerTransaction</span> is not yet in `complete` state.</span>


<span class="response-data-head">closing_timestamp</span>
<span class="response-data-remarks">A Unix timestamp representing the point in time when the transaction for this <span class='entity-name'>SellerTransaction</span> object was completed. This should be `null` if the <span class='entity-name'>SellerTransaction</span> is not yet in `complete` state.</span>

<span class="response-data-head">state_changed_at</span>
<span class="response-data-remarks">A Unix timestamp representing the point in time when the transaction for this <span class='entity-name'>SellerTransaction</span> object entered into its current state.</span>
