---
title: MoxiWorks Authentication Reference

language_tabs:
  - json: JSON
  - csharp: .Net
  - ruby: Ruby
  - php: PHP
  - http: HTTP

toc_previous:
  - <a href='index.html'>Welcome</a>
  - <a href='api.html'>MoxiCloud API</a>

toc_current:
  - <a href='authentication.html'>Authentication Reference</a>

toc_after:
- <a href='realtime_stream.html'>Realtime Stream Reference</a>


toc_footers:
  - <a href='http://moxiworks.com'>MoxiWorks!</a>

includes:

search: true
---

<%= partial 'partials/oauth_authentication.md.erb' %>
