---
title: MoxiWorks Platform Reference

language_tabs:
  - json: JSON
  - csharp: .Net
  - ruby: Ruby
  - php: PHP
  - http: HTTP

toc_previous:

toc_current:
- <a href='index.html'>Welcome</a>

toc_after:
- <a href='api.html'>MoxiCloud API Reference</a>
- <a href='authentication.html'>Authentication Reference</a>
- <a href='realtime_stream.html'>Realtime Stream Reference</a>

toc_footers:
  - <a href='http://moxiworks.com'>MoxiWorks!</a>

includes:

search: true
---

<%= partial 'partials/getting_started.md.erb' %>

