---
title: Moxi Works Platform Reference

language_tabs:
  - json: JSON
  - csharp: .Net
  - ruby: Ruby
  - php: PHP
  - http: HTTP

toc_footers:
  - <a href='http://moxiworks.com'>Moxi Works!</a>

includes:

search: true
---
<%= partial 'partials/getting_started.md.erb' %>

<%= partial 'partials/public_api.md.erb' %>

<%= partial 'partials/oauth_authentication.md.erb' %>
