## Setting Up For Updates 

### Setup Using An AWS SNS Topic

The MoxiWorks Platform Realtime Stream currently offers updates using Amazon's **Simple Notification Service** (SNS). If you are interested in receiving **MoxiWorks Realtime Stream Updates** using a different method, please email <a href="mailto:partners@moxiworks.com">partners@moxiworks.com</a>.

#### SNS: Configuring For MoxiWorks Platform Realtime Stream Updates
In this section getting your Realtime Stream set up using SNS is covered. Use this to get your incoming **MoxiWorks Realtime Stream Updates** started. Once you've set up your SNS feed to receive updates from the **MoxiWorks Realtime Stream** you can then configure handling of those messages to best serve your needs. You might configure **MoxiWorks Realtime Stream Updates** to be sent to your servers or to go to an SQS queue -- ensuring you never miss an update. Combining MoxiWorks Realtime Stream Updates with Amazon SNS gives you the flexibility to handle incoming data any way that you need.

##### Creating an SNS Topic for Realtime Stream Updates

<aside class="warning">Your SNS topic must be created in the us-west-2 region.</aside>


##### Overview
To receive MoxiWorks Platform Realtime Stream Updates via SNS, first you'll need to create an SNS topic in your AWS Console and give permissions to MoxiWorks to publish to that SNS topic. This section goes over setting up your SNS Topic. Later, we'll go into getting data from your SNS Topic to your server.

> **Topic Region**: us-west-2

> **Production MoxiWorks AWS User**:  arn:aws:iam::619293852110:user/pubsub-pr

> **QA MoxiWorks AWS User**:  arn:aws:iam::619293852110:user/pubsub-qa

##### Quickstart
If you're familiar with setting up an SNS topic and giving permissions to a specific user for publishing to that topic, all you'll need to do is:

1) Give publishing permissions for your topic to the MoxiWorks Platform Stream User in AWS. The platform stream user ID is shown to the right for QA and production environments.

2)  Set up a subscription to receive incoming messages from that topic (HTTPS endpoint, SQS, etc.)

3) Please email <a href="mailto:partners@moxiworks.com">partners@moxiworks.com</a> and let us know what the SNS topic ARN is and whether the topic is for QA or production updates.



##### SNS Configuration Procedure

If you need a little more help getting the SNS topic and subscription set up, we've created an instructional procedure that you can follow. 

<aside class="note">Please note that although we will do our best to help support you through the process of setting up your MoxiWorks Platform Realtime Stream, we can not provide support for AWS based issues. </aside>

To set up MoxiWorks Platform Realtime Stream SNS Topic using the AWS SNS Console use the following procedure. 


<span style="margin-left: -12px;">1) From your web browser, go to the Amazon SNS console at [console.aws.amazon.com](https://console.aws.amazon.com/sns/v3/home#/topics), to open the **Amazon SNS Topics** dashboard.</span>
<div style="margin:60px">&nbsp;</div>

<aside class="warning">Your SNS topic must be created in the us-west-2 region.</aside>

<span style="margin-left: -12px;">2) On the **Amazon SNS Topics** dashboard, click the **Create topic** button.</span>

<img src="images/create_topic_button.png" alt="AWS Create Topic Button" />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">3) From the **Details** section of the **Create topic** interface, set the name of the topic. 
We recommend you utilize something that makes it clear that this is your **MoxiWorks Platform Realtime Stream**.</span>

<img src="images/set_topic_name.png" alt="AWS Create Topic Set Name" />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">4) Click on the disclosure triangle to open the **Access Policy** section of the **Create topic** interface.</span>

<img src="images/access_policy.png" alt="AWS Console Create topic Access Policy Section" />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">5) Ensure **Basic** method is selected.</span>

<img src="images/choose_method.png" alt="AWS Console Create topic Access Policy Choices" />
<div style="margin:60px">&nbsp;</div>


<span style="margin-top: 45px;margin-bottom:8px;margin-left: -12px;">6) Under the **Define who can publish messages to the topic** section, click the **Only the specified AWS accounts** radio button.</span>

<img src="images/define_who_can_publish.png" alt="AWS Console SNS Define Who Can Publish Choices"  />
<div style="margin:60px">&nbsp;</div>

> **MoxiWorks Platform Realtime Stream AWS Account ID**:  619293852110

<span style="margin-left: -12px;">7) In the text area that appears, paste the MoxiWorks Platform Realtime Stream AWS Account ID: 
**619293852110**</span>

<img src="images/only_specified_aws_accounts.png" alt="AWS Console SNS Define Who Can Publish Only Specified Account" />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">8) Click the **Create topic** button to set up the topic. </span>

<img src="images/create_topic.png" alt="AWS Console Create topic Button" />
<div style="margin:60px">&nbsp;</div>


<aside class="note">Each environment for the MoxiWorks Platform Realtime Stream has its own dedicated AWS IAM user. The rest of the procedure will be updating the topic we just created to allow access to the specific per-environment user. Since the basic UI doesn't allow us the ability to grant specific users access, we going to need to refine the user access which is done via the JSON editor. </aside>

<span style="margin-left: -12px;">9) In the details view for the SNS topic we just created in steps 1-8, click the **Edit** button.</span>

<img src="images/edit_config.png" alt="AWS Console SNS Topic Details" />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">10) Click on the disclosure triangle to open the **Access Policy** section of the **Create topic** interface.</span>

<img src="images/access_policy.png" alt=fugb"AWS Console Edit topic Access Policy Section"ug />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">11) Locate the line that gives permission to **arn:aws:iam::619293852110:root**</span>

<img src="images/access_policy_with_root_user.png" alt="AWS Console Edit topic Access Policy JSON Editor" />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">12) Change <strike>!arn:aws:iam::619293852110:root</strike> to **arn:aws:iam::619293852110:user/pubsub-pr**

<img src="images/access_policy_updated.png" alt="Updated AWS Console Edit topic Access Policy JSON Editor" />
<div style="margin:60px">&nbsp;</div>


<span style="margin-left: -12px;">13) Click the Save changes button</span>

<img src="images/save_changes_button.png" alt="AWS Console Edit topic Save Changes Button" />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">14) **Let your MoxiWorks Platform Partner Services Representative know what the SNS topic ARN is and whether it is for QA or production updates.**</span>

<img src="images/ARN_example.png" alt="AWS Console ARN Example Location"  />

<div style="margin:30px">&nbsp;</div>

Once you've completed this procedure, your Topic should now be ready to receive MoxiWorks Platform Realtime Stream Updates.

<aside class="note">This procedure will ensure that your SNS topic gets Moxiworks Platform Realtime Stream Updates, but you'll still need to set up a place for SNS to send mesages to. That could be an SQS queue that you pull from as you have capacity, or it could be a direct feed to your own servers.</aside>


#### SNS: Receiving Updates
In this section, we'll look at getting MoxiWorks Platform Realitime Stream Updates to your server; however, this is only one way that you might get data from SNS to your systems. You can investigate all the ways that you can integrate an SNS feed into your systems architecture via AWS help.

##### Configuring an SNS Topic To Send Updates To An Endpoint via HTTP or HTTPS

##### Overview
To receive MoxiWorks Platform Realtime Stream Updates from SNS, you'll need to configure your SNS topic in your AWS Console to forward requests to your server. This section goes over setting up your SNS Topic to pass messages directly to your SNS enabled endpoint.


##### Quickstart
If you're familiar with setting up SNS endpoints for data consumption, then all you'll need to do is:
1) Set up your SNS endpoint on your server.

2) Configure your SNS Topic to point to your server.


##### SNS Configuration Procedure
If you need help in configuring your SNS Topic to deliver messages to your SNS enabled endpoint, we've created this instructional procedure to help you.

<aside class="note"> You'll need to set up and configure your endpoint to receive SNS notifications; however, setting up your SNS enabled endpoint is beyond the scope of this document. In this section, we only discuss configuration of SNS services via the AWS console. </aside>

To set up your endpoint to receive MoxiWorks Platform Realtime Stream Updates via your SNS Topic, use the following procedure. 


<span style="margin-left: -12px;">1) From your web browser, go to the Amazon SNS console at [console.aws.amazon.com](https://console.aws.amazon.com/sns/v3/home#/topics), to open the **Amazon SNS Topics** dashboard.</span>
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">2) On the **Amazon SNS Topics** dashboard, click the SNS topic that is set up to receive messages.</span>

<img src="images/select_topic.png" alt="AWS Console Edit topic" />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">3) From the SNS Topic's details page, click the **Create subscription** button.</span>

<img src="images/create_subscription.png" alt="AWS Console SNS Topic Details" />
<div style="margin:10px">&nbsp;</div>

<span>This will open the **Create subscription** interface.</span>

<div style="margin:60px">&nbsp;</div>
<span style="margin-left: -12px;">4) From the **Details section**, click the **Protocol** dropdown menu.</span>

<img src="images/subscription_protocol_dropdown.png" alt="AWS Console SNS Topic Subscription Protocol Dropwdown"  />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">5) Select the appropriate protocol for your incoming SNS messages.</span>

<img src="images/protocol_selections.png" alt="AWS Console SNS Topic Subscription Protocol Dropwdown Selections" />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">6) If using **HTTP** or **HTTPS** as your protocol, set the URL of the endpoint which you expect to receive messages.</span>

<img src="images/http_endpoint_textfield.png" alt="AWS Console SNS Topic Subscription Endpoint Textfield" />
<div style="margin:60px">&nbsp;</div>

<span style="margin-left: -12px;">7) Click the **Create subscription** button to create the subscription. </span>

<img src="images/create_subscription_button.png" alt="AWS Console SNS Topic Subscription Create Button"/>
<div style="margin:60px">&nbsp;</div>


