## Update Types

The MoxiWorks Platform Realtime Stream currently provides updates for the following endpoints:<br/><br/>
<span class='entity-name'>Agent <a href="/api.html#agent">(Payload documentation)</a></span><br/>
<span class='entity-name'>Contact <a href="/api.html#contact">(Payload documentation)</a></span><br/>
<span class='entity-name'>Listing <a href="/api.html#listing">(Payload documentation)</a></span>
<br/><i style="background-color:#ffff66;padding:5px">  * Listing data will be sent in snake_case instead of UpperCamelCase (the default for listings in MoxiCloudAPI)</i><br/>
<span class='entity-name'>Office <a href="/api.html#office">(Payload documentation)</a></span><br/><br/>


Please check back soon for additional supported endpoints.
