## Welcome

Welcome to the MoxiCloud Realtime Stream documentation. MoxiWorks Platform Realtime Stream Updates give you instant updates of MoxiCloud data. Once 
you have set up your integration, you will receive updates instantly as they are made in the MoxiCloud, giving you the ability to better serve your customers.  

In this section of the MoxiCloud Docs you'll find documentation about integrating with the MoxiWorks Realtime Update (PubSub) notifications.  

##Getting Started
Why choose MoxiWorks Platform Realtime Stream updates?

The following are reasons you might want to utilize MoxiWorks Realtime Stream updates:

<span style="margin-left: -12px;">1) **Instant Updates**</span>
<span>you get the data in your system as soon as a new listing/contact gets processed by our system. you have first access to new leads, new listings and new data because you're not waiting for system synchronization -- it's always synchronized. This opens up a whole new range of product possibilities, giving you the ability to enhance your own product offerings and provide even better service to your clients.</span>
<div style="margin:20px">&nbsp;</div>
 
<span style="margin-left: -12px;">2) **Reduce Costs**</span>
Instead of bogging down systems while synchronizing data for thousands of records at once, your updates are inherently distributed, ensuring that your systems are always responsive and ready to meet your primary business needs.
<div style="margin:20px">&nbsp;</div>

<span style="margin-left: -12px;">3) **More Control**</span>
By piping your SNS feed to SQS or to your own internal queueing mechanism allows you the ability to process incoming changes at whatever rate you want. You and your systems control how much data you import at any given time and ensure that rate never causes resource contention issues.
<div style="margin:20px">&nbsp;</div>

This documentation is intended to help you get you set up your MoxiWorks Platform Realtime Update Stream. 

### Getting Help
During your integration process with MoxiCloud Realtime Stream, your MoxiWorks Platform representative will work with you on getting your Realtime Stream Updates working. If you have any questions about getting set up, please email <a href="mailto:partners@moxiworks.com">partners@moxiworks.com</a>.


    