#### <span class='entity-name'>Gallery</span> <span class='action-name'>Show</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/Gallery.html#find-class_method'>Ruby Find Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.Gallery.html#method_find'>PHP Find Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>Gallery</span> <span class='action-name'>Show</span> (using <span class='attribute-name'>agent_uuid</span>) Example</span>

```json
{
  "moxi_works_company_id":"abc123",
  "agent_uuid":"12345678-1234-1234-1234-1234567890ab"  
}
```

```http
GET /api/galleries/[agent_uuid]?moxi_works_company_id=[moxi_works_company_id] HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_gallery = MoxiworksPlatform::Gallery.find(
        agent_uuid: "12345678-1234-1234-1234-1234567890ab",
        moxi_works_company_id: "abc123")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_gallery = MoxiworksPlatform\Gallery::find([
        'agent_uuid' => '12345678-1234-1234-1234-1234567890ab',
        'moxi_works_company_id' => 'foo']);
?>
```



> <span class="data-example-label"><span class='entity-name'>Gallery</span> <span class='action-name'>Show</span> (using <span class='attribute-name'>moxi_works_agent_id</span>) Example</span>

```json
{
  "moxi_works_company_id":"abc123",
  "moxi_works_agent_id":"abc1234"
}
```

```http
GET /api/galleries/[moxi_works_agent_id]?moxi_works_company_id=abc123 HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded

```


```ruby
##### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_gallery = MoxiworksPlatform::Gallery.find(
        moxi_works_agent_id: "1234abcd",
        moxi_works_company_id: "foo")

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_gallery = MoxiworksPlatform\Gallery::find([
        'moxi_works_agent_id' => '1234abcd',
        'moxi_works_company_id' => 'foo']);
?>
```


<aside class="note">Send a <b>GET</b> request to https://api.moxiworks.com/api/galleries/[agent_identifier]</aside>

##### <span class='entity-name'>Gallery</span> <span class='action-name'>Show</span> Request Attributes


Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="multi-option-required-data">agent_uuid*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">moxi_works_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="required-data">moxi_works_company_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span>




<span class="multi-option-required-data">* **Either <span class='attribute-name'>moxi_works_agent_id</span> or <span class='attribute-name'>agent_uuid</span> must be supplied. For guidance on which Agent identifier better fits your use-case, see [Agent Identifiers](#agent-identifiers)**</span>


<span class="required-data">**Required Parameters Are In Red**</span>


<span class="request-data-head">agent_uuid</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which an  <span class='entity-name'>gallery</span> entry is associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID. <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>gallery</span> <span class='action-name'>Show</span> request to be accepted.</span>



<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Agent</span> which you are searching for associated <span class='entity-name'>gallery</span> objects. This will be a string that may take the form of an email address, or a unique identification string. This data is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>gallery</span> <span class='action-name'>Index</span>  request to be accepted.</span>

<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid Moxi Works <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>




<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>Gallery</span> <span class='action-name'>Show</span> Response Payload Example
</span></div></blockquote>


```json
{
    "galleries": [
        {
            "ListingID": "233606",
            "ListOfficeAOR": "PSM",
            "ListingImages": [
                {
            "FullURL": "http://media.moxiworks.com/img/0_3_full.jpg",
            "GalleryURL": "http://media.moxiworks.com/img/0_3_gallery.jpg",
            "RawURL": "http://media.moxiworks.com/img/0_3_raw.jpg",
            "SmallURL": "http://media.moxiworks.com/img/0_3_small.jpg",
            "ThumbURL": "http://media.moxiworks.com/img/0_3_thumb.jpg",
            "EmbededHTMLContent": "",
            "Title": "Image Title",
            "IsMainListingImage": true,
            "Caption": "LIVING / DINING ROOM",
            "Description": "This image sure shows something special!",
            "Width": 3456,
            "Height": 2303,
            "MimeType": "image/jpeg"
        }
    ]
}
```



<blockquote><div class='highlight json' style="display: block">
  <span class='data-example-label'><span class='entity-name'>Gallery</span> <span class='action-name'>Show</span> Failure Response
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>


```json

{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```


##### <span class='entity-name'>Gallery</span> <span class='action-name'>Show</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>Gallery</span> response for a <span class='action-name'>Show</span> request.


Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">ListingID</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">ListOfficeAOR</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">ListingImages</span>|<span class="data-type">Array</span>|


<span class="response-data-head">ListingID</span>
<span class="response-data-remarks">The MLS number for the listing.</span>


<span class="response-data-head">ListOfficeAOR</span>
<span class="response-data-remarks">The name of the MLS which this listing is listed with.</span>


<span class="response-data-head">ListingImages</span>
<span class="response-data-remarks">Any images in the gallery.</span>


###### <span class='attribute-name'>ListingImages</span> Objects

Each object in the <span class='attribute-name'>ListingImages</span> array will have the following structure.

Attribute | Type |
-----|-----|-----|-----|
|<span class="response-data">ThumbURL</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">SmallURL</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">FullURL</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">GalleryURL</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">RawURL</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">Title</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">IsMainListingImage</span>|<span class="response-data"><span class="data-type">Boolean</span>
|<span class="response-data">Caption</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">Description</span>|<span class="response-data"><span class="data-type">String or null</span>
|<span class="response-data">Width</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">Height</span>|<span class="response-data"><span class="data-type">Integer or null</span>
|<span class="response-data">MimeType</span>|<span class="response-data"><span class="data-type">String</span>
|<span class="response-data">EmbededHTMLContent</span>|<span class="response-data"><span class="data-type">String</span>




<span class="response-data-head">ThumbURL</span>
<span class="response-data-remarks">This is a valid URL that can be used for `img src` to a thumbnail sized representation of the image. This is the smallest size image returned in each object in the <span class='attribute-name'>ListingImages</span> array.</span>

<span class="response-data-head">SmallURL</span>
<span class="response-data-remarks">This is a valid URL that can be used for `img src` to a small sized representation of the image. This is the small size image returned in each object in the <span class='attribute-name'>ListingImages</span> array.</span>

<span class="response-data-head">FullURL</span>
<span class="response-data-remarks">This is a valid URL that can be used for `img src` to a medium sized representation of the image. This is the medium size image returned in each object in the <span class='attribute-name'>ListingImages</span> array.</span>

<span class="response-data-head">GalleryURL</span>
<span class="response-data-remarks">This is a valid URL that can be used for `img src` to a large sized representation of the image. This is the large size image returned in each object in the <span class='attribute-name'>ListingImages</span> array.</span>

<span class="response-data-head">RawURL</span>
<span class="response-data-remarks">This is a valid URL to the raw image as uploaded. This is the largest size image returned in each object in the <span class='attribute-name'>ListingImages</span> array. Due to variation in size, this image should not be considered for use when displaying images rendered in a browser.</span>

<span class="response-data-head">Title</span>
<span class="response-data-remarks">Human readable title of image.</span>

<span class="response-data-head">IsMainListingImage</span>
<span class="response-data-remarks">Whether this image is considered the primary image for the listing.</span>

<span class="response-data-head">Caption</span>
<span class="response-data-remarks">Human readable caption for the image.</span>

<span class="response-data-head">Description</span>
<span class="response-data-remarks">Human readable description of image.</span>

<span class="response-data-head">Width</span>
<span class="response-data-remarks">Width of the raw image.</span>

<span class="response-data-head">Height</span>
<span class="response-data-remarks">Height of the raw image.</span>

<span class="response-data-head">MimeType</span>
<span class="response-data-remarks">MIME or media type of the image.</span>

<span class="response-data-head">EmbededHTMLContent</span>
<span class="response-data-remarks">Embedded HTML that can be placed into a webpage -- this will be used for embedded movies.</span>

  
    
  