#### <span class='entity-name'>ActionLog</span> <span class='action-name'>Create</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/ActionLog.html#create-class_method'>Ruby <span class='action-name'>Create</span> Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.ActionLog.html#method_create'>PHP <span class='action-name'>Create</span> Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_action_log_service.html#aacf0242063ee7000877c44d02134bd39'>.Net <span class='action-name'>ActionLogService.CreateActionLogAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>ActionLog </span><span class='action-name'>Create</span> (using <span class='attribute-name'>agent_uuid</span>) Request Example</span>


```json
{
  "agent_uuid":"12345678-1234-1234-1234-1234567890ab",
  "partner_contact_id":"mySystemsContactId",
  "title":"Contact Called",
  "body":"this contact called you"
}

```

```http
POST /api/action_logs HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded


agent_uuid=12345678-1234-1234-1234-1234567890ab&partner_contact_id=mySystemsContactId&title=Contact%20Called&body=this%20contact%20called%20you

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";


var actionLog = new ActionLog;
actionLog.AgentUuid = "12345678-1234-1234-1234-1234567890ab";
actionLog.Title = "Contact Called";
actionLog.Body = "this contact called you";
actionLog.PartnerContactId = "mySystemsContactId";

var service = new ActionLogService(new MoxiWorksClient());
var result = service.CreateActionLogAsync(actionLog: actionLog).Result;

```

```ruby
###### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_action_log = MoxiworksPlatform::ActionLog.create(
        agent_uuid: "12345678-1234-1234-1234-1234567890ab",
        partner_contact_id: "mySystemsContactId",
        title: "Contact Called",
        body: "this contact called you"
        )

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_action_log = MoxiworksPlatform\ActionLog::create([
        'agent_uuid' => '12345678-1234-1234-1234-1234567890ab',
        'partner_contact_id' => 'mySystemsContactId',
        'title' => 'Contact Called',
        'body' => 'this contact called you']);
?>

```


> <span class="data-example-label"><span class='entity-name'>ActionLog </span><span class='action-name'>Create</span> (using <span class='attribute-name'>moxi_works_agent_id</span>) Request Example</span>

```json
{
  "moxi_works_agent_id":"abc123",
  "partner_contact_id":"mySystemsContactId",
  "title":"Contact Called",
  "body":"this contact called you"
}

```

```http
POST /api/action_logs HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded


moxi_works_agent_id=abc123&partner_contact_id=mySystemsContactId&title=Contact%20Called&body=this%20contact%20called%20you

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";


var actionLog = ActionLog.new();
actionLog.MoxiWorksAgentId = "abc123";
actionLog.Title = "Contact Called";
actionLog.Body = "this contact called you";
actionLog.PartnerContactId = "mySystemsContactId";

var service = new ActionLogService(new MoxiWorksClient());
var result = service.CreateActionLogAsync(actionLog: actionLog).Result;

```

```ruby
###### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_action_log = MoxiworksPlatform::ActionLog.create(
        moxi_works_agent_id: "1234abcd",
        partner_contact_id: "mySystemsContactId",
        title: "Contact Called",
        body: "this contact called you"
        )

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by Moxi Works Platform Rep
$platform_secret = 'secret'; //platform_secret provided by Moxi Works Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_action_log = MoxiworksPlatform\ActionLog::create([
        'moxi_works_agent_id' => '1234abcd',
        'partner_contact_id' => 'mySystemsContactId',
        'title' => 'Contact Called',
        'body' => 'this contact called you']);
?>

```


<aside class="note">Send a <b>POST</b> request to https://api.moxiworks.com/api/action_logs</aside>

When creating an <span class='entity-name'>ActionLog</span> using the Moxi Works platform API, format your request using the following parameters.


##### <span class='entity-name'>ActionLog</span> <span class='action-name'>Create</span> Request Attributes

Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="multi-option-required-data">agent_uuid*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">moxi_works_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="required-data">body</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span> |
|<span class="required-data">moxi_works_contact_id †</span>|<span class="required-data"><span class="data-type">String</span></span>| <span class="required-data">255</span>
|<span class="required-data">partner_contact_id †</span>|<span class="required-data"><span class="data-type">String</span></span>| <span class="required-data">255</span>
|<span class="required-data">title</span>|<span class="required-data"><span class="data-type">String</span></span>| <span class="required-data">85</span> |

<span class="multi-option-required-data"> * Either <span class='attribute-name'>moxi_works_agent_id</span> or <span class='attribute-name'>agent_uuid</span> must be supplied. For guidance on which Agent identifier better fits your use-case, see [Agent Identifiers](#agent-identifiers)</span>


<span class="multi-option-required-data"> † Either <span class='attribute-name'>moxi_works_contact_id</span> or <span class='attribute-name'>partner_contact_id</span> must be supplied.</span>



<span class="required-data">**Required Parameters Are In Red**</span>


<span class="request-data-head">agent_uuid</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the agent which an  <span class='entity-name'>ActionLog</span> entry is associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID. <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>ActionLog</span> request to be accepted.</span>

<span class="request-data-head">moxi_works_agent_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the agent which an  <span class='entity-name'>ActionLog</span> entry is associated with. This will be a string that may take the form of an email address, or a unique identification string. <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> is required and must reference a valid Moxi Works Agent ID for your <span class='entity-name'>ActionLog</span> request to be accepted.</span>

<span class="request-data-head">body</span>
<span class="request-data-remarks">This is a human readable string which would be presented to the Agent as the content of the <span class='entity-name'>ActionLog</span> entry. This can be any arbitrary plain-text string which would be practical for the agent to see in the history of events associated with a <span class='entity-name'>Contact</span>. It must be greater than 0 and must be less than 255 characters.</span>


<span class="request-data-head">moxi_works_contact_id</span>
<span class="request-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Contact</span> which this <span class='entity-name'>ActionLog</span> object is to be associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID. This data is required and must reference a valid Moxi Works <span class='entity-name'>Contact</span> ID for your <span class='entity-name'>ActionLog</span> <span class='action-name'>Create</span>  request to be accepted. This is the same as the <span class='attribute-name'>moxi_works_contact_id</span> attribute of the  <span class='entity-name'>Contact</span> response.</span>

<span class="request-data-head">partner_contact_id</span>
<span class="request-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that you are creating an <span class='entity-name'>ActionLog</span> entry about. You should have already created the <span class='entity-name'>Contact</span> record on the Moxi Works Platform using [Contact Create](/#contact-create) before attempting to use the contact ID to create an <span class='entity-name'>ActionLog</span> entry about the <span class='entity-name'>Contact</span>. Your request will be rejected if the <span class='entity-name'>Contact</span> record does not exist.</span>
<span class="request-data-head">title</span>
<span class="request-data-remarks">This is the human readable plain-text string which will be presented to the Agent as the heading of the <span class='entity-name'>ActionLog</span> entry. This can be any short, descriptive sentence which would be practical for the agent to see in the history of events associated with a <span class='entity-name'>Contact</span>.</span>


##### <span class='entity-name'>ActionLog</span> <span class='action-name'>Create</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>ActionLog</span> response for a <span class='action-name'>Create</span> request.

<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>ActionLog</span> <span class='action-name'>Create</span> (using <span class='attribute-name'>agent_uuid</span>) Response Payload Example
</span></div></blockquote>

```json

  {
  "agent_uuid": "12345678-1234-1234-1234-1234567890ab",
  "partner_contact_id": "mySystemsContactId",
  "type": "log_entry_type",
  "timestamp": 1462234227,
  "title": "Contact Called",
  "body": "this contact called you"
}
```

<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>ActionLog</span> <span class='action-name'>Create</span> (using <span class='attribute-name'>moxi_works_agent_id</span> and <class='attribute-name'>moxi_works_contact_id</span>) Response Payload Example
</span></div></blockquote>

```json

  {
  "moxi_works_agent_id": "1234abcd",
  "moxi_works_contact_id": "22345678-1234-1234-1234-1234567890ab",
  "type": "log_entry_type",
  "timestamp": 1462234227,
  "title": "Contact Called",
  "body": "this contact called you"
}
```

<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label"><span class='entity-name'>ActionLog</span> <span class='action-name'>Create</span> Failure Response</span>
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json
{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

###### <span class='action-name'>Create</span> Response Attributes

Attribute | Type|
-----|-----|-----|-----|
|<span class="multi-option-response-data">agent_uuid*</span>|<span class="data-type">String</span>| |
|<span class="multi-option-response-data">moxi_works_agent_id*</span>|<span class="data-type">String</span>| |
|<span class="response-data">body</span>|<span class="data-type">String</span>| |
|<span class="response-data">moxi_works_contact_id †</span>|<span class="data-type">String</span>| |
|<span class="response-data">partner_contact_id †</span>|<span class="data-type">String</span>| |
|<span class="response-data">timestamp</span>|<span class="data-type">Integer</span>| |
|<span class="response-data">title</span>|<span class="data-type">String</span>| |

<span class='multi-option-response-data'> * Either <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>moxi_works_agent_id</span> will be returned depending on whether it is used in the request. The response payload object's agent identifier key will match the passed parameter.</span>


<span class='multi-option-response-data'> † Either <span class='attribute-name'>moxi_works_contact_id</span> or <span class='attribute-name'>partner_contact_id</span> will be returned depending on whether it is used in the request. The response payload object's agent identifier key will match the passed parameter.</span>


<span class="response-data-head">agent_uuid</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the agent which an <span class='entity-name'>ActionLog</span> entry is associated with. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">moxi_works_agent_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the agent which an <span class='entity-name'>ActionLog</span> entry is associated with. This will be a string that may take the form of an email address, or a unique identification string.</span>


<span class="response-data-head">body</span>
<span class="response-data-remarks">This is a human readable string which would be presented to the Agent as the content of the <span class='entity-name'>ActionLog</span> entry. This can be any arbitrary plain-text string which would be practical for the agent to see in the history of events associated with a <span class='entity-name'>Contact</span>. This should be the same as the data sent in the <span class='attribute-name'>body</span> parameter of the <span class='entity-name'>ActionLog</span> <span class='action-name'>Create</span> request.</span>

<span class="response-data-head">moxi_works_contact_id</span>
<span class="response-data-remarks">This is the Moxi Works Platform ID of the <span class='entity-name'>Contact</span> that you are creating an <span class='entity-name'>ActionLog</span> entry about. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID.</span>

<span class="response-data-head">partner_contact_id</span>
<span class="response-data-remarks">This is the unique identifer you use in your system that has been associated with the <span class='entity-name'>Contact</span> that you are creating an <span class='entity-name'>ActionLog</span> entry about. You should have already created the <span class='entity-name'>Contact</span> record on the Moxi Works Platform using [Contact Create](/#contact-create)</span>

<span class="response-data-head">timestamp</span>
<span class="response-data-remarks">This is the Unix timestamp for the creation time of the <span class='entity-name'>ActionLog</span> entry.</span>

<span class="response-data-head">title</span>
<span class="response-data-remarks">This is the human readable plain-text string which will be presented to the Agent as the heading of the <span class='entity-name'>ActionLog</span> entry. This may be any short, descriptive sentence which would be practical for the agent to see in the history of events associated with a <span class='entity-name'>Contact</span>. This should be the same as the data sent in the <span class='attribute-name'>title</span> parameter of the <span class='entity-name'>ActionLog</span> <span class='action-name'>Create</span> request.</span></span>
