#### <span class='entity-name'>ActionLog</span> <span class='action-name'>Delete</span>

<div class='highlight ruby'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-ruby/MoxiworksPlatform/ActionLog.html#Delete-class_method'>Ruby <span class='action-name'>Delete</span> Docs</a></span></blockquote></div>

<div class='highlight php'><blockquote><span class='data-example-label'><a href='http://moxiworks-platform.github.io/moxiworks-php/classes/MoxiworksPlatform.ActionLog.html#method_delete'>PHP <span class='action-name'>Delete</span> Docs</a></span></blockquote></div>

<div class='highlight csharp'><blockquote><span class='data-example-label'><a href='https://moxiworks-platform.github.io/moxiworks-dotnet/class_moxi_works_1_1_platform_1_1_action_log_service.html#aacf0242063ee7000877c44d02134bd39'>.Net <span class='action-name'>ActionLogService.DeleteActionLogAsync</span> Docs</a></span></blockquote></div>

> <span class="data-example-label"><span class='entity-name'>ActionLog </span><span class='action-name'>Delete</span> (using <span class='attribute-name'>agent_uuid</span>) Request Example</span>


```json
{
  "moxi_works_action_log_id":"12345678-1234-1234-1234-1234567890ab",
}

```

```http
POST /api/action_logs HTTP/1.1
Host: api.moxiworks.com
Accept: application/vnd.moxi-platform+json;version=1
Authorization: Basic XNNeXAAAUZaQlF0dA==
Content-Type: application/x-www-form-urlencoded


moxi_works_action_log_id=12345678-1234-1234-1234-1234567890ab

```

```csharp

/* set up prerequisites once */
ConfigurationManager.AppSettings["Secret"] = "secret";
ConfigurationManager.AppSettings["Identifier"] = "abc123";


var actionLog = new ActionLog();
actionLog.MoxiWorksActionLogId = "12345678-1234-1234-1234-1234567890ab";

var service = new ActionLogService(new MoxiWorksClient());
var result = service.DeleteActionLogAsync(actionLog).Result;

```

```ruby
###### set up prerequisites once
require 'moxiworks_platform'

platform_identifier = 'abc123'

platform_secret = 'secret'

MoxiworksPlatform::Credentials.new(platform_identifier, platform_secret)
##### end prerequisites

moxi_works_action_log = MoxiworksPlatform::ActionLog.delete(
    moxi_works_action_log_id: "12345678-1234-1234-1234-1234567890ab"      )

```

```php
<?php
$platform_identifier = 'abc123'; // platorm_identifier provided by MoxiWorks Platform Rep
$platform_secret = 'secret'; //platform_secret provided by MoxiWorks Platform Rep

$credentials = new MoxiworksPlatform\Credentials($platform_identifier, $platform_secret);

$moxi_works_action_log = MoxiworksPlatform\ActionLog::delete([
        'moxi_works_action_log_id' => '12345678-1234-1234-1234-1234567890ab']);
?>

```


<aside class="note">Send a <b>DELETE</b> request to https://api.moxiworks.com/api/action_logs/[moxi_works_action_log_id]</aside>

When deleting an <span class='entity-name'>ActionLog</span> using the MoxiWorks platform API, format your request using the following parameters.


##### <span class='entity-name'>ActionLog</span> <span class='action-name'>Delete</span> Request Attributes

Attribute | Type | Length Limit |
-----|-----|-----|-----|
|<span class="required-data">moxi_works_action_log_id</span>|<span class="required-data"><span class="data-type">String</span></span>|<span class="required-data">255</span> |
|<span class="multi-option-required-data">agent_uuid*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">moxi_works_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="multi-option-required-data">source_agent_id*</span>|<span class="multi-option-required-data"><span class="data-type">String</span></span>| <span class="multi-option-required-data">255</span>
|<span class="optional-data">moxi_works_company_id</span>|<span class="data-type">String</span>|  |
|<span class="optional-data">parent_company_id</span>|<span class="data-type">String</span>| 255 |

<span class="required-data">**Required Parameters Are In Red**</span>

<span class="request-data-head">moxi_works_action_log_id</span>
<span class="request-data-remarks">This is the MoxiWorks Platform ID of the  <span class='entity-name'>ActionLog</span> entry to be deleted. This will be an [RFC 4122](https://tools.ietf.org/html/rfc4122) compliant UUID. </span>

<span class="request-data-head multi-option-required-data"><span class='attribute-name'>moxi_works_agent_id</span> or <span class='attribute-name'>agent_uuid</span> or <span class='attribute-name'>source_agent_id</span></span>
<span class="request-data-remarks">**One of these parameters must be supplied** Please reference [Agent Identifiers](#agent-identifiers) for information about how to construct your agent identifier request params.</span>

<span class="request-data-head">moxi_works_company_id</span>
<span class="request-data-remarks">A valid MoxiWorks <span class='entity-name'>Company</span> ID. Use [Company Endpoint](#company) to determine what <span class='attribute-name'>moxi_works_company_id</span> you can use.</span>

<span class="request-data-head">parent_company_id</span>
<span class="request-data-remarks">This is the <span class='attribute-name'>numeric_id</span> or <span class='attribute-name'>moxi_works_company_id</span> of a company that is considered to be a parent company in the MoxiWorks Platform. This request attribute has two functions:<br><br>	**1.** It provides for a broad scope by which partners may be afforded permissions to perform MoxiWorks Platform actions, in scenarios where a partner does business with a parent company in the MoxiWorks System.<br>	**2.** It provides broad scope under which agents may be looked up using the <span class='attribute-name'>source_agent_id</span> request attribute in many scenarios across different MoxiWorks Platform endpoints and actions.<br><br>	**Please note** that this attribute cannot be used as a replacement for the <span class='attribute-name'>moxi_works_company_id</span> request attribute in scenarios where the <span class='attribute-name'>moxi_works_company_id</span> request attribute is required by the action.<br><br>	**Please note** that this attribute cannot be used to broaden scope of any request where the scope of the request is defined by the <span class='attribute-name'>moxi_works_company_id</span> request attribute.<br><br>	**Please note** that when passed in conjunction with the <span class='attribute-name'>moxi_works_company_id</span> request attribute, the value of <span class='attribute-name'>moxi_works_company_id</span> request attribute must be the numeric id form.<br><br>	Any use of this request attribute must be coordinated with MoxiWorks Platform Partner services. Please reach out to partner services for more information.</span>


##### <span class='entity-name'>ActionLog</span> <span class='action-name'>Delete</span> Response Payload
The following attributes make up the payload of the <span class='entity-name'>ActionLog</span> response for a <span class='action-name'>Delete</span> request.

<blockquote><div class='highlight json' style="display: block">
<span class='data-example-label'><span class='entity-name'>ActionLog</span> <span class='action-name'>Delete</span> Response Payload Example
</span></div></blockquote>

```json

{
    "status": "success",
    "deleted": true,
    "messages": [
        "ActionLog entry a0be9654-06df-44f0-af8c-057967cf579a deleted"
    ]
}
```


<blockquote><div class='highlight json' style="display: block">
<span class="data-example-label"><span class='entity-name'>ActionLog</span> <span class='action-name'>Delete</span> Failure Response</span>
</div> See <a href='#error-handling'>Error Handling</a> for details about individual error codes.</blockquote>

```json
{
  "status":"fail",
  "errorCode": xxx,
  "messages": ["messages"]
}

```

###### <span class='action-name'>Delete</span> Response Attributes

Attribute | Type|
-----|-----|-----|-----|
|<span class="response-data">status</span>|<span class="data-type">String</span>| |
|<span class="response-data">deleted</span>|<span class="data-type">Boolean</span>| |
|<span class="response-data">messages</span>|<span class="data-type">Array</span>| |




<span class="response-data-head">status</span>
<span class="response-data-remarks">This will indicate what the status of the request is.</span>

<span class="response-data-head">deleted</span>
<span class="response-data-remarks">This will indicate whether the delete request was successful or not.</span>

<span class="response-data-head">messages</span>
<span class="response-data-remarks">This is an arrray of strings. Any messages associated with the delete request status will be contained in this array. </span>
